Flask==2.2.3
Flask-Session==0.4.0
captcha==0.4
chess==1.9.4
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
Pillow==9.5.0
alembic==1.10.3
beautifulsoup4==4.12.1
bleach==6.0.0
daemonize==2.5.0
filelock==3.10.7
gunicorn==20.1.0
htmllistparse==0.6.0
imagehash==4.3.1
jsonrpclib==0.2.1
matplotlib==3.7.1
msgpack==1.0.5
ntplib==0.4.0
opencv-python==4.7.0.72
pandas==2.0.0
pydub==0.25.1
pycryptodome==3.17
pycurl==7.45.2
pyro5==5.14
python-gnupg==0.5.0
requests[socks]==2.28.2
requests-toolbelt==0.10.1
setuptools==67.6.1
sortedcontainers==2.4.0
sqlalchemy==2.0.8  # latest (2.0.3) causes high CPU load and prevents communication with daemon
stem==1.8.1
user_agent==0.1.10
wget==3.2
wtforms==3.0.1
zipstream-ng==1.5.0

# utils/stegano dependency
piexif==1.1.3
