Flask==1.1.2
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
Pillow==8.0.1
alembic==1.4.3
beautifulsoup4==4.9.3
bleach==3.2.1
filelock==3.0.12
gunicorn==20.0.4
htmllistparse==0.5.2
ntplib==0.3.4
opencv-python==4.4.0.46
pydub==0.24.1
pyminizip==0.2.4
pycryptodome==3.9.9
python-gnupg==0.4.6
requests[socks]==2.25.0
requests-toolbelt==0.9.1
sortedcontainers==2.3.0
stem==1.8.0
user_agent==0.1.9
wget==3.2
wtforms==2.3.3

# utils/stegano dependency
piexif==1.1.3
