[Unit]
Description=I2P Router written in C++
Documentation=man:i2pd(1) https://i2pd.readthedocs.io/en/latest/
After=network.target

[Service]
User=bitchan
Group=bitchan
RuntimeDirectory=i2pd
RuntimeDirectoryMode=0700
LogsDirectory=i2pd
LogsDirectoryMode=0700
Type=forking
ExecStart=/usr/local/bin/i2pd --conf=/usr/local/bitchan/i2pd/i2pd.conf --datadir /usr/local/bitchan/i2pd_data --tunnelsdir=/usr/local/bitchan/i2pd/tunnels.conf.d --pidfile=/run/i2pd/i2pd.pid --logfile=/usr/local/bitchan/log/i2pd.log --daemon --service
ExecReload=/bin/sh -c "kill -HUP $MAINPID"
PIDFile=/run/i2pd/i2pd.pid
Restart=on-failure

# Use SIGTERM to stop i2pd immediately.
# Some cleanup processes can delay stopping, so we set 30 seconds timeout and then SIGKILL i2pd.
KillSignal=SIGTERM
TimeoutStopSec=30s
SendSIGKILL=yes

# If you have problems with hanging i2pd, you can try increase this
LimitNOFILE=8192
# To enable write of coredump uncomment this
#LimitCORE=infinity

[Install]
WantedBy=multi-user.target
