{% extends "layout.html" %}

{% block title %}Address Book - {% endblock %}

{% block head %}
    <style>
        .table th, td {
            text-align: left;
            padding: 0.3em;
        }
    </style>
{% endblock %}

{% block body %}
    {% include '/elements/banner.html' %}
    <br/>

    {% if status_msg["status_message"] %}
        {% include '/elements/status.html' %}
    {% endif %}

    <div class="container">
        <div class="themed" style="max-width: 800px;">
            <div style="width: 100%; text-align: center;">
                <h1 class="title themed bold">Address Book</h1>
            </div>
            {% if address_book %}
            <div style="width: 100%; text-align: center; padding-top: 2em; padding-bottom: 1em">
                <table class="table">
                    <tr>
                        <td></td>
                        <td>Address</td>
                        <td>Label</td>
                        <td></td>
                    </tr>
                    {% for address, each_entry in address_book.items() %}
                    <form method="post">
                    <input type="hidden" id="address" name="address" value="{{address}}"/>
                    <tr>
                        <td>
                            <img style="width: 25px; height: 25px" src="/icon/{{address}}">
                        </td>
                        <td style="font-family: monospace">
                            {{address}}
                            {% include '/elements/template_address_dropdown.html' %}
                        </td>
                        <td>
                            <input type="text" name="add_label" value="{{each_entry["label"]}}"/>
                        </td>
                        <td>
                            <input type="submit" name="rename" value="Rename"/>
                            <input type="submit" name="delete" value="Delete"/>
                        </td>
                    </tr>
                    </form>
                    {% endfor %}
                </table>
            </div>
            {% else %}
            <div style="width: 100%; text-align: center;">
                No Address Book Entries Found
            </div>
            {% endif %}

            <div style="width: 100%; text-align: center; padding-bottom: 2em">
                <form method="post">
                <div class="heading-1 head-center">Add to Address Book</div>

                <div>
                    <label style="display: block" for="label">Label</label>
                    <input type="text" id="label" name="label"/>
                </div>
                <div>
                    <label style="display: block" for="address">Address</label>
                    <input type="text" id="address" name="address"/>
                </div>
                <div>
                    <label style="display: block">&nbsp;</label>
                    <input type="submit" name="add" value="Add to Address Book"/>
                </div>
                </form>
            </div>
        </div>
    </div>

    {% include '/elements/display_boards.html' %}
    {% include '/elements/display_lists.html' %}
    {% include '/elements/footer_links.html' %}
    <div style="padding-top: 1em"></div>
{% endblock %}
