{% extends "layout.html" %}

{% block title %}Boards - {% endblock %}

{% block head %}
<style>
    .table th, td {
        text-align: left;
        padding: 0.3em;
    }

    .table-heading {
        text-decoration: underline;
        text-align: left;
    }

    .wrap {
        text-align: center;
    }
    .outer {
        display: inline-block;
        margin: 0 auto;
    }
</style>
{% endblock %}

{% block body %}
    {% include '/elements/display_boards.html' %}
    {% include '/elements/display_lists.html' %}
    {% include '/elements/display_pages.html' %}
    {% include '/elements/banner.html' %}
    <br/>

    {% if status_msg["status_message"] %}
        {% include '/elements/status.html' %}
    {% endif %}

    <h1 class="title themed bold" style="text-align: center">Boards</h1>

    <table class="themed" style="margin-left: auto; margin-right: auto;">
        <tr style="background-color: {{themes[get_theme()].posthighlight}};">
            <td colspan="2">Board</td>
            <td>Address</td>
        </tr>
    {% for address in chans_board_info if table_chan.query.filter(table_chan.address == address).count() and
                                          (global_admin or
                                             (not global_admin and
                                              not chans_board_info[address]["db"].unlisted and
                                              not chans_board_info[address]["db"].restricted)
                                          ) %}
        {% set board = {"current_chan": table_chan.query.filter(table_chan.address == address).first()} %}
        {% set passphrase_base64, passphrase_base64_with_pgp = get_chan_passphrase(address) %}
        {% set rules = json.loads(board["current_chan"].rules) %}
        {% set primary_addresses = chans_board_info[address]["primary_addresses"] %}
        {% set secondary_addresses = chans_board_info[address]["secondary_addresses"] %}
        {% set tertiary_addresses = chans_board_info[address]["tertiary_addresses"] %}
        {% set restricted_addresses = chans_board_info[address]["restricted_addresses"] %}

        <tr>
            <td rowspan="2" style="padding-top: 8px; vertical-align: top"><img style="position: relative; width: 35px; height: 35px" src="/icon/{{address}}"></td>
            <td><a class="link" href="/board/{{address}}/1">/{{chans_board_info[address]["label_short"]|safe}}/ - {{chans_board_info[address]["description"]|safe}}</a></td>
            <td><a class="link" style="font-family: monospace" href="/board/{{address}}/1">{{address}}</a></td>
        </tr>
        <tr>
            <td colspan="2" style="padding-bottom: 0.5em">
                <details>
                <summary class="smallacc">Details</summary>
                    <div style="padding: 0.5em; text-align: center">
                        <div style="padding: 0.5em">
                            <img src="/icon/{{address}}">
                        </div>

                        {%- if address in command_options and
                                "long_description_display" in command_options[address] -%}
                        <div class="container">
                            <div style="max-width: 800px;">
                                <div class="themed" style="width: 100%; text-align: left;">
                                    {{command_options[address]["long_description_display"]|safe}}
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if board['current_chan'].hide_passphrase %}
                        <div class="themed" style="padding-bottom: 0.5em">
                            The current configuration does not permit board passphrases to be shown
                        </div>
                        {% else %}

                            {% set passphrase_base64_escaped = html.escape(passphrase_base64) %}
                            {% set passphrase_base64_with_pgp_escaped = html.escape(passphrase_base64_with_pgp) %}

                        <span class="themed">Board Join Link{% if passphrase_base64 != passphrase_base64_with_pgp %}s{% endif %}:</span>
                        <div style="padding-bottom: 0.5em">
                            <a class="link" href="http://172.28.1.1:8000/join_base64/{{passphrase_base64_escaped}}">Link</a>
                            {%- if passphrase_base64 != passphrase_base64_with_pgp -%}
                            , <a class="link" href="http://172.28.1.1:8000/join_base64/{{passphrase_base64_with_pgp_escaped}}">Link With PGP Passphrases</a>
                            {% endif %}
                        </div>

                        <span class="themed">BitChan Board Passphrase</span>
                        <div style="padding-bottom: 0.5em">
                            <input type="text" id="passphrase" value="{{board['current_chan'].passphrase}}"> <button type="button" class="btn" title="Copy to Clipboard" onclick="CopyElemID('passphrase')">&#128203;</button>
                        </div>

                        <span class="themed">Message PGP Passphrase</span>
                        <div style="padding-bottom: 0.5em">
                            <form method="post" style="display: inline-block;" enctype="multipart/form-data">
                                <input type="text" id="pgp_passphrase_msg" name="pgp_passphrase_msg" value="{{board['current_chan'].pgp_passphrase_msg}}">
                            </form>
                            <button type="button" class="btn" title="Copy to Clipboard" onclick="CopyElemID('pgp_passphrase_msg')">&#128203;</button>
                        </div>

                        <span class="themed">Attachment PGP Passphrase</span>
                        <div style="padding-bottom: 0.5em">
                            <form method="post" style="display: inline-block;" enctype="multipart/form-data">
                                <input type="text" id="pgp_passphrase_attach" name="pgp_passphrase_attach" value="{{board['current_chan'].pgp_passphrase_attach}}">
                            </form>
                            <button type="button" class="btn" title="Copy to Clipboard" onclick="CopyElemID('pgp_passphrase_attach')">&#128203;</button>
                        </div>

                        <span class="themed">Steg PGP Passphrase</span>
                        <div style="padding-bottom: 0.5em">
                            <form method="post" style="display: inline-block;" enctype="multipart/form-data">
                                <input type="text" id="pgp_passphrase_steg" name="pgp_passphrase_steg" value="{{board['current_chan'].pgp_passphrase_steg}}">
                            </form>
                            <button type="button" class="btn" title="Copy to Clipboard" onclick="CopyElemID('pgp_passphrase_steg')">&#128203;</button>
                        </div>
                        {% endif %}

                        {% if rules %}
                        <span class="themed">Rules:</span>
                        {% include '/elements/rules.html' %}
                        {% endif %}

                        <div class="themed" style="padding-bottom: 0.5em">
                            {% include '/elements/accordion_access.html' %}
                        </div>

                        <span class="themed">Options:</span>
                        <form method="post" action="/set_info_options/{{board['current_chan'].address}}" enctype="multipart/form-data">
                        {%- if board['current_chan'].address in command_options and
                               "css" in command_options[board['current_chan'].address] -%}
                        <div class="themed" style="padding-top: 0.5em">
                            Custom CSS (Status: {% if board['current_chan'].allow_css %}Allowed{% else %}Disallowed{% endif %})&nbsp;
                            {%- if board['current_chan'].allow_css -%}
                                <input type="submit" name="disallow_css" value="Disallow CSS"/>
                            {%- else -%}
                                <input type="submit" name="allow_css" value="Allow CSS"/>
                            {%- endif -%}
                        </div>
                        <div style="padding-bottom: 0.5em">
                            <textarea rows="6" maxlength="246250" class="form" style="width: 100%; box-sizing: border-box;" id="css_disabled" name="css_disabled" disabled>{{command_options[board['current_chan'].address]["css"]}}</textarea>
                        </div>
                        {%- endif -%}
                        </form>
                        {% if not settings.enable_kiosk_mode or
                              (settings.enable_kiosk_mode and settings.kiosk_only_admin_access_mod_log and logged_in and has_permission("is_global_admin")) or
                              (settings.enable_kiosk_mode and not settings.kiosk_only_admin_access_mod_log) -%}
                        <div>
                            <a class="link" href="/mod_log/{{board['current_chan'].address}}/1">This Board's Mod Log</a>
                        </div>
                        {% endif %}
                        <div>
                            <a class="link" href="/leave/{{board['current_chan'].address}}">Leave Board</a>
                        </div>
                    </div>
                </details>
            </td>
        </tr>
    {% endfor %}
    </table>

    <div style="padding-top: 1em"></div>

    {% include '/elements/display_boards.html' %}
    {% include '/elements/display_lists.html' %}
    {% include '/elements/display_pages.html' %}
    <div style="padding-top: 1em"></div>
{% endblock %}
