{% extends "layout.html" %}

{% block title %}Diag{% endblock %}

{% block head %}
    <style>
        .table th, td {
            text-align: left;
            padding: 0.3em;
        }
    </style>
{% endblock %}

{% block body %}
    {% include '/elements/banner.html' %}
    <br/>

    {% if status_msg["status_message"] %}
        {% include '/elements/status.html' %}
    {% endif %}

    <table class="table themed" style="margin: auto">
        <tr>
            <td colspan=2 style="text-align: center; padding-bottom: 1em">
                <h1 class="title themed bold">Diag</h1>
            </td>
        </tr>
        <tr>
            <td colspan=2 style="text-align: center; padding-bottom: 1em">
                <form method="post">
                    <input type="submit" name="del_inventory" value="Delete Bitmessage Inventory"/>
                </form>
            </td>
        </tr>
        <tr>
            <td colspan=2 style="text-align: center; padding-bottom: 1em">
                <form method="post">
                    <input type="submit" name="del_trash" value="Delete Bitmessage Trash"/>
                </form>
            </td>
        </tr>
    </table>

    {% include '/elements/display_boards.html' %}
    {% include '/elements/display_lists.html' %}
    {% include '/elements/footer_links.html' %}
    <div style="padding-top: 1em"></div>
{% endblock %}
