{% extends "layout.html" %}

{% block title %}Diag - {% endblock %}

{% block head %}
    <script>
    function toggle(source, name) {
        var inputs = document.getElementsByTagName("input");
        for (let x=0; x<inputs.length; x++){
            if (inputs[x].type == "checkbox" &&
                    inputs[x].name.indexOf(name) == 0) {
                inputs[x].checked = source.checked;
            }
        }
    }
    </script>
    <style>
        .table th, td {
            text-align: left;
            padding: 0.3em;
        }
        tr:nth-child(odd) {
            background-color: {{themes[get_theme()].posthighlight}};
        }

        .wrap {
            text-align: center;
        }
        .outer {
            display: inline-block;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block body %}
    {% include '/elements/banner.html' %}
    <br/>

    {% if status_msg["status_message"] %}
        {% include '/elements/status.html' %}
    {% endif %}

<div class='wrap'>

    <h1 class="title themed bold" style="text-align: center">Diagnostics</h1>

    <table class="table themed" style="max-width: 900px; text-align: left; margin-left: auto; margin-right: auto;">
        <tr>
            <td><a class="link" href="http://{{config.I2P_HOST}}:{{config.I2P_WEBUI_PORT}}">I2P User Interface</a></td>
            <td>Purple i2p daemon web user interface.</td>
        </tr>
        <tr>
            <td><a class="link" href="http://{{config.QBITTORRENT_HOST}}:{{config.QBITTORRENT_PORT}}">qBittorrent User Interface</a></td>
            <td>qBittorrent web user interface.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="stop_bitmessage_and_daemon" value="Stop Bitmessage and Daemon"/>
                </form>
            </td>
            <td>Stop Bitmessage and the BitChan Daemon.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="start_bitmessage_and_daemon" value="Start Bitmessage and Daemon"/>
                </form>
            </td>
            <td>Start Bitmessage and the BitChan Daemon.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="restart_bitmessage" value="Restart Bitmessage"/>
                </form>
            </td>
            <td>Restart Bitmessage (Daemon is required to be running for this command to work).</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="del_inventory" value="Delete Bitmessage messages.dat"/>
                </form>
            </td>
            <td>Delete messages.dat and restart Bitmessage. Useful to download the entire blockchain again after clearing the deleted message table and deleting the bitmessage trash in order to restore posts that were previously deleted. Can also fix some rare issues with bitmessage if this file becomes corrupt.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="del_trash" value="Delete Bitmessage Trash"/>
                </form>
            </td>
            <td>Empty the Bitmessage trash.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="del_deleted_msg_db" value="Clear Deleted Message Table"/>
                </form>
            </td>
            <td>When posts are deleted in BitChan, an entry with that message ID is created to indicate that message has been deleted. If a message from Bitmessage arrives with that same message ID, it is deleted and not processed. If you would like to restore posts that have been deleted, first clear the deleted message table, then delete the Bitmessage inventory.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="del_deleted_thread_db" value="Clear Deleted Thread Table"/>
                </form>
            </td>
            <td>When threads are deleted in BitChan, an entry with that thread hash is created to indicate that thread has been deleted. If a message from Bitmessage arrives indicating it's from that thread, it is deleted and not processed. If you would like to restore posts for a thread that has been deleted, first clear the deleted thread table, then clear the message table, then delete the Bitmessage inventory.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="del_non_bc_msg_list" value="Clear Non-BitChan Message List"/>
                </form>
            </td>
            <td>If a message in Bitmessage arrives that cannot be decrypted by BitChan, it is assumed to be a non-BitChan message and its message ID is added as an entry to the Non_BitChan message table in the database.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="del_mod_log" value="Delete Mod Log"/>
                </form>
            </td>
            <td>Delete all Mod Log Entries.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="del_orphaned_identities" value="Delete Orphaned Identities"/>
                </form>
            </td>
            <td>Identities: In BC, not BM: {{orphaned_identities_bc}}; in BM, not BC: {{orphaned_identities_bm}}. Delete all Identities not found in Bitmessage (orphaned). Consider backing up from the Configuration page before deleting orphaned Identities.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="add_orphaned_identities" value="Recreate Orphaned Identities"/>
                </form>
            </td>
            <td>Identities: In BC, not BM: {{orphaned_identities_bc}}; in BM, not BC: {{orphaned_identities_bm}}. If an Identity exists in BitChan but not Bitmessage, instruct Bitmessage to generate the Identities.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="del_posts_without_thread" value="Delete Posts Without a Thread"/>
                </form>
            </td>
            <td>Delete all posts that are found to not have a thread associated with them. This will not delete posts for which there is not OP in the thread, but posts that have a missing thread ID.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="fix_thread_board_timestamps" value="Fix Thread and Board Timestamps"/>
                </form>
            </td>
            <td>Scan boards and threads and set the latest sent timestamp based on the latest post per thread and latest thread per board.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="fix_thread_short_hashes" value="Fix Thread Short Hashes"/>
                </form>
            </td>
            <td>Scan threads and generates the short truncated hash from the full hash. Useful if the short hash wasn't generated properly.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="fix_chan_thread_timestamps" value="Fix Chan and Thread Timestamps"/>
                </form>
            </td>
            <td>Set threads to the latest message timestamp and chan to the latest thread timestamp.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="reset_downloads" value="Reset Downloads"/>
                </form>
            </td>
            <td>Reset all downloads. Fixes issues with downloads, e.g. when a server restart during a download.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="start_all_downloads" value="Start All Downloads"/>
                </form>
            </td>
            <td>Starts all pending post downloads.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="recheck_attachments" value="Recheck Attachments"/>
                </form>
            </td>
            <td>Scan messages with pending attachment downloads, check if attachments already exist, and fix attachment display for messages.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="delete_orphaned_attachments" value="Delete Orphaned Attachments"/>
                </form>
            </td>
            <td>Delete attachments for posts that do not exist.</td>
        </tr>
          <tr>
            <td>
                <form method="post">
                    <input type="submit" name="delete_all_torrents" value="Delete All Torrents and DB Entries"/>
                </form>
            </td>
            <td>Delete all torrents, their data, and torrent DB entries.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="regenerate_reply_post_ids" value="Regenerate Reply Post IDs"/>
                </form>
            </td>
            <td>Regenerate Post ID lists for posts replied to and posts being replied from.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="regenerate_all_thumbnails" value="Regenerate All Thumbnails"/>
                </form>
            </td>
            <td>Regenerate all post attachment thumbnails.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="text" id="regenerate_post_thumbnails_id" name="regenerate_post_thumbnails_id"/>
                    <input type="submit" name="regenerate_post_thumbnails" value="Regenerate Post Thumbnails"/>
                </form>
            </td>
            <td>Enter the post ID to regenerate the attachment thumbnails of that post.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="regenerate_all_html" value="Regenerate All HTML"/>
                </form>
            </td>
            <td>Regenerate post, popup, and card HTML.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="text" id="regenerate_post_id" name="regenerate_post_id"/>
                    <input type="submit" name="regenerate_post_html" value="Regenerate Post HTML"/>
                </form>
            </td>
            <td>Enter the post ID to regenerate the HTML of that post.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="text" id="regenerate_thread_post_id" name="regenerate_thread_post_id"/>
                    <input type="submit" name="regenerate_thread_post_html" value="Regenerate HTML of all Posts of Thread"/>
                </form>
            </td>
            <td>Enter the ID of any post in a thread to regenerate the HTML of all posts in that thread.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="text" id="decrypt_regenerate_post_id" name="decrypt_regenerate_post_id"/>
                    <input type="submit" name="decrypt_regenerate_post_html" value="Decrypt and Regenerate Post HTML"/>
                </form>
            </td>
            <td>Enter the post ID to decrypt and regenerate the HTML of that post. Decryption will use the currently-stored passphrases.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="decrypt_regenerate_post_all_html" value="Decrypt and Regenerate HTML for All Empty Posts"/>
                </form>
            </td>
            <td>Decrypt and regenerate the HTML for all posts that should have text and are blank. Decryption will use the currently-stored passphrases.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="regenerate_popup_html" value="Regenerate Popup HTML"/>
                </form>
            </td>
            <td>Message popups that display posts have their HTML generated once upon their first load, then this saved HTML is used every subsequent query. If new code is created to generate the popup HTML, the saved popup HTML needs to be deleted for the new code to generate popups that were created prior to the new code being implemented.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="regenerate_cards" value="Regenerate Card HTML"/>
                </form>
            </td>
            <td>Card HTML is generated and saved the first time a card is called for. If new code is created to generate the card HTML, the saved card HTML needs to be deleted for the new code to generate cards that were created prior to the new code being implemented.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="regenerate_all_post_html" value="Regenerate Post HTML"/>
                </form>
            </td>
            <td>Regenerate all cached post HTML.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="regenerate_upload_sites" value="Regenerate Upload Sites"/>
                </form>
            </td>
            <td>Regenerate all post attachment upload sites. Warning: This will delete all upload sites before recreating them. Save any information you want to preserve before running.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="regenerate_hashes" value="Regenerate All Attachment Hashes"/>
                </form>
            </td>
            <td>Regenerate all post attachment SHA256 hashes. If there are a lot of attachments, this can take a while to complete. A thread will be spawned to do this in the background.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="del_game_table" value="Delete Game Data"/>
                </form>
            </td>
            <td>Database Entries: {{game_entry_count}}. Delete all columns in the Game database table.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" name="del_captcha_table" value="Delete Captcha Data"/>
                </form>
            </td>
            <td>Database Entries: {{captcha_entry_count}}. Delete all columns in the Captcha database table.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="text" id="delete_post_id" name="delete_post_id"/>
                    <input type="submit" name="delete_post_id_submit" value="Delete Post by ID"/>
                </form>
            </td>
            <td>To delete a post, enter the post ID.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <input type="text" id="bulk_delete_threads_address" name="bulk_delete_threads_address"/>
                    <input type="submit" name="bulk_delete_threads_submit" value="Bulk Delete Threads"/>
                </form>
            </td>
            <td>To delete threads in bulk, leave the address field blank to load the latest 100 threads, or enter a board address to load all threads for a specific board. On the next page, you can select in bulk which threads to delete. It is also possible to delete threads from the Recent and Search pages, however this feature will only show threads, rather than threads and posts.</td>
        </tr>
        <tr>
            <td>
                <form method="post">
                    <textarea rows="7" id="knownnodes_dat_txt" name="knownnodes_dat_txt"></textarea>
                    <input type="submit" name="knownnodes_submit" value="Combine with knownnodes.dat"/>
                </form>
            </td>
            <td>Paste the contents of knownnodes.dat from another Bitmessage that's been running and connecting to nodes and it will be combined with BitChan's Bitmessage knownnodes.dat.</td>
        </tr>
    </table>

    {% if flask_session_login %}
    <h1 class="title themed bold" style="padding-top: 1em; text-align: center">User Login</h1>

    <div class="container">
        <div class="themed" style="max-width: 800px;">
            <div style="width: 100%; padding-bottom: 2em;">
                <table class="table themed" style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <td>UUID</td>
                        <td>Logged In</td>
                        <td>ID</td>
                        <td>Single Session</td>
                        <td>Admin</td>
                    </tr>
            {% for each_id, each_data in flask_session_login.items() %}
                    <tr>
                        <td>{{each_id}}</td>
                        <td>{{each_data['logged_in']}}</td>
                        <td>{% if each_data['credentials'] %}{{each_data['credentials']['name']}}{% endif %}</td>
                        <td>{% if each_data['credentials'] %}{{each_data['credentials']['single_session']}}{% endif %}</td>
                        <td>{% if each_data['credentials'] %}{{each_data['credentials']['global_admin']}}{% endif %}</td>
                    </tr>
            {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="heading-2 head-center themed">Messages Sending</div>

    <div class='outer' style="padding: 1.5em 0 3em 0">
    {% if sending_msgs %}
        <form method="post">
            <table class="themed">
                <tr>
                    <td>
                        <input type="checkbox" onClick="toggle(this, 'delsendingmsgid_')"/>
                    </td>
                    <td>From</td>
                    <td>To</td>
                    <td>lastactiontime</td>
                    <td>Size</td>
                    <td>status</td>
                </tr>
        {% for each_row in sending_msgs %}
            {% set from_label, from_desc, from_type = get_chan_mod_info(each_row[1]) %}
            {% set to_label, to_desc, to_type = get_chan_mod_info(each_row[2]) %}
                <tr>
                    <td>
                        <input type="checkbox" id="delsendingmsgid_{{each_row[0]}}" name="delsendingmsgid_{{each_row[0]}}" value="y">
                    </td>
                    <td>{{each_row[1]}}{% if from_label %} (/{{from_label|safe}}/){% endif %}</td>
                    <td>{{each_row[2]}}{% if to_label %} (/{{to_label|safe}}/){% endif %}</td>
                    <td>{{each_row[3]}}{% if each_row[3] %} ({{timestamp_to_date(each_row[3])}}){% endif %}</td>
                    <td>{% if each_row[4] %}{{human_readable_size(each_row[4])}}{% endif %}</td>
                    <td>{{each_row[5]}}</td>
                </tr>
        {% endfor %}
            </table>
            <input type="submit" name="del_sending_msg" value="Cancel Sending Selected Messages"/>
        </form>
    {% else %}
        <div class="themed">No Messages Sending</div>
    {% endif %}
    </div>

    <div class="heading-2 head-center themed">Banned File Hashes</div>

    <div class='outer' style="padding: 1.5em 0 1em 0">
        <form method="post">
            <table class="themed" style="padding-bottom: 0.5em">
                <tr>
                    <td>Name (optional)</td>
                    <td><input type="text" id="hash_name" name="hash_name"/></td>
                </tr>
                <tr>
                    <td>Board Addresses (CSV, optional)</td>
                    <td><input type="text" id="board_addresses" name="board_addresses"/></td>
                </tr>
                <tr>
                    <td>SHA256 Hash</td>
                    <td><input type="text" id="hash_to_ban" name="hash_to_ban"/></td>
                </tr>
                <tr>
                    <td>Image Hash</td>
                    <td><input type="text" id="imagehash_to_ban" name="imagehash_to_ban"/></td>
                </tr>
                <tr>
                    <td>Image File (optional)</td>
                    <td>TODO</td>
                </tr>
                <tr>
                    <td>Delete Current Posts</td>
                    <td><input type="checkbox" id="delete_present_posts" name="delete_present_posts" value="y" checked/></td>
                </tr>
                <tr>
                    <td>Delete Current Threads (if OP)</td>
                    <td><input type="checkbox" id="delete_present_threads" name="delete_present_threads" value="y" checked/></td>
                </tr>
            </table>

            <div class="themed">
                Note: SHA256/Image hashes will be generated from Image File.
            </div>

            <div class="themed" style="padding-top: 1em; padding-bottom: 2em">
                <input type="submit" name="add_banned_hash" value="Ban File Hash"/>
            </div>
        </form>
    </div>

    <div style="padding-top: 0.5em"></div>

    <div class='outer' style="padding: 0.5em 0 3em 0">
    {% if banned_hashes %}
        <form method="post">
            <table class="themed" style="padding-bottom: 1em">
                <tr>
                    <td><input type="checkbox" onClick="toggle(this, 'delhashes_id_')"/></td>
                    <td>Thumb</td>
                    <td>Name</td>
                    <td>Board Addresses (CSV)</td>
                    <td>SHA256 Hash</td>
                    <td>Image Hash</td>
                </tr>
        {% for each_row in banned_hashes %}
                <tr>
                    <td><input type="checkbox" id="delhashes_id_{{each_row.id}}" name="delhashes_id_{{each_row.id}}" value="y"></td>
                    <td>{% if each_row.thumb_b64 %}<img src="/files/banned_thumb/{{each_row.id}}/banned_thumb.jpeg">{% endif %}</td>
                    <td><input type="text" id="hashname_{{each_row.id}}" name="hashname_{{each_row.id}}" value="{{each_row.name}}"/></td>
                    <td><input type="text" id="boardaddress_{{each_row.id}}" name="boardaddress_{{each_row.id}}" value="{{each_row.only_board_address}}"/></td>
                    <td style="font-family: monospace">{{each_row.hash}}</td>
                    <td style="font-family: monospace">{{each_row.imagehash}}</td>
                </tr>
        {% endfor %}
            </table>

            <input type="submit" name="edit_hash_table" value="Edit Bans"/>
            <input type="submit" name="del_banned_hashes" value="Unban Selected Hashes"/>
        </form>
    {% else %}
            <div class="themed">No Banned File Hashes</div>
    {% endif %}
    </div>

    <div class="heading-2 head-center themed">Banned Words/Regex</div>

    <div class='outer' style="padding: 1.5em 0 1em 0">
        <form method="post">
            <table class="themed" style="padding-bottom: 0.5em">
                <tr>
                    <td>Name (optional)</td>
                    <td><input type="text" id="word_name" name="word_name"/></td>
                </tr>
                <tr>
                    <td>Board Addresses (CSV, optional)</td>
                    <td><input type="text" id="word_board_addresses" name="word_board_addresses"/></td>
                </tr>
                <tr>
                    <td>Word/String/Regex</td>
                    <td><input type="text" id="word_to_ban" name="word_to_ban"/></td>
                </tr>
                <tr>
                    <td>Is Regex?</td>
                    <td><input type="checkbox" id="word_is_regex" name="word_is_regex" value="y"/></td>
                </tr>
                <tr>
                    <td>Delete Current Posts</td>
                    <td><input type="checkbox" id="word_delete_present_posts" name="word_delete_present_posts" value="y" checked/></td>
                </tr>
                <tr>
                    <td>Delete Current Threads (if OP)</td>
                    <td><input type="checkbox" id="word_delete_present_threads" name="word_delete_present_threads" value="y" checked/></td>
                </tr>
            </table>

            <div class="themed" style="padding-top: 1em; padding-bottom: 2em">
                <input type="submit" name="add_banned_word" value="Ban Word"/>
            </div>
        </form>
    </div>

    <div style="padding-top: 0.5em"></div>

    <div class='outer' style="padding: 0.5em 0 3em 0">
    {% if banned_words %}
        <form method="post">
            <table class="themed" style="padding-bottom: 1em">
                <tr>
                    <td><input type="checkbox" onClick="toggle(this, 'delwords_')"/></td>
                    <td>Name</td>
                    <td>Board Addresses (CSV)</td>
                    <td>Word</td>
                    <td>Is Regex</td>
                </tr>
        {% for each_row in banned_words %}
                <tr>
                    <td><input type="checkbox" id="delwords_{{each_row.id}}" name="delwords_{{each_row.id}}" value="y"></td>
                    <td><input type="text" id="wordname_{{each_row.id}}" name="wordname_{{each_row.id}}" value="{{each_row.name}}"/></td>
                    <td><input type="text" id="wordboardaddress_{{each_row.id}}" name="wordboardaddress_{{each_row.id}}" value="{{each_row.only_board_address}}"/></td>
                    <td><input type="text" id="wordword_{{each_row.id}}" name="wordword_{{each_row.id}}" value="{{each_row.word}}"/></td>
                    <td><input type="checkbox" id="isregexword_{{each_row.id}}" name="isregexword_{{each_row.id}}" value="y" {% if each_row.is_regex %} checked{% endif %}/></td>
                </tr>
        {% endfor %}
            </table>

            <input type="submit" name="edit_word_table" value="Edit Words"/>
            <input type="submit" name="del_banned_words" value="Unban Selected Words"/>
        </form>
    {% else %}
            <div class="themed">No Banned Words</div>
    {% endif %}
    </div>

    <div class="heading-2 head-center themed">String Replacement</div>

    <div class='outer' style="padding: 1.5em 0 1em 0">
        <form method="post">
            <table class="themed" style="padding-bottom: 0.5em">
                <tr>
                    <td>Name (optional)</td>
                    <td><input type="text" id="string_name" name="string_name"/></td>
                </tr>
                <tr>
                    <td>Board Addresses (CSV, optional)</td>
                    <td><input type="text" id="string_board_addresses" name="string_board_addresses"/></td>
                </tr>
                <tr>
                    <td>String to Replace</td>
                    <td><input type="text" id="string_to_replace" name="string_to_replace"/></td>
                </tr>
                <tr>
                    <td>Regex to Match</td>
                    <td><input type="text" id="regex_to_match" name="regex_to_match"/></td>
                </tr>
                <tr>
                    <td>String to Replace With</td>
                    <td><input type="text" id="string_to_replace_with" name="string_to_replace_with"/></td>
                </tr>
            </table>

            <div class="themed" style="padding-top: 1em; padding-bottom: 2em">
                <input type="submit" name="add_string_replacement" value="Add String Replacement"/>
            </div>
        </form>
    </div>

    <div style="padding-top: 0.5em"></div>

    <div class='outer' style="padding: 0.5em 0 3em 0">
    {% if replaced_strings %}
        <form method="post">
            <table class="themed" style="padding-bottom: 1em">
                <tr>
                    <td><input type="checkbox" onClick="toggle(this, 'delwords_')"/></td>
                    <td>Name</td>
                    <td>Board Addresses (CSV)</td>
                    <td>String to Replace</td>
                    <td>Regex</td>
                    <td>String to Replace With</td>
                </tr>
        {% for each_row in replaced_strings %}
                <tr>
                    <td><input type="checkbox" id="delstringreplace_{{each_row.id}}" name="delstringreplace_{{each_row.id}}" value="y"></td>
                    <td><input type="text" id="stringrepname_{{each_row.id}}" name="stringrepname_{{each_row.id}}" value="{{each_row.name}}"/></td>
                    <td><input type="text" id="stringrepboardaddress_{{each_row.id}}" name="stringrepboardaddress_{{each_row.id}}" value="{{each_row.only_board_address}}"/></td>
                    <td><input type="text" id="stringtoreplace_{{each_row.id}}" name="stringtoreplace_{{each_row.id}}" value="{{each_row.string}}"/></td>
                    <td><input type="text" id="regexreplace_{{each_row.id}}" name="regexreplace_{{each_row.id}}" value="{{each_row.regex}}"/></td>
                    <td><input type="text" id="stringtoreplacewith_{{each_row.id}}" name="stringtoreplacewith_{{each_row.id}}" value="{{each_row.string_replacement}}"/></td>

                </tr>
        {% endfor %}
            </table>

            <input type="submit" name="edit_string_table" value="Edit String Replacements"/>
            <input type="submit" name="del_string_replacement" value="Delete Selected String Replacements"/>
        </form>
    {% else %}
            <div class="themed">No String Replacements</div>
    {% endif %}
    </div>

    <div style="padding-top: 1em"></div>
</div>
{% endblock %}
