<table class="text-formatting">
    <tr style="font-weight: bold;">
        <td>Type</td>
        <td>Format</td>
        <td>Example</td>
    </tr>
    <tr>
        <td>Green Text</td>
        <td>&gt;green</td>
        <td><span class="greentext">&gt;green</span></td>
    </tr>
    <tr>
        <td>Pink Text</td>
        <td>&lt;pink</td>
        <td><span style="color: #E0727F">&lt;pink</span></td>
    </tr>
    <tr>
        <td>Bold</td>
        <td>@@bold@@</td>
        <td><strong>bold</strong></td>
    </tr>
    <tr>
        <td>Italics</td>
        <td>~~italics~~</td>
        <td><i>italics</i></td>
    </tr>
    <tr>
        <td>Underline</td>
        <td>__underline__</td>
        <td><span style="text-decoration: underline;">underline</span></td>
    </tr>
    <tr>
        <td>Strikethrough</td>
        <td>++strikethrough++</td>
        <td><s>strikethrough</s></td>
    </tr>
    <tr>
        <td>Highlight</td>
        <td>``highlight``</td>
        <td><mark>highlight</mark></td>
    </tr>
    <tr>
        <td>Center (adds new line)</td>
        <td>[center]center[/center]</td>
        <td><div style="text-align:center;">center</div></td>
    </tr>
    <tr>
        <td>Backwards</td>
        <td>[back]back[/back]</td>
        <td><bdo dir="rtl">back</bdo></td>
    </tr>
    <tr>
        <td>Caps</td>
        <td>[cap]caps[/cap]</td>
        <td><span style="font-variant: small-caps;">caps</span></td>
    </tr>
    <tr>
        <td>Kerning</td>
        <td>[kern]kern[/kern]</td>
        <td><span style="letter-spacing: 5px;">kern</span></td>
    </tr>
    <tr>
        <td>Superscript</td>
        <td>^^superscript^^</td>
        <td>This is <sup style="font-size: smaller;">superscript</sup></td>
    </tr>
    <tr>
        <td>Subscript</td>
        <td>%%subscript%%</td>
        <td>This is <sub style="font-size: smaller;">subscript</sub></td>
    </tr>
    <tr>
        <td>Small</td>
        <td>$$smol$$</td>
        <td><span class="replace-small">smol</span></td>
    </tr>
    <tr>
        <td>Big</td>
        <td>##big##</td>
        <td><span class="replace-big">big</span></td>
    </tr>
    <tr>
        <td>Spoiler</td>
        <td>**spoiler**</td>
        <td><span class="replace-spoiler">spoiler</span></td>
    </tr>
    <tr>
        <td>Red</td>
        <td>^rred^r</td>
        <td><span style="color:#F00000">red</span></td>
    </tr>
    <tr>
        <td>Blue</td>
        <td>^bblue^b</td>
        <td><span style="color:#57E8ED">blue</span></td>
    </tr>
    <tr>
        <td>Orange</td>
        <td>^oorange^o</td>
        <td><span style="color:#FFA500">orange</span></td>
    </tr>
    <tr>
        <td>Cyan</td>
        <td>^ccyan^c</td>
        <td><span style="color:#3F99CC">cyan</span></td>
    </tr>
    <tr>
        <td>Purple</td>
        <td>^ppurple^p</td>
        <td><span style="color:#A248A5">purple</span></td>
    </tr>
    <tr>
        <td>Brown</td>
        <td>^tbrown^t</td>
        <td><span style="color:#B67C55">brown</span></td>
    </tr>
    <tr>
        <td>Candy</td>
        <td>[candy]candy[/candy]</td>
        <td><span style="color: blue;">c</span><span style="color: red;">a</span><span style="color: blue;">n</span><span style="color: red;">d</span><span style="color: blue;">y</span></td>
    </tr>
    <tr>
        <td>Custom Color</td>
        <td>[color=(#32CD32)]lime green[/color]</td>
        <td><span style="color: #32CD32;">lime green</span></td>
    </tr>
    <tr>
        <td>Shadow</td>
        <td>^sshadow^s</td>
        <td><span class="replace-shadow">shadow</span></td>
    </tr>
    <tr>
        <td>Flashing</td>
        <td>[flash]flashing[/flash]</td>
        <td><span class="replace-blinking">flashing</span></td>
    </tr>
    <tr>
        <td>Rainbow</td>
        <td>[meme]meme[/meme]</td>
        <td><span style="background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">meme</span></td>
    </tr>
    <tr>
        <td>Animated Rainbow</td>
        <td>[autism]autism[/autism]</td>
        <td><span class="animated">autism</span></td>
    </tr>
    <tr>
        <td>Rotate Single Character<br/>(1-359 degrees)</td>
        <td>[rot=45]C[/rot]</td>
        <td><span style="transform: rotate(45deg); -webkit-transform: rotate(45deg); display: inline-block;">C</span></td>
    </tr>
    <tr>
        <td>ASCII Art </td>
        <td style="white-space: nowrap;"><pre>[aa]        /\_/\
   ____/ o o \
 /~____  =ø= /
(______)__m_m)[/aa]</pre></td>
        <td><span class="language-ascii-art">        /\_/\
   ____/ o o \
 /~____  =ø= /
(______)__m_m)</span></td>
    </tr>
    <tr>
        <td>ASCII Art </td>
        <td style="white-space: nowrap;"><pre>[aa-s]        /\_/\
   ____/ o o \
 /~____  =ø= /
(______)__m_m)[/aa-s]</pre></td>
        <td><span class="language-ascii-art-s">        /\_/\
   ____/ o o \
 /~____  =ø= /
(______)__m_m)</span></td>
    </tr>
    <tr>
        <td>ASCII Art </td>
        <td style="white-space: nowrap;"><pre>[aa-xs]        /\_/\
   ____/ o o \
 /~____  =ø= /
(______)__m_m)[/aa-xs]</pre></td>
        <td><span class="language-ascii-art-xs">        /\_/\
   ____/ o o \
 /~____  =ø= /
(______)__m_m)</span></td>
    </tr>
</table>
