{% extends "layout.html" %}

{% block title %}Help - {% endblock %}

{% block head %}
<script>
    $(window).scroll(function() {
        var height = $(window).scrollTop();
        if (height > 100) {
            $('#back2Top').fadeIn();
            $('#back2Bottom').fadeOut();
        } else {
            $('#back2Bottom').fadeIn();
            $('#back2Top').fadeOut();
        }
    });

    $(document).ready(function() {
        $("#back2Top").click(function(event) {
            event.preventDefault();
            $("html, body").animate({scrollTop: 0}, "slow");
            return false;
        });
        $("#back2Bottom").click(function(event) {
            event.preventDefault();
            $("html, body").animate({scrollTop: $(document).height()}, "slow");
            return false;
        });
    });
</script>
<style>
    p {
        padding: 0.3em 0;
    }
    .text-functions table {
        border: 1px solid black;
    }
    .text-functions th, td {
        border: 1px solid black;
        padding: 0.8em;
    }
    code {
        font-family: monospace
    }
    h1 {
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    h2 {
        display: block;
        font-size: 1.5em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    h3 {
        display: block;
        font-size: 1.17em;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    h4 {
        display: block;
        font-size: 1em;
        margin-top: 1.33em;
        margin-bottom: 1.33em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
</style>
{% endblock %}

{% block body %}
    <a id="back2Top" title="Back to top" style="display: none" href="#">&GreaterGreater;</a>
    <a id="back2Bottom" title="Go to Bottom" href="#">&GreaterGreater;</a>
    {% include '/elements/banner.html' %}
    <br/>

    <div class="container">
        <div class="themed" style="max-width: 800px;">
            {% include '/pages/manual.html' %}
        </div>
    </div>

    <div style="padding-top: 2em"></div>
    {% include '/elements/display_boards.html' %}
    {% include '/elements/display_lists.html' %}
    {% include '/elements/footer_links.html' %}
    <div style="padding-top: 1em"></div>
{% endblock %}
