{% extends "layout.html" %}

{% block title %}Help - {% endblock %}

{% block head %}
<style>
    p {
        padding: 0.3em 0;
    }
    table {
        border: 1px solid black;
    }
    th, td {
        border: 1px solid black;
        padding: 0.8em;
    }
    code {
        font-family: monospace
    }
    h1 {
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    h2 {
        display: block;
        font-size: 1.5em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    h3 {
        display: block;
        font-size: 1.17em;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    h4 {
        display: block;
        font-size: 1em;
        margin-top: 1.33em;
        margin-bottom: 1.33em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
</style>
{% endblock %}

{% block body %}
    {% include '/elements/banner.html' %}
    <br/>

    <div class="themed" style="max-width: 1600px; padding: 0.5em; margin-left: auto; margin-right: auto;">
        {% include '/pages/manual.html' %}
    </div>

    <div style="padding-top: 2em"></div>
    {% include '/elements/display_boards.html' %}
    {% include '/elements/display_lists.html' %}
    {% include '/elements/display_pages.html' %}
    <div style="padding-top: 1em"></div>
{% endblock %}
