{% extends "layout.html" %}

{% block head %}
    <style>
        .column {
          float: left;
          width: 24%;
          padding: 0 0.5%;
        }

        /* Remove extra left and right margins, due to padding in columns */
        .row {margin: 0 -5px;}

        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }

        /* Responsive columns - one column layout (vertical) on small screens */
        @media screen and (max-width: 600px) {
          .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
          }
        }

        .three-dots {
          text-align: center;
          padding: 0.2em 0 0.5em 0;
        }

        .three-dots span {
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: black;
          display: inline-block;
          margin: 0 3px;
        }
    </style>
{% endblock %}

{% block body %}
    {% include '/elements/display_boards.html' %}
    {% include '/elements/display_lists.html' %}
    {% include '/elements/banner.html' %}
    <br/>

    {% if status_msg["status_message"] %}
        {% include '/elements/status.html' %}
    {% endif %}

    <div class="intro themed center">
        <h1 class="title themed bold">Welcome to BitChan {{config.VERSION_BITCHAN}}</h1>
        {{current_time}}
    {%- if not settings.enable_kiosk_mode or logged_in -%}
        , <a class="bold link" href="/mailbox/0/0/0/0">{{unread_mail}} Unread Messages</a>
    {% endif -%}

    {% if inventory_timer %}
        <br/>Bitmessage Resync in {{inventory_timer}} seconds
    {% endif %}

    {% if settings.home_page_msg %}
        <div class="themed" style="padding-top: 1em">
            {{settings.home_page_msg|safe}}
        </div>
    {% endif %}
    </div>

    {% if newest_posts and settings.chan_update_display_number %}
    <div class="intro themed">
        <a class="link" style="margin-top: -10px; margin-left: -10px" href="/overboard/0/1">Overboard</a> / <a class="link" href="/recent/0/1">Recent</a>
        {% for each_chan in newest_posts %}
            {% if loop.index <= settings.chan_update_display_number %}
                {% if newest_posts[each_chan]["type"] == "board" %}
        <div class="themed" style="padding: {% if not loop.first %}1.5em{% else %}0{% endif %} 0 0.5em 0.25em" title="Last Post {{timestamp_to_date(newest_posts[each_chan]['latest_timestamp'])}}">
            <br/>Board: <a class="link" style="font-size: 1.2em;" href="/board/{{each_chan.address}}/1">/{{chans_board_info[each_chan.address]["label"]|safe}}/ - {{chans_board_info[each_chan.address]["description"]|safe}}</a>
            [<a class="link" title="Catalog" href="/overboard/{{each_chan.address}}/1">C</a>
            / <a class="link" title="Recent" href="/recent/{{each_chan.address}}/1">R</a>
            {%- if not settings.enable_kiosk_mode or
                   (settings.enable_kiosk_mode and settings.kiosk_only_admin_access_mod_log and logged_in and has_permission("is_global_admin")) or
                   (settings.enable_kiosk_mode and not settings.kiosk_only_admin_access_mod_log) %}
            / <a class="link" title="Mod Log" href="/mod_log/{{each_chan.address}}/1">M</a>
            {%- endif -%}
            ]
            <span style="font-size: 0.7em">{{newest_posts[each_chan]['total_threads']}} Thread{% if newest_posts[each_chan]['total_threads'] > 1 %}s{% endif %}, {{newest_posts[each_chan]['total_posts']}} Post{% if newest_posts[each_chan]['total_posts'] > 1 %}s{% endif %}{% if newest_posts[each_chan]["wipe_epoch"] %}, Wipe in {{wipe_time_left(newest_posts[each_chan]["wipe_epoch"], show_seconds=False)}}{% endif %}</span>
        </div>
        <div class="row">
                    {% for each_thread_hash in newest_posts[each_chan]["threads"] %}
                        {% set thread_options = get_thread_options(each_thread_hash) %}
            <div class="column">
                <div class="themed" style="font-size: 0.7em; padding-left: 0.25em; padding-bottom: 0.25em">
                    {{newest_posts[each_chan]["threads"][each_thread_hash]["last_post_past"]}} ago |
                    {{newest_posts[each_chan]["threads"][each_thread_hash]["ppm"]}} PPM
                    {% if newest_posts[each_chan]["threads"][each_thread_hash]["total_posts"] > 100 %}
                    | <a class="link" style="font-size: 1em;" href="/thread/{{each_chan.address}}/{{each_thread_hash}}?last=100">Last 100</a>
                    {% endif %}
                    {% if thread_options["sticky"] %}
                        <img style="position: relative; top: 1px; height: 10px" title="Stickied{% if thread_options['sticky_local'] %} (Local){% endif %}{% if thread_options['sticky_remote'] %} (Remote){% endif %}" src="/static/
                        {%- if thread_options['sticky_local'] and not thread_options['sticky_remote'] -%}
                            pin_green.png
                        {%- elif not thread_options['sticky_local'] and thread_options['sticky_remote'] -%}
                            pin_red.png
                        {%- else -%}
                            pin_green_red.png
                        {%- endif -%}
                        ">
                    {% endif %}

                    {% if thread_options["lock"] %}
                        <img style="position: relative; top: 1px; height: 10px" title="Locked{% if thread_options['lock_local'] %} (Local){% endif %}{% if thread_options['lock_remote'] %} (Remote){% endif %}" src="/static/
                        {%- if thread_options['lock_local'] and not thread_options['lock_remote'] -%}
                            lock_green.png
                        {%- elif not thread_options['lock_local'] and thread_options['lock_remote'] -%}
                            lock_red.png
                        {%- else -%}
                            lock_green_red.png
                        {%- endif -%}
                        ">
                    {% endif %}

                    {% if thread_options["anchor"] %}
                        <img style="position: relative; top: 1px; height: 10px" title="Anchored{% if thread_options['anchor_local'] %} (Local){% endif %}{% if thread_options['anchor_remote'] %} (Remote){% endif %}" src="/static/
                        {%- if thread_options['anchor_local'] and not thread_options['anchor_remote'] -%}
                            anchor_green.png
                        {%- elif not thread_options['anchor_local'] and thread_options['anchor_remote'] -%}
                            anchor_red.png
                        {%- else -%}
                            anchor_green_red.png
                        {%- endif -%}
                        ">
                    {% endif %}
                </div>
                {{generate_card(each_thread_hash)|safe}}
            </div>
                    {% endfor %}
        </div>
                {% elif newest_posts[each_chan]["type"] == "list" %}
                    {% set custom_banner = is_custom_banner(each_chan.address) %}
        <div class="themed" style="padding: {% if not loop.first %}2em{% else %}0{% endif %} 0 {% if custom_banner %}0.15em{% else %}0.5em{% endif %} 0.25em">
            <br/>List: <a class="link" style="font-size: 1.2em;" href="/list/{{each_chan.address}}">/{{chans_list_info[each_chan.address]["label"]|safe}}/ - {{chans_list_info[each_chan.address]["description"]|safe}}</a>
                    {% if not settings.enable_kiosk_mode or
                          (settings.enable_kiosk_mode and settings.kiosk_only_admin_access_mod_log and logged_in and has_permission("is_global_admin")) or
                          (settings.enable_kiosk_mode and not settings.kiosk_only_admin_access_mod_log) %}
            [<a class="link" title="Mod Log" href="/mod_log/{{each_chan.address}}/1">M</a>]
                    {% endif %}
            <span style="font-size: 0.7em">{{newest_posts[each_chan]['list_entries']}} Entries{% if newest_posts[each_chan]["wipe_epoch"] %}, Wipe in {{wipe_time_left(newest_posts[each_chan]["wipe_epoch"], show_seconds=False)}}{% endif %}</span>
        </div>
                    {% if custom_banner %}
        <div>
            <a href="/list/{{each_chan.address}}"><img style="width: 300px; height: auto;" src="/banner/{{each_chan.address}}"/></a>
        </div>
                    {% endif %}
        <div class="themed" style="font-size: 0.7em; padding-left: 0.25em">
            {{newest_posts[each_chan]['last_post_past']}} ago | {{timestamp_to_date(newest_posts[each_chan]['latest_timestamp'])}}
        </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% include '/elements/display_boards.html' %}
    {% include '/elements/display_lists.html' %}
    <div style="padding-top: 1em"></div>
{% endblock %}
