{% extends "layout.html" %}

{% block title %}Join or Create a Board or List - {% endblock %}

{% block body %}
    {% include '/elements/banner.html' %}
    <br/>

    {% if status_msg["status_message"] %}
        {% include '/elements/status.html' %}
    {% endif %}

    <div class="container">
        <form method="post" enctype="multipart/form-data" autocomplete="off">

    {% if stage == "start" %}

            <input name="stage" value="start" type="hidden">
            <div style="max-width: 600px; text-align: center;">
                <div style="width: 100%; text-align: center;">
                    <h1 class="title themed bold">Join or Create a Board or List</h1>
                </div>
                <div class="container">
                    <select name="join_type">
                        <option value="join">Join Board or List</option>
                        <option value="public_board">Create Public Board</option>
                        <option value="private_board">Create Private Board</option>
                        <option value="public_list">Create Public List</option>
                        <option value="private_list">Create Private List</option>
                    </select>
                </div>
                <div class="container">
                    <input type="submit" name="next" value="Next"/>
                </div>
            </div>

    {% elif stage == "join_passphrase" and chan_exists %}

            <div class="themed" style="text-align: center;">
                You are already a member of <a class="link" href="
                    {%- if dict_chan_info['type'] == 'board' -%}
                    /board/{{chan_exists.address}}/1
                    {%- elif dict_chan_info['type'] == 'list' -%}
                    /list/{{chan_exists.address}}
                    {%- endif -%}
                    ">/{{dict_chan_info["label"]|safe}}/ - {{dict_chan_info["description"]|safe}}</a>
            </div>

    {% elif stage == "join_passphrase" %}

        <div style="max-width: 800px">

            <input name="stage" value="join_passphrase" type="hidden">
            <div style="text-align: center;">
                <h1 class="title themed bold">
                    Join
            {% if dict_chan_info["access"] == "public" %}
                    Public
            {% elif dict_chan_info["access"] == "private" %}
                    Private
            {% endif %}
            {% if dict_chan_info["type"] == "board" %}
                    Board
            {% elif dict_chan_info["type"] == "list" %}
                    List
            {% endif %}
                </h1>
            </div>
            <div style="text-align: center;">
                <h1 class="title themed bold">
                    /{{dict_chan_info["label"]|safe}}/ - {{dict_chan_info["description"]|safe}}
                </h1>
            </div>

            {% set rules = dict_chan_info["rules"] %}
            {% set primary_addresses = dict_chan_info["primary_addresses"] %}
            {% set secondary_addresses = dict_chan_info["secondary_addresses"] %}
            {% set tertiary_addresses = dict_chan_info["tertiary_addresses"] %}
            {% set restricted_addresses = dict_chan_info["restricted_addresses"] %}

            {% if rules %}
            <span class="themed">Rules:</span>
            {% include '/elements/rules.html' %}
            {% endif %}

            <div class="themed" style="padding-bottom: 0.5em">
                {% include '/elements/accordion_access.html' %}
            </div>

            {% if dict_chan_info["extra_string"] %}
            <div class="themed" style="padding-bottom: 0.5em">
                <div>Extra String</div>
                <div>{{dict_chan_info["extra_string"]}}</div>
            </div>
            {% endif %}

            <div class="themed" style="padding-top: 0.5em">
                <div>Message PGP Passphrase</div>
                <div>Warning: Only change this if you know what you are doing.</div>
                {% if pgp_passphrase_msg == config.PGP_PASSPHRASE_MSG %}
                <div>Note: This is the default passphrase. A non-default passphrase was not supplied by the join link.</div>
                {% else %}
                <div>Note: This is a non-default passphrase that was supplied by the join link.</div>
                {% endif %}
                <input style="width: 100%" name="pgp_passphrase_msg" value="{{pgp_passphrase_msg}}">
            </div>

            {% if dict_chan_info["type"] == "board" %}
            <div class="themed" style="padding-top: 0.5em">
                <div>Attachment PGP Passphrase</div>
                <div>Warning: Only change this if you know what you are doing.</div>
                {% if pgp_passphrase_attach == config.PGP_PASSPHRASE_ATTACH %}
                <div>Note: This is the default passphrase. A non-default passphrase was not supplied by the join link.</div>
                {% else %}
                <div>Note: This is a non-default passphrase that was supplied by the join link.</div>
                {% endif %}
                <input style="width: 100%" name="pgp_passphrase_attach" value="{{pgp_passphrase_attach}}">
            </div>
            <div class="themed" style="padding-top: 0.5em">
                <div>Steg PGP Passphrase</div>
                <div>Warning: Only change this if you know what you are doing.</div>
                {% if pgp_passphrase_steg == config.PGP_PASSPHRASE_STEG %}
                <div>Note: This is the default passphrase. A non-default passphrase was not supplied by the join link.</div>
                {% else %}
                <div>Note: This is a non-default passphrase that was supplied by the join link.</div>
                {% endif %}
                <input style="width: 100%" name="pgp_passphrase_steg" value="{{pgp_passphrase_steg}}">
            </div>
            {% endif %}

            <div class="themed" style="padding-top: 0.5em">
                <input type="checkbox" id="resync" name="resync" checked value="y"> <label for="resync">Resync to download any available messages sent prior to joining.</label>
            </div>
            <div class="themed" style="padding-top: 0.5em">
                <input type="checkbox" id="unlisted" name="unlisted" value="y"> <label for="unlisted">Make locally unlisted (will not appear on public kiosk pages). Access via the <a class="link" href="/unlisted">unlisted page</a>.</label>
            </div>
            <div class="themed" style="padding-top: 0.5em">
                <input type="checkbox" id="restricted" name="restricted" value="y"> <label for="restricted">Make locally restricted (will not appear on public kiosk pages and attempting to load the page URL will return a 404 Error). Access via the <a class="link" href="/restricted">restricted page</a>.</label>
            </div>
            <div style="padding-top: 1em">
                <input type="submit" name="join" value="Join"/>
            </div>
        </div>

    {% elif stage == "join" %}

        <div style="max-width: 800px">
            <input name="stage" value="join" type="hidden">
            <div style="text-align: center;">
                <h1 class="title themed bold">Join a Board or List</h1>
                <p class="themed" style="padding: 0.5em; max-width: 550px">Enter the BitChan passphrase for a board or list. This is a special formatted passphrase that can be obtained after joining a board or list. This is typically shared to you from someone that has already created a board or list or may be from your backed-up list of passphrases for boards or lists you've previously joined or created.</p>
            </div>
            <div class="themed" style="padding-top: 0.5em">
                <div>BitChan Passphrase</div>
                <input style="width: 100%" name="passphrase" value="">
            </div>
            <div class="themed" style="padding-top: 0.5em">
                <div>Message PGP Passphrase</div>
                <div>Only change this if you want to use a non-default PGP passphrase for messages.</div>
                <div>Warning: If changed, you won't be able to communicate with anyone using the default passphrase.</div>
                <input style="width: 100%" name="pgp_passphrase_msg" value="{{config.PGP_PASSPHRASE_MSG}}">
            </div>
            <div class="themed" style="padding-top: 0.5em">
                <div>Attachment PGP Passphrase</div>
                <div>Only change this if you want to use a non-default PGP passphrase for attachments.</div>
                <div>Warning: If changed, you won't be able to communicate with anyone using the default passphrase.</div>
                <div>Note: Attacmhent PGP Passphrases are only used for boards. This will be ignored if joining a list.</div>
                <input style="width: 100%" name="pgp_passphrase_attach" value="{{config.PGP_PASSPHRASE_ATTACH}}">
            </div>
            <div class="themed" style="padding-top: 0.5em">
                <div>Steg PGP Passphrase</div>
                <div>Only change this if you want to use a non-default PGP passphrase for <a class="link" href="/help#steganography">steganography</a>.</div>
                <div>Warning: If changed, you won't be able to communicate with anyone using the default passphrase.</div>
                <div>Note: Steg PGP Passphrases are only used for boards. This will be ignored if joining a list.</div>
                <input style="width: 100%" name="pgp_passphrase_steg" value="{{config.PGP_PASSPHRASE_STEG}}">
            </div>
            <div class="themed" style="padding-top: 0.5em">
                <input type="checkbox" id="resync" name="resync" checked value="y"> <label for="resync">Resync to download any available messages sent prior to joining.</label>
            </div>
            <div class="themed" style="padding-top: 0.5em">
                <input type="checkbox" id="unlisted" name="unlisted" value="y"> <label for="unlisted">Make locally unlisted (will not appear on public kiosk pages). Access via the <a class="link" href="/unlisted">unlisted page</a>.</label>
            </div>
            <div class="themed" style="padding-top: 0.5em">
                <input type="checkbox" id="restricted" name="restricted" value="y"> <label for="restricted">Make locally restricted (will not appear on public kiosk pages and attempting to load the page URL will return a 404 Error). Access via the <a class="link" href="/restricted">restricted page</a>.</label>
            </div>
            <div style="padding-top: 1em">
                <input type="submit" name="join" value="Join"/>
            </div>
        </div>

    {% elif stage in ["public_board", "private_board", "public_list", "private_list"] %}

        {% if stage == "public_board" %}
            {% set access = "Public" %}
            {% set chan_type = "Board" %}
        {% elif stage == "private_board" %}
            {% set access = "Private" %}
            {% set chan_type = "Board" %}
        {% elif stage == "public_list" %}
            {% set access = "Public" %}
            {% set chan_type = "List" %}
        {% elif stage == "private_list" %}
            {% set access = "Private" %}
            {% set chan_type = "List" %}
        {% endif %}

            <input name="stage" value="{{stage}}" type="hidden">
            <div style="max-width: 600px;">
                <div style="text-align: center;">
                    <h1 class="title themed bold">Create {{access}} {{chan_type}}</h1>
                </div>
                <div class="themed" style="padding: 0.5em">
        {% if stage == "public_board" %}
                    For the public board being created, select the Owner and Admin addresses. User addresses have no effect on public boards. Restricted addresses can not post to the board. Owners can set custom options such as CSS and banner image, among others. Owners and Admins can delete posts and ban users. All other addresses can only create posts. If "Require Identity to Post" is selected, users can only post with an address that is not the address of the board (e.g. create an Identity address to post).
        {% elif stage == "private_board" %}
                    For the private board being created, select the Owner, Admin, and User addresses. Owners can set custom options such as CSS and banner image, among others. Owners and Admins can delete posts and ban users. Users can only create posts. All other addresses can only read posts.
        {% elif stage == "public_list" %}
                    For the public list being created, select the Owner and Admin addresses. User addresses have no effect on public lists. Owners can set custom options such as CSS and banner image, among others. Owners and Admins can add and delete items from the list. All other addresses can only add addresses to the list.
        {% elif stage == "private_list" %}
                    For the private list being created, select the Owner, Admin, and User addresses. Owners can set custom options such as CSS and banner image, among others. Owners and Admins can add and delete items from the list. Users can only add to the list. All other addresses can only read the list.
        {% endif %}

        {% if stage in ["private_board", "private_list"] %}
                    Address selection is permanent and cannot be changed at a later time. Additional addresses can be provided in the Additional Addresses input box, separated by commas (e.g. "BM-237hfstBbaKIYT64sFfsfN9109Bysfqbby,BM-2oDjsytB5N5sb62s1mNwkds08GMsiryYD3")
        {% endif %}
                </div>

                <div class="themed" style="padding-top: 0.5em">
                    <div>{{chan_type}} Label (Required, max {{config.LABEL_LENGTH}} characters)</div>
                    <input style="width: 100%" name="label" value="">
                </div>

                <div class="themed" style="padding-top: 0.5em">
                    <div>{{chan_type}} Description (Required, max {{config.DESCRIPTION_LENGTH}} characters)</div>
                    <input style="width: 100%" name="description" value="">
                </div>

                <div class="themed" style="padding-top: 0.5em">
                    <div>Message PGP Passphrase (max {{config.PGP_PASSPHRASE_LENGTH}} characters)</div>
                    <div>Only change this if you want to use a non-default PGP passphrase for messages.</div>
                    <div>Warning: If changed, you will need to somehow give this PGP passphrase to users joining your board/list.</div>
                    <input style="width: 100%" name="pgp_passphrase_msg" value="{{config.PGP_PASSPHRASE_MSG}}">
                </div>

                {% if stage in ["public_board", "private_board"] %}
                <div class="themed" style="padding-top: 0.5em">
                    <div>Attachment PGP Passphrase (max {{config.PGP_PASSPHRASE_LENGTH}} characters)</div>
                    <div>Only change this if you want to use a non-default PGP passphrase for attachments.</div>
                    <div>Warning: If changed, you will need to somehow give this PGP passphrase to users joining your board/list.</div>
                    <input style="width: 100%" name="pgp_passphrase_attach" value="{{config.PGP_PASSPHRASE_ATTACH}}">
                </div>

                <div class="themed" style="padding-top: 0.5em">
                    <div>Steg PGP Passphrase (max {{config.PGP_PASSPHRASE_LENGTH}} characters)</div>
                    <div>Only change this if you want to use a non-default PGP passphrase for <a class="link" href="/help#steganography">steganography</a>.</div>
                    <div>Warning: If changed, you won't be able to communicate with anyone using the default passphrase.</div>
                    <input style="width: 100%" name="pgp_passphrase_steg" value="{{config.PGP_PASSPHRASE_STEG}}">
                </div>
                {% endif %}

                <div class="themed" style="padding-top: 0.5em">
                    <input type="checkbox" id="require_attachment_op" name="require_attachment_op" value="y"> <label for="require_attachment_op">Rule: {{config.DICT_PERMISSIONS["require_attachment_op"]}}</label>
                </div>

                <div class="themed" style="padding-top: 0.5em">
                    <input type="checkbox" id="require_attachment" name="require_attachment" value="y"> <label for="require_attachment">Rule: {{config.DICT_PERMISSIONS["require_attachment"]}}</label>
                </div>

                <div class="themed" style="padding-top: 0.5em">
                    <input type="checkbox" id="require_pow_to_post" name="require_pow_to_post" value="y"> <label for="require_pow_to_post">Rule: {{config.DICT_PERMISSIONS["require_pow_to_post"]}}</label>
                </div>

                <div class="themed" style="padding-top: 0.5em">
                    <select id="pow_method" name="pow_method">
                        <option value="hashcash">Hashcash</option>
                    </select>
                    <label for="pow_method">Rule: POW Method</label>
                </div>

                <div class="themed" style="padding-top: 0.5em">
                    <input id="pow_difficulty" name="pow_difficulty" value="20"> <label for="pow_difficulty">POW Difficulty (integer)</label>
                </div>

                <div class="themed" style="padding-top: 0.5em">
                    <input id="pow_repetitions" name="pow_repetitions" value="5"> <label for="pow_repetitions">POW Repetitions (integer)</label>
                </div>

                <div class="themed" style="padding-top: 0.5em">
                    <input type="checkbox" id="require_identity_to_post" name="require_identity_to_post" value="y"> <label for="require_identity_to_post">Rule: {{config.DICT_PERMISSIONS["require_identity_to_post"]}}</label>
                </div>

                {% if stage in ["public_board", "private_board"] %}
                <div class="themed" style="padding-top: 0.5em">
                    <input type="checkbox" id="restrict_thread_creation" name="restrict_thread_creation" value="y"> <label for="restrict_thread_creation">Rule: {{config.DICT_PERMISSIONS["restrict_thread_creation"]}}</label>
                </div>
                <div class="themed" style="padding-top: 0.5em">
                    <div>Thread Creation User Addresses (comma-separated)</div>
                    <input style="width: 100%" name="thread_creation_users" value="">
                </div>
                <div class="themed" style="padding-top: 0.5em">
                    <input type="checkbox" id="disallow_attachments" name="disallow_attachments" value="y"> <label for="disallow_attachments">Rule: {{config.DICT_PERMISSIONS["disallow_attachments"]}}</label>
                </div>
                {% endif %}

                <div class="themed" style="padding-top: 0.5em">
                    <input type="checkbox" id="automatic_wipe" name="automatic_wipe" value="y"> <label for="automatic_wipe">Rule: {{config.DICT_PERMISSIONS["automatic_wipe"]}}</label>
                </div>

                {% if stage in ["public_list", "private_list"] %}
                <div class="themed" style="padding-top: 0.5em">
                    <input type="checkbox" id="allow_list_pgp_metadata" name="allow_list_pgp_metadata" value="y"> <label for="allow_list_pgp_metadata">Rule: {{config.DICT_PERMISSIONS["allow_list_pgp_metadata"]}}</label>
                </div>
                {% endif %}

                <div class="themed" style="padding-top: 0.5em">
                    <input name="wipe_epoch" id="wipe_epoch" value="{{time.time()|int}}"> <label for="wipe_epoch">Time of First Clear (Epoch, see <a class="link" target="_blank" href="https://www.epochconverter.com/">Epoch Converter</a>)</label>
                </div>

                <div class="themed" style="padding-top: 0.5em">
                    <input name="interval_seconds" id="interval_seconds" value="2592000"> <label for="interval_seconds">Interval (Seconds, default is 30 days)</label>
                </div>

                <div class="themed" style="padding-top: 0.5em">
                    <div>Extra String (add passphrase entropy, max {{config.PASSPHRASE_EXTRA_STRING_LENGTH}} characters)</div>
                    <input style="width: 100%" name="extra_string" value="">
                </div>

                <div class="themed" style="padding-top: 0.5em">
                    <input type="checkbox" id="resync" name="resync" checked value="y"> <label for="resync">Resync to download any available messages sent prior to joining.</label>
                </div>

                <div class="themed" style="padding-top: 0.5em">
                    <input type="checkbox" id="unlisted" name="unlisted" value="y"> <label for="unlisted">Make locally unlisted (will not appear on public kiosk pages). Access via the <a class="link" href="/unlisted">unlisted page</a>.</label>
                </div>

                <div class="themed" style="padding-top: 0.5em">
                    <input type="checkbox" id="restricted" name="restricted" value="y"> <label for="restricted">Make locally restricted (will not appear on public kiosk pages and attempting to load the page URL will return a 404 Error). Access via the <a class="link" href="/restricted">restricted page</a>.</label>
                </div>

                <p class="themed" style="font-size: 2em">Owner Addresses</p>

        {% if identities %}
                <div class="themed" style="padding-top: 0.5em">
                    <div>My Identity Addresses</div>

                    <section>
                      <details>
                        <summary>Expand Addresses</summary>
                    {% for address in identities %}
                        {% set label = identities[address]["label_short"] %}
                            <div>
                                <input type="checkbox" id="primary_identity_{{address}}" name="primary_identity_{{address}}" value="{{address}}"> <label for="primary_identity_{{address}}">{{address}}{% if label %} ({{label}}){% endif %}</label>
                            </div>
                    {% endfor %}
                      </details>
                    </section>
                </div>
        {% endif %}

        {% if address_book %}
                <div class="themed" style="padding-top: 0.5em">
                    <div>Address Book Addresses</div>

                    <section>
                      <details>
                        <summary>Expand Addresses</summary>
            {% for address in address_book %}
                {% set label = address_book[address]["label_short"] %}
                    <div>
                        <input type="checkbox" id="primary_address_book_{{address}}" name="primary_address_book_{{address}}" value="{{address}}"> <label for="primary_address_book_{{address}}">{{address}}{% if label %} ({{label}}){% endif %}</label>
                    </div>
            {% endfor %}
                      </details>
                    </section>
                </div>
        {% endif %}

        {% if all_chans %}
            {% if chans_board_info %}
                <div class="themed" style="padding-top: 0.5em">
                    <div>Board Addresses</div>

                    <section>
                      <details>
                        <summary>Expand Addresses</summary>
                {% for address in all_chans if address in chans_board_info %}
                    {% set label = all_chans[address]["label_short"] %}
                    <div>
                        <input type="checkbox" id="primary_chans_{{address}}" name="primary_chans_{{address}}" value="{{address}}"> <label for="primary_chans_{{address}}">{{address}}{% if label %} ({{label}}){% endif %}</label>
                    </div>
                {% endfor %}
                      </details>
                    </section>
                </div>
            {% endif %}

            {% if chans_list_info %}
                <div class="themed" style="padding-top: 0.5em">
                    <div>List Addresses</div>

                    <section>
                      <details>
                        <summary>Expand Addresses</summary>
                {% for address in all_chans if address in chans_list_info %}
                    {% set label = all_chans[address]["label_short"] %}
                    <div>
                        <input type="checkbox" id="primary_chans_{{address}}" name="primary_chans_{{address}}" value="{{address}}"> <label for="primary_chans_{{address}}">{{address}}{% if label %} ({{label}}){% endif %}</label>
                    </div>
                {% endfor %}
                      </details>
                    </section>
                </div>
            {% endif %}
        {% endif %}

                <div class="themed" style="padding-top: 0.5em">
                    <div>Additional Addresses (comma-separated, max {{config.PASSPHRASE_ADDRESSES_LENGTH}} characters)</div>
                    <input style="width: 100%" name="primary_additional" value="">
                </div>

                <p class="themed" style="font-size: 2em">Admin Addresses</p>

        {% if identities %}
                <div class="themed" style="padding-top: 0.5em">
                    <div>My Identity Addresses</div>

                    <section>
                      <details>
                        <summary>Expand Addresses</summary>
            {% for address in identities %}
                {% set label = identities[address]["label_short"] %}
                    <div>
                        <input type="checkbox" id="secondary_identity_{{address}}" name="secondary_identity_{{address}}" value="{{address}}"> <label for="secondary_identity_{{address}}">{{address}}{% if label %} ({{label}}){% endif %}</label>
                    </div>
            {% endfor %}
                      </details>
                    </section>
                </div>
        {% endif %}

        {% if address_book %}
                <div class="themed" style="padding-top: 0.5em">
                    <div>Address Book Addresses</div>

                    <section>
                      <details>
                        <summary>Expand Addresses</summary>
            {% for address in address_book %}
                {% set label = address_book[address]["label_short"] %}
                    <div>
                        <input type="checkbox" id="secondary_address_book_{{address}}" name="secondary_address_book_{{address}}" value="{{address}}"> <label for="secondary_address_book_{{address}}">{{address}}{% if label %} ({{label}}){% endif %}</label>
                    </div>
            {% endfor %}
                      </details>
                    </section>
                </div>
        {% endif %}

        {% if all_chans %}
            {% if chans_board_info %}
                <div class="themed" style="padding-top: 0.5em">
                    <div>Board Addresses</div>

                    <section>
                      <details>
                        <summary>Expand Addresses</summary>
                {% for address in all_chans if address in chans_board_info %}
                    {% set label = all_chans[address]["label_short"] %}
                    <div>
                        <input type="checkbox" id="secondary_chans_{{address}}" name="secondary_chans_{{address}}" value="{{address}}"> <label for="secondary_chans_{{address}}">{{address}}{% if label %} ({{label}}){% endif %}</label>
                    </div>
                {% endfor %}
                      </details>
                    </section>
                </div>
            {% endif %}

            {% if chans_list_info %}
                <div class="themed" style="padding-top: 0.5em">
                    <div>List Addresses</div>

                    <section>
                      <details>
                        <summary>Expand Addresses</summary>
                {% for address in all_chans if address in chans_list_info %}
                    {% set label = all_chans[address]["label_short"] %}
                    <div>
                        <input type="checkbox" id="secondary_chans_{{address}}" name="secondary_chans_{{address}}" value="{{address}}"> <label for="secondary_chans_{{address}}">{{address}}{% if label %} ({{label}}){% endif %}</label>
                    </div>
                {% endfor %}
                      </details>
                    </section>
                </div>
            {% endif %}
        {% endif %}

                <div class="themed" style="padding-top: 0.5em">
                    <div>Additional Addresses (comma-separated, max {{config.PASSPHRASE_ADDRESSES_LENGTH}} characters)</div>
                    <input style="width: 100%" name="secondary_additional" value="">
                </div>

        {% if stage in ["private_board", "private_list"] %}

                <p class="themed" style="font-size: 2em">User Addresses</p>

        {% if identities %}
                <div class="themed" style="padding-top: 0.5em">
                    <div>My Identity Addresses</div>

                    <section>
                      <details>
                        <summary>Expand Addresses</summary>
            {% for address in identities %}
                {% set label = identities[address]["label_short"] %}
                    <div>
                        <input type="checkbox" id="tertiary_identity_{{address}}" name="tertiary_identity_{{address}}" value="{{address}}"> <label for="tertiary_identity_{{address}}">{{address}}{% if label %} ({{label}}){% endif %}</label>
                    </div>
            {% endfor %}
                      </details>
                    </section>
                </div>
        {% endif %}

        {% if address_book %}
                <div class="themed" style="padding-top: 0.5em">
                    <div>Address Book Addresses</div>

                    <section>
                      <details>
                        <summary>Expand Addresses</summary>
            {% for address in address_book %}
                {% set label = address_book[address]["label_short"] %}
                    <div>
                        <input type="checkbox" id="tertiary_address_book_{{address}}" name="tertiary_address_book_{{address}}" value="{{address}}"> <label for="tertiary_address_book_{{address}}">{{address}}{% if label %} ({{label}}){% endif %}</label>
                    </div>
            {% endfor %}
                      </details>
                    </section>
                </div>
        {% endif %}

        {% if all_chans %}
            {% if chans_board_info %}
                <div class="themed" style="padding-top: 0.5em">
                    <div>Board Addresses</div>

                    <section>
                      <details>
                        <summary>Expand Addresses</summary>
                {% for address in all_chans if address in chans_board_info %}
                    {% set label = all_chans[address]["label_short"] %}
                    <div>
                        <input type="checkbox" id="tertiary_chans_{{address}}" name="tertiary_chans_{{address}}" value="{{address}}"> <label for="tertiary_chans_{{address}}">{{address}}{% if label %} ({{label}}){% endif %}</label>
                    </div>
                {% endfor %}
                      </details>
                    </section>
                </div>
            {% endif %}

            {% if chans_list_info %}
                <div class="themed" style="padding-top: 0.5em">
                    <div>List Addresses</div>

                    <section>
                      <details>
                        <summary>Expand Addresses</summary>
                {% for address in all_chans if address in chans_list_info %}
                    {% set label = all_chans[address]["label_short"] %}
                    <div>
                        <input type="checkbox" id="tertiary_chans_{{address}}" name="tertiary_chans_{{address}}" value="{{address}}"> <label for="tertiary_chans_{{address}}">{{address}}{% if label %} ({{label}}){% endif %}</label>
                    </div>
                {% endfor %}

                      </details>
                    </section>
                </div>
            {% endif %}
        {% endif %}

                <div class="themed" style="padding-top: 0.5em">
                    <div>Additional Addresses (comma-separated, max {{config.PASSPHRASE_ADDRESSES_LENGTH}} characters)</div>
                    <input style="width: 100%" name="tertiary_additional" value="">
                </div>

        {% endif %}

        {% if stage in ["public_board", "public_list"] %}

                <p class="themed" style="font-size: 2em">Restricted Addresses</p>

        {% if address_book %}
                <div class="themed" style="padding-top: 0.5em">
                    <div>Address Book Addresses</div>

                    <section>
                      <details>
                        <summary>Expand Addresses</summary>
            {% for address in address_book %}
                {% set label = address_book[address]["label_short"] %}
                    <div>
                        <input type="checkbox" id="restricted_address_book_{{address}}" name="restricted_address_book_{{address}}" value="{{address}}"> <label for="restricted_address_book_{{address}}">{{address}}{% if label %} ({{label}}){% endif %}</label>
                    </div>
            {% endfor %}
                      </details>
                    </section>
                </div>
        {% endif %}

        {% if all_chans %}
            {% if chans_board_info %}
                <div class="themed" style="padding-top: 0.5em">
                    <div>Board Addresses</div>

                    <section>
                      <details>
                        <summary>Expand Addresses</summary>
                {% for address in all_chans if address in chans_board_info %}
                    {% set label = all_chans[address]["label_short"] %}
                    <div>
                        <input type="checkbox" id="restricted_chans_{{address}}" name="restricted_chans_{{address}}" value="{{address}}"> <label for="restricted_chans_{{address}}">{{address}}{% if label %} ({{label}}){% endif %}</label>
                    </div>
                {% endfor %}
                      </details>
                    </section>
                </div>
            {% endif %}

            {% if chans_list_info %}
                <div class="themed" style="padding-top: 0.5em">
                    <div>List Addresses</div>

                    <section>
                      <details>
                        <summary>Expand Addresses</summary>
                {% for address in all_chans if address in chans_list_info %}
                    {% set label = all_chans[address]["label_short"] %}
                    <div>
                        <input type="checkbox" id="restricted_chans_{{address}}" name="restricted_chans_{{address}}" value="{{address}}"> <label for="restricted_chans_{{address}}">{{address}}{% if label %} ({{label}}){% endif %}</label>
                    </div>
                {% endfor %}
                      </details>
                    </section>
                </div>
            {% endif %}
        {% endif %}

                <div class="themed" style="padding-top: 0.5em">
                    <div>Additional Addresses (comma-separated, max {{config.PASSPHRASE_ADDRESSES_LENGTH}} characters)</div>
                    <input style="width: 100%" name="restricted_additional" value="">
                </div>

        {% endif %}

                <div style="padding-top: 1em">
                    <input type="submit" name="join" value="Create"/>
                </div>

            </div>

    {% elif stage == "end" %}

            <a class="link" href="/join">Join/Create Another</a>

    {% endif %}

        </form>
    </div>

{% endblock %}
