{% extends "layout.html" %}

{% block title %}Kiosk Users - {% endblock %}

{% block head %}
    <style>
        .table th, td {
            text-align: left;
            padding: 0.3em;
        }

        tr:nth-child(odd) {
            background-color: {{themes[get_theme()].posthighlight}};
        }

        .table-heading {
            text-decoration: underline;
            text-align: left;
        }

        .wrap {
            text-align: center;
        }
        .outer {
            display: inline-block;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block body %}
    {% include '/elements/banner.html' %}
    <br/>

    {% if status_msg["status_message"] %}
        {% include '/elements/status.html' %}
    {% endif %}

<div class='wrap'>

    <div class="heading-2 head-center themed">Kiosk User Management</div>

    {% if edit_id and user %}

    <div class="heading-2 head-center themed">Edit User</div>

    <div style="padding-bottom: 1em"><a class="head-center themed" href="/kiosk_users">Back</a></div>

    <form method="post" enctype="multipart/form-data">
    <input type="hidden" name="edit_id" value="{{edit_id}}"/>
    <div class='outer' style="padding-bottom: 3em;">
        <table class="themed">
            <tr>
                <td>Option</td>
                <td>Value</td>
            </tr>
            <tr>
                <td>User</td>
                <td><input type="text" name="name" value="{{user.name}}"/></td>
            </tr>
            <tr>
                <td>Global Admin</td>
                <td><input type="checkbox" id="is_admin" name="is_admin" value="y"{% if user.global_admin %} checked{% endif %}/></td>
            </tr>
            <tr>
                <td>Janitor</td>
                <td><input type="checkbox" id="is_janitor" name="is_janitor" value="y"{% if user.janitor %} checked{% endif %}/></td>
            </tr>
            <tr>
                <td>Board/List Admin</td>
                <td><input type="checkbox" id="is_board_list_admin" name="is_board_list_admin" value="y"{% if user.board_list_admin %} checked{% endif %}/></td>
            </tr>
            <tr>
                <td>Admin Boards/Lists</td>
                <td><input type="text" name="admin_boards" value="{{json.loads(user.admin_boards)|join(', ')}}"/></td>
            </tr>
            <tr>
                <td>Can Post</td>
                <td><input type="checkbox" id="can_post" name="can_post" value="y"{% if user.can_post %} checked{% endif %}/></td>
            </tr>
            <tr>
                <td>Single Session</td>
                <td><input type="checkbox" id="single_session" name="single_session" value="y"{% if user.single_session %} checked{% endif %}/></td>
            </tr>
            <tr>
                <td colspan="2">Credentials</td>
            </tr>
            <tr>
                <td>Password Requires Changing</td>
                <td>{{user.require_change_pw}}</td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="password" name="new_password" value=""/></td>
            </tr>
            <tr>
                <td>Retype Password</td>
                <td><input type="password" name="retype_password" value=""/></td>
            </tr>
            <tr>
                <td>Require Changing on First Use</td>
                <td><input type="checkbox" id="require_change_pw" name="require_change_pw" value="y"/></td>
            </tr>
        </table>
        <div style="padding-top: 1em;">
            <input type="submit" name="edit_user" value="Save"/>
        </div>
    </div>
    </form>

    {% else %}

    <div class="heading-2 head-center themed">Users</div>

        {% if kiosk_credentials %}
    
    <form method="post" enctype="multipart/form-data">
    <div class='outer' style="padding-bottom: 3em;">
        <table class="themed">
            <tr>
                <td>User</td>
                <td>Permissions</td>
                <td></td>
                <td></td>
            </tr>
            {% for each_user in kiosk_credentials %}
            <tr>
                <td style="font-family: monospace">{{each_user.name}}</td>
                <td>
                    Global Admin: {{each_user.global_admin}},
                    Janitor: {{each_user.janitor}},
                    Board/List Admin: {{each_user.board_list_admin}},
                    Admin Boards/Lists: {{each_user.admin_boards}},
                    Single Session: {{each_user.single_session}},
                    Can Post: {{each_user.can_post}}
                </td>
                <td><input type="submit" name="edit_{{each_user.id}}" value="Edit"/></td>
                <td><input type="submit" name="delete_{{each_user.id}}" value="Delete" onclick="return confirm('Are you sure you want to delete this user?')"/></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </form>

        {% else %}

    <div class="themed">No Users</div>

        {% endif %}

    <div class="heading-2 head-center themed">Add User</div>

    <form method="post" enctype="multipart/form-data">
    <div class='outer' style="padding-bottom: 3em;">
        <table class="themed">
            <tr>
                <td>Option</td>
                <td>Value</td>
            </tr>
            <tr>
                <td>User</td>
                <td><input type="text" name="name" value=""/></td>
            </tr>
            <tr>
                <td>Global Admin</td>
                <td><input type="checkbox" id="is_admin" name="is_admin" value="y"/></td>
            </tr>
            <tr>
                <td>Janitor</td>
                <td><input type="checkbox" id="is_janitor" name="is_janitor" value="y"/></td>
            </tr>
            <tr>
                <td>Board/List Admin</td>
                <td><input type="checkbox" id="is_board_list_admin" name="is_board_list_admin" value="y"/></td>
            </tr>
            <tr>
                <td>Admin Boards/Lists</td>
                <td><input type="text" name="admin_boards" value=""/></td>
            </tr>
            <tr>
                <td>Can Post</td>
                <td><input type="checkbox" id="can_post" name="can_post" value="y"/></td>
            </tr>
            <tr>
                <td>Single Session</td>
                <td><input type="checkbox" id="single_session" name="single_session" value="y"/></td>
            </tr>
            <tr>
                <td colspan="2">Credentials</td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="new_password" value=""/></td>
            </tr>
            <tr>
                <td>Retype Password</td>
                <td><input type="password" name="retype_password" value=""/></td>
            </tr>
            <tr>
                <td>Require Changing on First Use</td>
                <td><input type="checkbox" id="require_change_pw" name="require_change_pw" value="y" checked/></td>
            </tr>
        </table>
        <div style="padding-top: 1em;">
            <input type="submit" name="add_user" value="Add User"/>
        </div>
    </div>
    </form>

    {% endif %}
</div>

    {% include '/elements/display_boards.html' %}
    {% include '/elements/display_lists.html' %}
    <div style="padding-top: 1em"></div>
{% endblock %}
