{% extends "layout.html" %}

{% set is_private = board['current_chan'].access == "private" %}

{% set rules = chans_list_info[board['current_chan'].address]["rules"] %}

{% set primary_addresses = chans_list_info[board['current_chan'].address]["primary_addresses"] %}
{% set secondary_addresses = chans_list_info[board['current_chan'].address]["secondary_addresses"] %}
{% set tertiary_addresses = chans_list_info[board['current_chan'].address]["tertiary_addresses"] %}
{% set restricted_addresses = chans_list_info[board['current_chan'].address]["restricted_addresses"] %}

{% set primary_access = [] %}
{% set secondary_access = [] %}
{% set tertiary_access = [] %}
{% set on_any_access_list = [] %}

{% for id_type in [identities, all_chans] %}
    {% for address in id_type if id_type[address]['enabled'] %}
        {% if address in primary_addresses %}
            {%- do primary_access.append(1) %}
        {% endif %}
        {% if address in secondary_addresses %}
            {%- do secondary_access.append(1) %}
        {% endif %}
        {% if address in tertiary_addresses %}
            {%- do tertiary_access.append(1) %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% if primary_access or secondary_access or tertiary_access %}
    {%- do on_any_access_list.append(1) %}
{% endif %}

{% block head %}
    <script>
    {% if rules and "automatic_wipe" in rules %}
    {% include '/elements/timer_content_wipe.html' %}
    {% endif %}

    function toggle(source) {
        var inputs = document.getElementsByTagName("input");
        for (let x=0; x<inputs.length; x++){
            if (inputs[x].type == "checkbox" &&
                    inputs[x].name.indexOf("joinbulk_") == 0) {
                inputs[x].checked = source.checked;
            }
        }
    }
    </script>
    <style>
        .list table {
            padding-top: 2em
        }
        .list th, td {
            padding: 0.8em;
        }

        .address-mine {
            font-size: 0.9em;
            color: green;
            font-family: monospace
        }
        .address-other {
            font-size: 0.9em;
            font-family: monospace
        }
    </style>
{% endblock %}

{% block admin_css %}
    {% if board['current_chan'].allow_css %}
    <style>
        {% if board['current_chan'].address in command_options and
              "css" in command_options[board['current_chan'].address] -%}
        {{command_options[board['current_chan'].address]["css"]}}
        {%- endif %}
    </style>
    {% endif %}
{% endblock %}

{% block title %}
{{chans_list_info[board['current_chan'].address]["label"]|safe}} -
{% if is_private %}
Private
{% else %}
Public
{% endif %}
List
 - {% endblock %}

{% block body %}
    {% include '/elements/display_boards.html' %}
    {% include '/elements/display_lists.html' %}
    {% include '/elements/banner.html' %}
    <br/>

    {% if status_msg["status_message"] %}
        {% include '/elements/status.html' %}
    {% endif %}

    <center>
        <span class="themed" style="font-size: 1.5em">
        {% if is_private %}
            Private
        {% else %}
            Public
        {% endif %}
            List
        </span>
    </center>
    <br/>

    <div>
        <center>
            <a class="title themed bold" style="text-decoration: none;" href="/list/{{board['current_chan'].address}}">/{{chans_list_info[board['current_chan'].address]["label"]|safe}}/ - {{chans_list_info[board['current_chan'].address]["description"]|safe}}</a>
        </center>
    </div>

    {%- if board['current_chan'].address in command_options and
           "long_description_display" in command_options[board['current_chan'].address] -%}
        <div class="container">
            <div style="max-width: 800px;">
                <div class="themed" style="width: 100%; text-align: left;">
                    {{command_options[board['current_chan'].address]["long_description_display"]|safe}}
                </div>
            </div>
        </div>
    {% endif %}

    {% if rules and "automatic_wipe" in rules %}
    <center>
        <div class="themed" style="padding-top: 0.5em">
            Content Wipe in <span id="clear_content_countdown">{{wipe_time_left(rules["automatic_wipe"]["wipe_epoch"])}}</span>
        </div>
    </center>
    {% endif %}

    <hr/>
    <center>

        <div style="max-width: 500px; padding-bottom: 1em">
            <section>
                <details>
                    <summary>List Information</summary>
                        <div style="padding: 1em">
                            <div style="padding-bottom: 0.5em">
                                <img src="/icon/{{board['current_chan'].address}}" style="width: 40px; height: 40px">
                            </div>

                            <span class="themed">Address</span>
                            <div class="themed" style="padding-bottom: 0.5em">
                                <span style="font-family: monospace">{{board['current_chan'].address}}</span> <button type="button" class="btn" title="Copy to Clipboard" onclick="CopyToClipboard('{{board['current_chan'].address}}')">&#128203;</button>
                            </div>

                            {% if settings.hide_all_board_list_passphrases %}
                            <div class="themed" style="padding-bottom: 0.5em">
                                The current configuration does not permit list passphrases to be shown
                            </div>
                            {% else %}

                                {% set passphrase_base64_escaped = html.escape(passphrase_base64) %}
                                {% set passphrase_base64_with_pgp_escaped = html.escape(passphrase_base64_with_pgp) %}

                            <span class="themed">List Join Link{% if passphrase_base64 != passphrase_base64_with_pgp %}s{% endif %}</span>
                            <div style="padding-bottom: 0.5em">
                                <a class="link" href="http://172.28.1.1:8000/join_base64/{{passphrase_base64_escaped}}">Share Link</a>
                                {% if passphrase_base64 != passphrase_base64_with_pgp %}
                                <br/><a class="link" href="http://172.28.1.1:8000/join_base64/{{passphrase_base64_with_pgp_escaped}}">Share Link With PGP Passphrase</a>
                                {% endif %}
                            </div>

                            <span class="themed">BitChan List Passphrase</span>
                            <div class="themed" style="padding-bottom: 0.5em">
                                <input type="text" id="passphrase" value="{{board['current_chan'].passphrase}}"> <button type="button" class="btn" title="Copy to Clipboard" onclick="CopyElemID('passphrase')">&#128203;</button>
                            </div>

                            <span class="themed">Message PGP Passphrase (max {{config.PGP_PASSPHRASE_LENGTH}})</span>
                            <div style="padding-bottom: 0.5em">
                                <form method="post" style="display: inline-block;" enctype="multipart/form-data">
                                    <input type="text" id="pgp_passphrase_msg" name="pgp_passphrase_msg" value="{{board['current_chan'].pgp_passphrase_msg}}">
                                    <input type="submit" name="set_pgp_passphrase_msg" value="Set"/>
                                </form>
                                <button type="button" class="btn" title="Copy to Clipboard" onclick="CopyElemID('pgp_passphrase_msg')">&#128203;</button>
                            </div>
                            {% endif %}

                            {% if rules %}
                            <span class="themed">Rules:</span>
                            {% include '/elements/rules.html' %}
                            {% endif %}

                            <div class="themed" style="padding-bottom: 0.5em">
                                {% include '/elements/accordion_access.html' %}
                            </div>

                            <span class="themed">Options:</span>
                            <form method="post" action="/set_info_options/{{board['current_chan'].address}}" enctype="multipart/form-data">
                            {%- if board['current_chan'].address in command_options and
                                   "css" in command_options[board['current_chan'].address] -%}
                            <div style="padding-top: 0.5em">
                                Custom CSS (Status: {% if board['current_chan'].allow_css %}Allowed{% else %}Disallowed{% endif %})&nbsp;
                                {%- if board['current_chan'].allow_css -%}
                                    <input type="submit" name="disallow_css" value="Disallow CSS"/>
                                {%- else -%}
                                    <input type="submit" name="allow_css" value="Allow CSS"/>
                                {%- endif -%}
                            </div>
                            <div style="padding-bottom: 0.5em">
                                <textarea rows="6" maxlength="246250" class="form" style="width: 100%; box-sizing: border-box;" id="css_disabled" name="css_disabled" disabled>{{command_options[board['current_chan'].address]["css"]}}</textarea>
                            </div>
                            {%- endif -%}
                            </form>
                            <div>
                                <a class="link" href="/mod_log/{{board['current_chan'].address}}/1">This List's Mod Log</a>
                            </div>
                            <div>
                                <a class="link" href="/leave/{{board['current_chan'].address}}">Leave List</a>
                            </div>
                        </div>
                </details>
            </section>
        </div>

    {% if primary_access %}
        <div class="themed" style="max-width: 500px; padding-bottom: 1em">
            <section>
                <details>
                    <summary>Owner Options</summary>
                        <div style="padding: 1em">
                            <form method="post" action="/set_owner_options/{{board['current_chan'].address}}" enctype="multipart/form-data">
                                {% include '/elements/set_owner_options.html' %}
                                <div style="padding-top: 1em">
                                    <input type="submit" name="set_options" value="Set Options"/>
                                </div>
                            </form>
                        </div>
                </details>
            </section>
        </div>
    {% endif %}

    {% if secondary_access %}
        <div class="themed" style="max-width: 500px; padding-bottom: 1em">
            <section>
                <details>
                    <summary>Admin Options</summary>
                        <div class="themed" style="padding: 1em">
                            ...
                        </div>
                </details>
            </section>
        </div>
    {% endif %}

    </center>

    {% if primary_access or secondary_access or tertiary_access or not is_private %}
    <div class="themed" style="padding-top: 1em">
        <center>
            <form action="/list/{{board['current_chan'].address}}" method="post">
                <table>
                    <tr>
                        <td>
                            <input class="button" type="submit" name="save_from" id="save_from" value="Save From"/>
                        </td>
                        <td>
                            <select name="from_address">
                            {% if board['current_chan'].address not in from_list %}
                                <option value=""></option>
                            {% endif %}
                            {% for each_address in from_list %}
                                <option value="{{each_address}}"
                                {%- if board['current_chan'].default_from_address == each_address %}
                                    {{' selected'}}
                                {%- endif -%}>{{from_list[each_address]}}</option>
                            {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="button" type="submit" name="add" id="add" value="Add to List"/>
                        </td>
                        <td>
                            <select name="address">
                    {% if form_list_add %}
                        {% for each_item in form_list_add %}
                                <option value="{{each_item[0]}}">{{each_item[1]|safe}}</option>
                        {% endfor %}
                    {% else %}
                                <option>No Boards/Lists Available.</option>
                    {% endif %}
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
        </center>
    </div>

    <center>
        <a class="link" href="/list_bulk_add/{{board['current_chan'].address}}">Bulk Add to List</a>
    </center>
    {% endif %}

    {% set list_chans = chan_lists[board["current_chan"].address]["list"] %}

    <center>
    {% if list_chans %}
        <form action="/list/{{board['current_chan'].address}}" method="post">
        <table class="list themed" style="max-width: 1050px">
            <tr>
                <td><input type="checkbox" onClick="toggle(this)"/></td>
                <td></td>
                <td>Address</td>
                <td>Type</td>
                <td>Label</td>
                <td>Description</td>
            </tr>

            {% for address in list_chans %}

                {% set access = get_access(address) %}
                {% set errors, list_entry_info = process_passphrase(list_chans[address]["passphrase"]) %}
                {% set rules = list_entry_info["rules"] %}

                {% if not access %}
                    {% set access = {
                        "primary_addresses": list_entry_info["primary_addresses"],
                        "secondary_addresses": list_entry_info["secondary_addresses"],
                        "tertiary_addresses": list_entry_info["tertiary_addresses"],
                        "restricted_addresses": list_entry_info["restricted_addresses"],
                    } %}
                {% endif %}

            <tr>
                <td style="border-top: 1px solid black;">
                {% if address not in chans_board_info and address not in chans_list_info %}
                    <input type="checkbox" id="joinbulk_{{address}}" name="joinbulk_{{address}}" value="y">
                {% endif %}
                </td>
                <td style="border-top: 1px solid black;">
                    <img style="width: 25px; height: 25px" src="/icon/{{address}}">
                </td>
                <td style="border-top: 1px solid black;">
                {% if address in chans_board_info %}
                    <a class="link" style="font-family: monospace" href="/board/{{address}}/1">{{address}}</a>
                {% elif address in chans_list_info %}
                    <a class="link" style="font-family: monospace" href="/list/{{address}}">{{address}}</a>
                {% else %}
                    <span style="font-family: monospace">{{address}}</span>
                {% endif %}
                </td>
                <td style="border-top: 1px solid black;">
                {% if list_entry_info["access"] == "public" %}
                    Public
                {% elif list_entry_info["access"] == "private" %}
                    Private
                {% endif %}
                {% if list_entry_info["type"] == "board" %}
                    Board
                {% elif list_entry_info["type"] == "list" %}
                    List
                {% endif %}
                </td>
                <td style="border-top: 1px solid black;">{{list_entry_info["label"]|safe}}</td>
                <td style="border-top: 1px solid black;">{{list_entry_info["description"]|safe}}</td>
            </tr>

                {% if (address not in chans_board_info and address not in chans_list_info) or
                      (primary_access or secondary_access) or
                      access["primary_addresses"] or
                      access["secondary_addresses"] or
                      access["tertiary_addresses"] or
                      access["restricted_addresses"] or
                      rules
                %}
            <tr>
                <td colspan="5" style="padding: 0 0.8em 0.8em 0.8em;">
                {% endif %}

                {% if (address not in chans_board_info and address not in chans_list_info) or
                      (primary_access or secondary_access) %}
                    <div style="padding: 0.2em 0">
                    {% if address not in chans_board_info and address not in chans_list_info %}
                        <input type="submit" name="join_{{address}}" id="join_{{address}}" value="Join"/>
                    {% endif %}
                    {% if primary_access or secondary_access %}
                        <input type="submit" name="delete_{{address}}" id="delete_{{address}}" value="Remove From List" onclick="return confirm('Are you sure you want to remove this from the list?')"/>
                    {% endif %}
                    </div>
                {% endif %}

                {% if access["primary_addresses"] %}
                    <div style="padding: 0.2em 0">
                    Owner Access:
                    {% for each_address in access["primary_addresses"] -%}
                        {%- if each_address in chans_board_info or
                              each_address in chans_list_info or
                              each_address in identities -%}
                    <span class="address-mine">
                            {%- if each_address in address_labels -%}
                                {{each_address[:9]}}...{{each_address[-6:]}} ({{address_labels[each_address]}})
                            {%- else -%}
                                {{each_address}}
                            {%- endif -%}
                        {%- else -%}
                    <span class="address-other">
                            {%- if each_address in address_labels -%}
                                {{each_address[:9]}}...{{each_address[-6:]}} ({{address_labels[each_address]}})
                            {%- else -%}
                                {{each_address}}
                            {%- endif -%}
                        {%- endif -%}
                    </span>
                        {%- if not loop.last %}, {% endif -%}
                    {%- endfor -%}
                    </div>
                {% endif %}

                {% if access["secondary_addresses"] %}
                    <div style="padding: 0.2em 0">
                    Admin Access:
                    {% for each_address in access["secondary_addresses"] -%}
                        {%- if each_address in chans_board_info or
                              each_address in chans_list_info or
                              each_address in identities -%}
                    <span class="address-mine">
                            {%- if each_address in address_labels -%}
                                {{each_address[:9]}}...{{each_address[-6:]}} ({{address_labels[each_address]}})
                            {%- else -%}
                                {{each_address}}
                            {%- endif -%}
                        {%- else -%}
                    <span class="address-other">
                            {%- if each_address in address_labels -%}
                                {{each_address[:9]}}...{{each_address[-6:]}} ({{address_labels[each_address]}})
                            {%- else -%}
                                {{each_address}}
                            {%- endif -%}
                        {%- endif -%}
                    </span>
                        {%- if not loop.last %}, {% endif -%}
                    {%- endfor -%}
                    </div>
                {% endif %}

                {% if access["tertiary_addresses"] %}
                    <div style="padding: 0.2em 0">
                    User Access:
                    {% for each_address in access["tertiary_addresses"] -%}
                        {%- if each_address in chans_board_info or
                              each_address in chans_list_info or
                              each_address in identities -%}
                    <span class="address-mine">
                            {%- if each_address in address_labels -%}
                                {{each_address[:9]}}...{{each_address[-6:]}} ({{address_labels[each_address]}})
                            {%- else -%}
                                {{each_address}}
                            {%- endif -%}
                        {%- else -%}
                    <span class="address-other">
                            {%- if each_address in address_labels -%}
                                {{each_address[:9]}}...{{each_address[-6:]}} ({{address_labels[each_address]}})
                            {%- else -%}
                                {{each_address}}
                            {%- endif -%}
                        {%- endif -%}
                    </span>
                        {%- if not loop.last %}, {% endif -%}
                    {%- endfor -%}
                    </div>
                {% endif %}

                {% if access["restricted_addresses"] %}
                    <div style="padding: 0.2em 0">
                    Restricted Access:
                    {% for each_address in access["restricted_addresses"] -%}
                        {%- if each_address in chans_board_info or
                              each_address in chans_list_info or
                              each_address in identities -%}
                    <span class="address-mine">
                            {%- if each_address in address_labels -%}
                                {{each_address[:9]}}...{{each_address[-6:]}} ({{address_labels[each_address]}})
                            {%- else -%}
                                {{each_address}}
                            {%- endif -%}
                        {%- else -%}
                    <span class="address-other">
                            {%- if each_address in address_labels -%}
                                {{each_address[:9]}}...{{each_address[-6:]}} ({{address_labels[each_address]}})
                            {%- else -%}
                                {{each_address}}
                            {%- endif -%}
                        {%- endif -%}
                    </span>
                        {%- if not loop.last %}, {% endif -%}
                    {%- endfor -%}
                    </div>
                {% endif %}

                {% if rules %}
                {% include '/elements/rules.html' %}
                {% endif %}

                {% if (address not in chans_board_info and address not in chans_list_info) or
                      (primary_access or secondary_access) or
                      access["primary_addresses"] or
                      access["secondary_addresses"] or
                      access["tertiary_addresses"] or
                      access["restricted_addresses"] or
                      rules
                %}
                </td>
            </tr>
                {% endif %}

            {% endfor %}
        </table>
        <input type="submit" name="joinbulk" id="joinbulk" value="Join All Checked"/>
        </form>
    {% else %}
        <div class="themed" style="padding-top: 1em">
            This list is currently empty. If you have write access, you may add to the list, otherwise you will need to wait for someone with write access to update it.
        </div>
    {% endif %}
    </center>
    <hr/>

    {% include '/elements/display_boards.html' %}
    {% include '/elements/display_lists.html' %}
    <div style="padding-top: 1em"></div>
{% endblock %}
