{% extends "layout.html" %}

{% set total_pages = (mod_log_count / settings.results_per_page_mod_log)|round(0, "ceil")|int %}

{%- if address != "0" %}
    {% set chan_label, chan_description, chan_type = get_chan_mod_info(address) %}
{%- endif -%}

{% block title %}Mod Log - {% endblock %}

{% block head %}
    <script>
        function toggle(source) {
            var inputs = document.getElementsByTagName("input");
            for (let x=0; x<inputs.length; x++){
                if (inputs[x].type == "checkbox" &&
                        inputs[x].name.indexOf("selectbulk_") == 0) {
                    inputs[x].checked = source.checked;
                }
            }
        }
    </script>
    <style>
        .table th, td {
            text-align: left;
            padding: 0.3em;
        }

        .ttheme tr:nth-child(odd) {
            background-color: {{themes[get_theme()].posthighlight}};
        }

        .wrap {
            text-align: center;
        }
        .outer {
            display: inline-block;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block body %}
    {% include '/elements/display_boards.html' %}
    {% include '/elements/display_lists.html' %}
    {% include '/elements/banner.html' %}
    <br/>

    {% if status_msg["status_title"] in ["Error", "Success"] %}
        {% include '/elements/status.html' %}
    {% endif %}

<div class='wrap'>
    <h1 class="title themed bold" style="text-align: center">
    {% if address != "0" and chan_label and chan_description and chan_type %}
        {% if chan_type == "board" %}
            Board
        {% elif chan_type == "list" %}
            List
        {% endif %}
        Mod Log -
        <a class="link title" href="/board/{{address}}/1">/{{chan_label|safe}}/ - {{chan_description|safe}}</a>
    {%- else -%}
        Mod Log
    {%- endif -%}
    </h1>

    {% if mod_log %}
    <div class="themed" style="margin-left: auto; margin-right: auto; text-align: center; padding-bottom: 1em">
        {{mod_log_count}} {% if mod_log_count == 1 %}Entry{% else %}Entries{% endif %}{% if total_pages > 1 %}, {{total_pages}} Pages{% endif %}
    </div>
    {% else %}
    <span class="themed">No Entries Found</span>
    {% endif %}

    {% include '/elements/footer_mod_log_pages.html' %}
    <div style="padding-top: 1em"></div>

        {% if global_admin %}
    <div class="themed" style="width: 90%; margin-left: auto; margin-right: auto; text-align: right; padding-bottom: 0.5em">
        <form action="/mod_log/{{address}}/1" method="post">
            Remote Moderate <input type="checkbox" id="filter_remote_moderate" name="filter_remote_moderate" value="y"{% if filter_remote_moderate %} checked{% endif %}>
            Failed Attempts <input type="checkbox" id="filter_failed_attempts" name="filter_failed_attempts" value="y"{% if filter_failed_attempts %} checked{% endif %}>
            <input type="submit" name="filter" value="Filter"/>
        </form>
    </div>
        {% endif %}

    {% if mod_log %}
    <form action="/mod_log/{{address}}/1" method="post">
    <table class="table themed ttheme" style="width: 90%; margin-left: auto; margin-right: auto;">
        <tr>
        {% if global_admin %}
            <td><input type="checkbox" onClick="toggle(this)"/></td>
        {% endif %}
            <td>Timestamp</td>
            <td>From</td>

        {% if address == "0" %}
            <td>Board/List</td>
        {% endif %}

        {% if chan_type != "list" %}
            <td>Thread</td>
            <td>Post ID</td>
        {% endif %}

            <td>Description</td>
        </tr>
        {% for each_entry in mod_log %}
            {% set username, user_type = get_user_name_info(each_entry.user_from, full_address=True) %}
        <tr>
            {% if global_admin %}
            <td><input type="checkbox" id="selectbulk_{{each_entry.id}}" name="selectbulk_{{each_entry.id}}" value="y"></td>
            {% endif %}
            <td style="white-space: nowrap; font-family: monospace">{{timestamp_to_date(each_entry.timestamp)}}</td>
            <td class="bold" style="font-family: monospace;
            {%- if user_type == 'identity' -%}
                color: #047841
            {%- elif user_type == 'address_book' -%}
                color: skyblue
            {%- elif user_type == 'chan' -%}
              color: limegreen
            {%- endif -%}
            ">{% if each_entry.user_from %}{{username}}{% endif %}</td>

            {% if address == "0" %}
            <td>
            {% if each_entry.board_address %}
                {% set entry_label, entry_description, entry_chan_type = get_chan_mod_info(each_entry.board_address) %}
                {% if entry_label and entry_description %}
                    {% if entry_chan_type == "board" %}
                <a class="link" title="{{entry_description|safe}}" href="/board/{{each_entry.board_address}}/1">/{{entry_label|safe}}/</a>
                    {% elif entry_chan_type == "list" %}
                <a class="link" title="{{entry_description|safe}}" href="/list/{{each_entry.board_address}}">/{{entry_label|safe}}/</a>
                    {% endif %}
                {% else %}
                    {{each_entry.board_address}}
                {% endif %}
            {% endif %}
            </td>
            {% endif %}

            {% if chan_type != "list" %}
            <td>
                {% if each_entry.board_address and each_entry.thread_hash %}
                    {% set entry_subject = get_thread_subject(each_entry.thread_hash) %}
                    {% if entry_subject %}
                {{generate_reply_link_and_popup_html(None, board_view=True, external_thread=True, link_text=entry_subject, non_link_text=entry_subject, moderating=True, use_thread_hash=each_entry.thread_hash)|safe}}
                    {% else %}
                {{each_entry.thread_hash[-12:]}}
                    {% endif %}
                {% elif each_entry.thread_hash %}
                {{each_entry.thread_hash[-12:]}}
                {% endif %}
            </td>
            <td style="font-family: monospace">
                {% if each_entry.board_address and each_entry.thread_hash and each_entry.message_id %}
                    {% set msg = table_messages.query.filter(table_messages.message_id == each_entry.message_id).first() %}
                    {% if msg %}
                {{generate_reply_link_and_popup_html(msg, board_view=True, external_thread=True, link_text=msg.post_id, extra_style='font-family:monospace', moderating=True)|safe}}
                    {% else %}
                <a class="link" href="/thread/{{each_entry.board_address}}/{{each_entry.thread_hash[-12:]}}{% if each_entry.message_id %}#{{get_post_id(each_entry.message_id)}}{% endif %}">{{get_post_id(each_entry.message_id)}}</a>
                    {% endif %}
                {% elif each_entry.message_id %}
                {{get_post_id(each_entry.message_id)}}
                {% endif %}
            </td>
            {% endif %}

            <td{% if not each_entry.success %} style="color: red"{% endif %}>{{each_entry.description|safe}}</td>
        </tr>
        {% endfor %}
    </table>

    {% if global_admin %}
    <div style="padding: 1em 0">
        <input type="submit" name="bulk_delete_mod_log" value="Delete Selected Log Entries" onclick="return confirm('Are you sure you want to delete these?')"/>
        <input type="submit" name="bulk_restore_post_mod_log" value="Restore Post From Selected Entries" onclick="return confirm('Are you sure you want to restore these?')"/>
        <input type="submit" name="bulk_restore_thread_mod_log" value="Restore Thread From Selected Entries" onclick="return confirm('Are you sure you want to restore these?')"/>
    </div>
    {% endif %}

    </form>
    {% endif %}

    </div>

    <div style="padding-top: 2em"></div>
    {% include '/elements/footer_mod_log_pages.html' %}
    <div style="padding-top: 1em"></div>
</div>
{% endblock %}
