{% extends "layout.html" %}

{% block title %}Page Management - {% endblock %}

{% block head %}
    <style>
        .table th, td {
            text-align: left;
            padding: 0.3em;
        }

        tr:nth-child(odd) {
            background-color: {{themes[get_theme()].posthighlight}};
        }

        .table-heading {
            text-decoration: underline;
            text-align: left;
        }

        .wrap {
            text-align: center;
        }
        .outer {
            display: inline-block;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block body %}
    {% include '/elements/banner.html' %}
    <br/>

    {% if status_msg["status_message"] %}
        {% include '/elements/status.html' %}
    {% endif %}

<div class='wrap'>

    <div class="heading-2 head-center themed">Page Management</div>

        {% if table_pages.query.count() %}

    <div class="heading-2 head-center themed">Pages</div>
    
    <form method="post" enctype="multipart/form-data">
    <div class='outer' style="padding-bottom: 3em;">
        <table class="themed">
            <tr>
                <td>Page</td>
                <td></td>
                <td></td>
            </tr>
            {% for each_page in table_pages.query.all() %}
            <tr>
                <td style="font-family: monospace"><a class="link" href="/page/{{each_page.slug}}">{{each_page.name}}</a></td>
                <td style="font-family: monospace"><a class="link" href="/edit_page/{{each_page.id}}">Edit</a></td>
                <td><input type="submit" name="delete_{{each_page.id}}" value="Delete" onclick="return confirm('Are you sure you want to delete this user?')"/></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </form>

        {% else %}

    <div class="themed">No Pages</div>

        {% endif %}

    <div class="heading-2 head-center themed">Add Page</div>

    <form method="post" enctype="multipart/form-data">
    <div class='outer' style="padding-bottom: 1em;">
        <table class="themed">
            <tr>
                <td>Option</td>
                <td>Value</td>
            </tr>
            <tr>
                <td>Title</td>
                <td><input type="text" name="name" value=""/></td>
            </tr>
            <tr>
                <td>URL Slug</td>
                <td><input type="text" name="slug" value=""/></td>
            </tr>
        </table>
    </div>
    <div style="margin: 0 auto; max-width: 800px; padding-bottom: 3em;">
        <div class="heading-3 head-center themed">HTML</div>
        <div style="padding-top: 1em;">
            <textarea rows="15" maxlength="16000000" class="form" style="width: 100%; box-sizing: border-box;" name="html">&lt;div class="wrap"&gt;
    &lt;h1 class="title themed bold" style="text-align: center"&gt;Example Page: All Boards & Lists&lt;/h1&gt;
&lt;/div&gt;
&lt;div class="themed" style="margin: 0 auto; max-width: 800px; padding-bottom: 3em;"&gt;
&lcub;% for each_chan in table_chan.query.all() %&rcub;
    &lt;br/&gt;/&lcub;&lcub; each_chan.label|safe &rcub;&rcub;/ - &lcub;&lcub; each_chan.description|safe &rcub;&rcub; (&lcub;&lcub; each_chan.address &rcub;&rcub;)
&lcub;% endfor %&rcub;
&lt;/div&gt;</textarea>
        </div>
        <div style="padding-top: 1em;">
            <input type="submit" name="add_page" value="Add Page"/>
        </div>
    </div>
    </form>
</div>

    {% include '/elements/display_boards.html' %}
    {% include '/elements/display_lists.html' %}
    {% include '/elements/display_pages.html' %}
    <div style="padding-top: 1em"></div>
{% endblock %}
