{% extends "layout.html" %}

{% set total_pages = (result_count / settings.results_per_page_search)|round(0, "ceil")|int %}

{%- set global_admin, allow_msg = allowed_access("is_global_admin") -%}

{% block title %}Search - {% endblock %}

{% block head %}
    <script>
        function toggle(source) {
            var inputs = document.getElementsByTagName("input");
            for (let x=0; x<inputs.length; x++){
                if (inputs[x].type == "checkbox" &&
                        inputs[x].name.indexOf("selectbulk_") == 0) {
                    inputs[x].checked = source.checked;
                }
            }
        }
    </script>
    <style>
        table.checker td {
            text-align: left;
        }

        table.checker .pad:td {
            padding: 0.3em;
        }

        table.checker .alternate:nth-child(odd) {
            background-color: {{themes[get_theme()].posthighlight}};
        }
        
        .table th, td {
            text-align: left;
            padding: 0.3em;
        }

        .wrap {
            text-align: center;
        }
        .outer {
            display: inline-block;
            margin: 0 auto;
        }

        div.force-max-height > div > div > blockquote.post {
            max-height: 25em;
            overflow-y: auto;
        }
    </style>
{% endblock %}

{% block body %}
    {% include '/elements/display_boards.html' %}
    {% include '/elements/display_lists.html' %}
    {% include '/elements/display_pages.html' %}
    {% include '/elements/banner.html' %}
    <br/>

    {% if status_msg["status_title"] %}
        {% include '/elements/status.html' %}
    {% endif %}

<div class='wrap'>
    <h1 class="title themed bold" style="text-align: center">Search</h1>

    <div class="themed" style="text-align: center; padding-bottom: 0.5em">
        <form method="post">
            <div style="padding-bottom: 1em">
                <input type="text" id="search" name="search" value="{{search_string}}" autofocus/>
            </div>
            <div style="padding-bottom: 1em">
                <select name="search_type">
                    <option value="posts"{% if search_type == 'posts' %} selected{% endif %}>Posts</option>
                    <option value="threads"{% if search_type == 'threads' %} selected{% endif %}>Threads</option>
                </select>
                <select name="search_boards">
                    <option value="all"{% if search_boards == 'all' %} selected{% endif %}>All Boards</option>
            {% for each_chan in table_chan.query.order_by(table_chan.label.asc()).all() if each_chan.type == 'board' and ((not global_admin and not each_chan.restricted) or global_admin) %}
                    <option value="{{each_chan.address}}"{% if search_boards == each_chan.address %} selected{% endif %}>/{{each_chan.label|safe}}/ ({{(each_chan.address)[:8]}}...)</option>
            {% endfor %}
                </select>
            </div>
            <div style="padding-bottom: 1em">
                OP: <input type="checkbox" id="filter_op" name="filter_op" value="y"{% if filter_op %} checked{% endif %}>
            {% if global_admin %}
                Hidden: <input type="checkbox" id="filter_hidden" name="filter_hidden" value="y"{% if filter_hidden %} checked{% endif %}>
                STEG: <input type="checkbox" id="filter_steg" name="filter_steg" value="y"{% if filter_steg %} checked{% endif %}>
            {% endif %}
            </div>
            <div>
                <input type="submit" name="submit" value="Search"/>
            </div>
        </form>
    </div>

    <div class="themed" style="padding: 1em 0;">
        {{result_count}} Search Results{% if total_pages > 1 %}, {{total_pages}} Pages{% endif %}
    </div>

    {% if search_results or thread_results %}
        {% include '/elements/footer_search_pages.html' %}
    <div style="padding-top: 1em"></div>

    <form action="/search/{{search_string_b64}}/{{current_page}}" method="post">

        {% if search_type == "posts" and search_results %}
    <table class="themed checker" style="margin-left: auto; margin-right: auto; width: 100%; max-width: 1800px; display: table; table-layout: fixed;">
        <tr class="alternate">
            {% if global_admin %}<td class="pad"><input type="checkbox" onClick="toggle(this)"/></td>{% endif %}
            <td class="pad">Age</td>
            <td class="pad">Attributes</td>
            <td class="pad" title="Posted with your Identity address">Ident</td>
        </tr>
            {% for each_msg in search_results %}
                {% if each_msg.thread and each_msg.thread.chan %}

        <tr class="alternate">
            {% if global_admin %}<td class="pad"><input type="checkbox" id="selectbulk_{{each_msg.message_id}}" name="selectbulk_{{each_msg.message_id}}" value="y"></td>{% endif %}
            <td class="pad">{{display_time(now - each_msg.timestamp_sent)}}</td>
            <td class="pad">
                    {%- if each_msg.is_op -%}&nbsp;OP{%- endif -%}
                    {%- if each_msg.thread.stickied_local or each_msg.thread.stickied_remote -%}
                &nbsp;<img style="position: relative; top: 3px; height: 15px" title="Sticky{% if each_msg.thread.stickied_local %} (Local){% endif %}{% if each_msg.thread.stickied_remote %} (Remote){% endif %}" src="/static/
                {%- if each_msg.thread.stickied_local and not each_msg.thread.stickied_remote -%}
                    pin_green.png
                {%- elif not each_msg.thread.stickied_local and each_msg.thread.stickied_remote -%}
                    pin_red.png
                {%- else -%}
                    pin_green_red.png
                {%- endif -%}
                ">
                    {%- endif -%}
                    {%- if each_msg.thread.locked_local or each_msg.thread.locked_remote -%}
                &nbsp;<img style="position: relative; top: 3px; height: 15px" title="Locked{% if each_msg.thread.locked_local %} (Local){% endif %}{% if each_msg.thread.locked_remote %} (Remote){% endif %}" src="/static/
                {%- if each_msg.thread.locked_local and not each_msg.thread.locked_remote -%}
                    lock_green.png
                {%- elif not each_msg.thread.locked_local and each_msg.thread.locked_remote -%}
                    lock_red.png
                {%- else -%}
                    lock_green_red.png
                {%- endif -%}
                ">
                    {%- endif -%}
                    {%- if each_msg.thread.anchored_local or each_msg.thread.anchored_remote -%}
                &nbsp;<img style="position: relative; top: 3px; height: 15px" title="Anchored{% if each_msg.thread.anchored_local %} (Local){% endif %}{% if each_msg.thread.anchored_remote %} (Remote){% endif %}" src="/static/
                {%- if each_msg.thread.anchored_local and not each_msg.thread.anchored_remote -%}
                    anchor_green.png
                {%- elif not each_msg.thread.anchored_local and each_msg.thread.anchored_remote -%}
                    anchor_red.png
                {%- else -%}
                    anchor_green_red.png
                {%- endif -%}
                ">
                    {%- endif -%}

                    {%- if each_msg.favorite or each_msg.thread.favorite -%}
                &nbsp;<a href="/favorites"><img style="position: relative; height: 15px" title="Favorite{% if each_msg.thread.favorite %} Thread{% endif %}" src="/static/star_green.png"></a>
                    {%- endif -%}

                    {%- if each_msg.thread.archived -%}
                &nbsp;<a href="/archive"><img style="position: relative; height: 15px" title="Archived" src="/static/archive_green.png"></a>
                    {%- endif -%}

                    {%- if (each_msg.is_op and each_msg.thread.hide) or each_msg.hide -%}
                &nbsp;<img style="position: relative; height: 15px" title="Hidden" src="/static/do_not_red.png">
                    {%- endif -%}
            </td>
            <td class="pad">{% if each_msg.address_from in identities %}<span title="{{get_user_name(each_msg.address_from, '0', full_address=True)}}">X</span>{% endif %}</td>
        </tr>
        <tr class="alternate">
            <td class="pad" colspan="{% if global_admin %}4{% else %}3{% endif %}">
                    {% if search_boards == "all" or not each_msg.is_op %}
                <div style="padding: 0.5em">
                        {% if search_boards == "all" %}
                    <a class="link" title="{{each_msg.thread.chan.description|safe}}" href="/board/{{each_msg.thread.chan.address}}/1">/{{each_msg.thread.chan.label|safe}}/</a>
                        {% endif %}
                        {% if not each_msg.is_op %}
                    <a class="link" href="/thread/{{each_msg.thread.chan.address}}/{{each_msg.thread.thread_hash[-12:]}}">{{each_msg.thread.subject|safe}}</a>
                        {% endif %}
                </div>
                    {% endif %}
                <div class="{% if each_msg.thread.post_max_height_local and user_options['options_disable_forced_max_height'] != '1' %} force-max-height{% endif %}">
                    {{generate_post_html(each_msg.message_id, board_view=True)|safe}}
                </div>
            </td>
        </tr>
                {% else %}
        <tr class="alternate">
            {% if global_admin %}<td class="pad"></td>{% endif %}
            <td class="pad" style="font-family: monospace">{{timestamp_to_date(each_msg.timestamp_sent)}}</td>
            <td class="pad"></td>
            <td class="pad"></td>
            <td class="pad"></td>
        </tr>
                {% endif %}
            {% endfor %}
    </table>
        {% elif search_type == "posts" and not search_results %}
    <div class="themed bold">No Posts Found</div>
    <div style="padding-top: 2em"></div>
        {% endif %}

        {% if search_type == "threads" and thread_results %}
    <table class="checker themed" style="margin-left: auto; margin-right: auto;">
        <tr class="alternate">
            <td class="pad">{% if global_admin %}<input type="checkbox" onClick="toggle(this)"/> {% endif %}Thread Hash</td>
            <td class="pad">Last Post</td>
            <td class="pad">Age</td>
            <td class="pad">Attributes</td>
            <td class="pad">Board</td>
            <td class="pad">Subject</td>
        </tr>
            {% for each_thread in thread_results %}
        <tr class="alternate">
            <td class="pad" style="font-family:monospace">{% if global_admin %}<input type="checkbox" id="selectbulk_{{each_thread.thread_hash}}" name="selectbulk_{{each_thread.thread_hash}}" value="y"> {% endif %}{{each_thread.thread_hash_short}}</td>
            <td class="pad" style="font-family: monospace">{{timestamp_to_date(each_thread.timestamp_sent)}}</td>
            <td class="pad">{{display_time(now - each_thread.timestamp_sent)}}</td>
            <td class="pad">
                {%- if each_thread.stickied_local or each_thread.stickied_remote -%}
                &nbsp;<img style="position: relative; top: 3px; height: 15px" title="Sticky{% if each_thread.stickied_local %} (Local){% endif %}{% if each_thread.stickied_remote %} (Remote){% endif %}" src="/static/
                {%- if each_thread.stickied_local and not each_thread.stickied_remote -%}
                    pin_green.png
                {%- elif not each_thread.stickied_local and each_thread.stickied_remote -%}
                    pin_red.png
                {%- else -%}
                    pin_green_red.png
                {%- endif -%}
                ">&nbsp;
                {%- endif -%}
                {%- if each_thread.locked_local or each_thread.locked_remote -%}
                &nbsp;<img style="position: relative; top: 3px; height: 15px" title="Locked{% if each_thread.locked_local %} (Local){% endif %}{% if each_thread.locked_remote %} (Remote){% endif %}" src="/static/
                {%- if each_thread.locked_local and not each_thread.locked_remote -%}
                    lock_green.png
                {%- elif not each_thread.locked_local and each_thread.locked_remote -%}
                    lock_red.png
                {%- else -%}
                    lock_green_red.png
                {%- endif -%}
                ">&nbsp;
                {%- endif -%}
                {%- if each_thread.anchored_local or each_thread.anchored_remote -%}
                &nbsp;<img style="position: relative; top: 3px; height: 15px" title="Anchored{% if each_thread.anchored_local %} (Local){% endif %}{% if each_thread.anchored_remote %} (Remote){% endif %}" src="/static/
                {%- if each_thread.anchored_local and not each_thread.anchored_remote -%}
                    anchor_green.png
                {%- elif not each_thread.anchored_local and each_thread.anchored_remote -%}
                    anchor_red.png
                {%- else -%}
                    anchor_green_red.png
                {%- endif -%}
                ">&nbsp;
                {%- endif -%}

                {%- if each_thread.favorite -%}
                &nbsp;<a href="/favorites"><img style="position: relative; height: 15px" title="Favorite Thread" src="/static/star_green.png"></a>&nbsp;
                {%- endif -%}

                {%- if each_thread.archived -%}
                &nbsp;<a href="/archive"><img style="position: relative; height: 15px" title="Archived" src="/static/archive_green.png"></a>&nbsp;
                {%- endif -%}

                {%- if each_thread.hide -%}
                &nbsp;<img style="position: relative; height: 15px" title="Hidden" src="/static/do_not_red.png">&nbsp;
                {%- endif -%}
            </td>
            <td class="pad"><a class="link" title="{{each_thread.chan.description|safe}}" href="/board/{{each_thread.chan.address}}/1">/{{each_thread.chan.label|safe}}/</a></td>
            <td class="pad">{{generate_reply_link_and_popup_html(None, external_thread=True, link_text=each_thread.subject, moderating=global_admin, use_thread_id=each_thread.id)|safe}}</td>
        </tr>
            {% endfor %}
    </table>
        {% elif search_type == "threads" and not thread_results %}
    <div class="themed bold">No Threads Found</div>
    <div style="padding-top: 2em"></div>
        {% endif %}

        {% if global_admin %}
    <div style="padding: 1em 0">
            {% if search_type == "posts" %}
        <input type="submit" name="bulk_restore_posts" value="Restore Selected Posts" onclick="return confirm('Are you sure you want to restore these?')"/>
        <input type="submit" name="bulk_delete" value="Delete Selected Posts" onclick="return confirm('Are you sure you want to delete these?')"/>
            {% endif %}
            {% if search_type == "threads" %}
        <input type="submit" name="bulk_restore_threads" value="Restore Selected Threads" onclick="return confirm('Are you sure you want to restore these?')"/>
        <input type="submit" name="bulk_delete" value="Delete Selected Threads" onclick="return confirm('Are you sure you want to delete these?')"/>
            {% endif %}
    </div>
        {% endif %}

    </form>

    {% else %}
        <div style="padding-top: 2em"></div>
    {% endif %}

    {% include '/elements/footer_search_pages.html' %}
    <div style="padding-top: 1em"></div>
</div>
{% endblock %}
