{% extends "layout.html" %}

{% set total_pages = (result_count / settings.results_per_page_search)|round(0, "ceil")|int %}

{%- set global_admin, allow_msg = allowed_access("is_global_admin") -%}

{% block title %}Search - {% endblock %}

{% block head %}
    <script>
        function toggle(source) {
            var inputs = document.getElementsByTagName("input");
            for (let x=0; x<inputs.length; x++){
                if (inputs[x].type == "checkbox" &&
                        inputs[x].name.indexOf("selectbulk_") == 0) {
                    inputs[x].checked = source.checked;
                }
            }
        }
    </script>
    <style>
        .table th, td {
            text-align: left;
            padding: 0.3em;
        }

        tr:nth-child(odd) {
            background-color: {{themes[get_theme()].posthighlight}};
        }

        .wrap {
            text-align: center;
        }
        .outer {
            display: inline-block;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block body %}
    {% include '/elements/display_boards.html' %}
    {% include '/elements/display_lists.html' %}
    {% include '/elements/display_pages.html' %}
    {% include '/elements/banner.html' %}
    <br/>

    {% if status_msg["status_title"] %}
        {% include '/elements/status.html' %}
    {% endif %}

<div class='wrap'>
    <h1 class="title themed bold" style="text-align: center">Search</h1>

    <div class="themed" style="text-align: center; padding-bottom: 0.5em">
        <form method="post">
            <select name="search_type">
                <option value="posts"{% if search_type == 'posts' %} selected{% endif %}>Posts</option>
                <option value="threads"{% if search_type == 'threads' %} selected{% endif %}>Threads</option>
            </select>
            <select name="search_boards">
                <option value="all"{% if search_boards == 'all' %} selected{% endif %}>All Boards</option>
        {% for each_chan in table_boards.query.all() if each_chan.type == 'board' and ((not global_admin and not each_chan.restricted) or global_admin) %}
                <option value="{{each_chan.address}}"{% if search_boards == each_chan.address %} selected{% endif %}>({{(each_chan.address)[:8]}}...) /{{each_chan.label|safe}}/</option>
        {% endfor %}
            </select>
            <input type="text" id="search" name="search" value="{{search_string}}" autofocus/>
            OP: <input type="checkbox" id="filter_op" name="filter_op" value="y"{% if filter_op %} checked{% endif %}>
        {% if global_admin %}
            Hidden: <input type="checkbox" id="filter_hidden" name="filter_hidden" value="y"{% if filter_hidden %} checked{% endif %}>
            STEG: <input type="checkbox" id="filter_steg" name="filter_steg" value="y"{% if filter_steg %} checked{% endif %}>
        {% endif %}
            <input type="submit" name="submit" value="Search"/>
        </form>
    </div>

    <div class="themed" style="padding: 1em 0;">
        {{result_count}} Search Results{% if total_pages > 1 %}, {{total_pages}} Pages{% endif %}
    </div>

    {% if search_results or thread_results %}
        {% include '/elements/footer_search_pages.html' %}
    <div style="padding-top: 1em"></div>

    <form action="/search/{{search_string_b64}}/{{current_page}}" method="post">

        {% if search_type == "posts" and search_results %}
    <table class="table themed" style="margin-left: auto; margin-right: auto;">
        <tr>
            {% if global_admin %}
            <td><input type="checkbox" onClick="toggle(this)"/></td>
            {% endif %}
            <td>Post ID</td>
            <td>Sent</td>
            <td>Age</td>
            <td>OP</td>
            <td>Replies</td>
            <td>Sticky</td>
            <td>Lock</td>
            <td>Anchor</td>
            <td>Sage</td>
            <td title="Posted with your Identity address">Ident</td>
            <td>Board</td>
            <td>Subject</td>
        </tr>
            {% for each_msg in search_results %}
                {% if each_msg.thread and each_msg.thread.chan %}

                    {% set thread_options = get_thread_options(each_msg.thread.thread_hash) %}
        <tr>
                    {% if global_admin %}
            <td><input type="checkbox" id="selectbulk_{{each_msg.message_id}}" name="selectbulk_{{each_msg.message_id}}" value="y"></td>
                    {% endif %}
            <td>
                {{generate_reply_link_and_popup_html(each_msg, board_view=True, external_thread=True, link_text=each_msg.post_id, extra_style='font-family:monospace', moderating=global_admin)|safe}}
            </td>
            <td style="font-family: monospace">{{timestamp_to_date(each_msg.timestamp_sent)}}</td>
            <td>{{display_time(now - each_msg.timestamp_sent)}}</td>
            <td style="text-align: center">{% if each_msg.is_op %}X{% endif %}</td>
            <td  class="pad" style="text-align: center">
                {%- if each_msg.post_ids_replying_to_msg == "[]" -%}
                0
                {%- elif each_msg.post_ids_replying_to_msg|length == 13 -%}
                1
                {%- else -%}
                {{(each_msg.post_ids_replying_to_msg | length) - (each_msg.post_ids_replying_to_msg | replace(",","") | length) + 1}}
                {%- endif -%}
            </td>
            <td style="text-align: center">
                    {% if thread_options["sticky"] %}
                <img style="position: relative; top: 3px; height: 15px" title="Sticky{% if thread_options['sticky_local'] %} (Local){% endif %}{% if thread_options['sticky_remote'] %} (Remote){% endif %}" src="/static/
                {%- if thread_options['sticky_local'] and not thread_options['sticky_remote'] -%}
                    pin_green.png
                {%- elif not thread_options['sticky_local'] and thread_options['sticky_remote'] -%}
                    pin_red.png
                {%- else -%}
                    pin_green_red.png
                {%- endif -%}
                ">
                    {% endif %}
            </td>
            <td style="text-align: center">
                    {% if thread_options["lock"] %}
                <img style="position: relative; top: 3px; height: 15px" title="Locked{% if thread_options['lock_local'] %} (Local){% endif %}{% if thread_options['lock_remote'] %} (Remote){% endif %}" src="/static/
                {%- if thread_options['lock_local'] and not thread_options['lock_remote'] -%}
                    lock_green.png
                {%- elif not thread_options['lock_local'] and thread_options['lock_remote'] -%}
                    lock_red.png
                {%- else -%}
                    lock_green_red.png
                {%- endif -%}
                ">
                    {% endif %}
            </td>
            <td style="text-align: center">
                    {% if thread_options["anchor"] %}
                <img style="position: relative; top: 3px; height: 15px" title="Anchored{% if thread_options['anchor_local'] %} (Local){% endif %}{% if thread_options['anchor_remote'] %} (Remote){% endif %}" src="/static/
                {%- if thread_options['anchor_local'] and not thread_options['anchor_remote'] -%}
                    anchor_green.png
                {%- elif not thread_options['anchor_local'] and thread_options['anchor_remote'] -%}
                    anchor_red.png
                {%- else -%}
                    anchor_green_red.png
                {%- endif -%}
                ">
                    {% endif %}
            </td>
            <td style="text-align: center">{% if each_msg.sage %}<img style="position: relative; height: 15px" title="Sage" src="/static/leaf.png">{% endif %}</td>
            <td style="text-align: center">{% if each_msg.address_from in identities %}<span title="{{get_user_name(each_msg.address_from, '0', full_address=True)}}">X</span>{% endif %}</td>
            <td><a class="link" title="{{each_msg.thread.chan.description|safe}}" href="/board/{{each_msg.thread.chan.address}}/1">/{{each_msg.thread.chan.label|safe}}/</a></td>
            <td><a class="link" href="/thread/{{each_msg.thread.chan.address}}/{{each_msg.thread.thread_hash[-12:]}}">{{each_msg.thread.subject|safe}}</a></td>
        </tr>
                    {% else %}
        <tr>
            <td style="font-family: monospace">{{each_msg.post_id}}</td>
            <td style="font-family: monospace">{{timestamp_to_date(each_msg.timestamp_sent)}}</td>
            <td>{% if each_msg.is_op %}X{% endif %}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
                {% endif %}
            {% endfor %}
    </table>
        {% elif search_type == "posts" and not search_results %}
    <div class="themed bold">No Posts Found</div>
    <div style="padding-top: 2em"></div>
        {% endif %}

        {% if search_type == "threads" and thread_results %}
    <table class="table themed" style="margin-left: auto; margin-right: auto;">
        <tr>
            {% if global_admin %}
            <td><input type="checkbox" onClick="toggle(this)"/></td>
            {% endif %}
            <td>Thread Hash</td>
            <td>Last Post</td>
            <td>Age</td>
            <td>Sticky</td>
            <td>Lock</td>
            <td>Anchor</td>
            <td>Board</td>
            <td>Subject</td>
        </tr>
            {% for each_thread in thread_results %}
                {% set thread_options = get_thread_options(each_thread.thread_hash) %}
        <tr>
                {% if global_admin %}
            <td><input type="checkbox" id="selectbulk_{{each_thread.thread_hash}}" name="selectbulk_{{each_thread.thread_hash}}" value="y"></td>
                {% endif %}
            <td style="font-family:monospace">{{each_thread.thread_hash_short}}</td>
            <td style="font-family: monospace">{{timestamp_to_date(each_thread.timestamp_sent)}}</td>
            <td>{{display_time(now - each_thread.timestamp_sent)}}</td>
            <td style="text-align: center">
                {% if thread_options["sticky"] %}
                <img style="position: relative; top: 3px; height: 15px" title="Sticky{% if thread_options['sticky_local'] %} (Local){% endif %}{% if thread_options['sticky_remote'] %} (Remote){% endif %}" src="/static/
                {%- if thread_options['sticky_local'] and not thread_options['sticky_remote'] -%}
                    pin_green.png
                {%- elif not thread_options['sticky_local'] and thread_options['sticky_remote'] -%}
                    pin_red.png
                {%- else -%}
                    pin_green_red.png
                {%- endif -%}
                ">
                {% endif %}
            </td>
            <td style="text-align: center">
                    {% if thread_options["lock"] %}
                <img style="position: relative; top: 3px; height: 15px" title="Locked{% if thread_options['lock_local'] %} (Local){% endif %}{% if thread_options['lock_remote'] %} (Remote){% endif %}" src="/static/
                {%- if thread_options['lock_local'] and not thread_options['lock_remote'] -%}
                    lock_green.png
                {%- elif not thread_options['lock_local'] and thread_options['lock_remote'] -%}
                    lock_red.png
                {%- else -%}
                    lock_green_red.png
                {%- endif -%}
                ">
                {% endif %}
            </td>
            <td style="text-align: center">
                    {% if thread_options["anchor"] %}
                <img style="position: relative; top: 3px; height: 15px" title="Anchored{% if thread_options['anchor_local'] %} (Local){% endif %}{% if thread_options['anchor_remote'] %} (Remote){% endif %}" src="/static/
                {%- if thread_options['anchor_local'] and not thread_options['anchor_remote'] -%}
                    anchor_green.png
                {%- elif not thread_options['anchor_local'] and thread_options['anchor_remote'] -%}
                    anchor_red.png
                {%- else -%}
                    anchor_green_red.png
                {%- endif -%}
                ">
                {% endif %}
            </td>
            <td><a class="link" title="{{each_thread.chan.description|safe}}" href="/board/{{each_thread.chan.address}}/1">/{{each_thread.chan.label|safe}}/</a></td>
            <td>{{generate_reply_link_and_popup_html(None, external_thread=True, link_text=each_thread.subject, moderating=global_admin, use_thread_id=each_thread.id)|safe}}</td>
        </tr>
            {% endfor %}
    </table>
        {% elif search_type == "threads" and not thread_results %}
    <div class="themed bold">No Threads Found</div>
    <div style="padding-top: 2em"></div>
        {% endif %}

        {% if global_admin %}
    <div style="padding: 1em 0">
            {% if search_type == "posts" %}
        <input type="submit" name="bulk_restore_posts" value="Restore Selected Posts" onclick="return confirm('Are you sure you want to restore these?')"/>
        <input type="submit" name="bulk_delete" value="Delete Selected Posts" onclick="return confirm('Are you sure you want to delete these?')"/>
            {% endif %}
            {% if search_type == "threads" %}
        <input type="submit" name="bulk_restore_threads" value="Restore Selected Threads" onclick="return confirm('Are you sure you want to restore these?')"/>
        <input type="submit" name="bulk_delete" value="Delete Selected Threads" onclick="return confirm('Are you sure you want to delete these?')"/>
            {% endif %}
    </div>
        {% endif %}

    </form>

    {% else %}
        <div style="padding-top: 2em"></div>
    {% endif %}

    {% include '/elements/footer_search_pages.html' %}
    <div style="padding-top: 1em"></div>
</div>
{% endblock %}
