{% extends "layout.html" %}

{% block title %}Status - {% endblock %}

{% block head %}
    <style>
        .table th, td {
            text-align: left;
            padding: 0.3em;
        }
    </style>
{% endblock %}

{% block body %}
    {% include '/elements/banner.html' %}
    <br/>

    {% if status_msg["status_message"] %}
        {% include '/elements/status.html' %}
    {% endif %}

    <div class="container">
        <div class="themed" style="max-width: 800px;">
            <div style="width: 100%; padding-bottom: 2em;">
                <table class="table" style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <td colspan=2 style="text-align: center; padding-bottom: 0.5em">
                            <h1 class="title themed bold">BitChan Status</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>{{config.VERSION_BITCHAN}}</td>
                    </tr>
                    <tr>
                        <td>Message Version</td>
                        <td>{{config.VERSION_MSG}}</td>
                    </tr>
                    <tr>
                        <td>Min Message Version</td>
                        <td>{{config.VERSION_MIN_MSG}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>Running</td>
                    </tr>
                    <tr>
                        <td>Total messages processed</td>
                        <td>{{settings.messages_current + settings.messages_older + settings.messages_newer}}</td>
                    </tr>
                    <tr>
                        <td>Current version messages</td>
                        <td>{{settings.messages_current}}</td>
                    </tr>
                    <tr>
                        <td>Older version messages (discarded)</td>
                        <td>{{settings.messages_older}}</td>
                    </tr>
                    <tr>
                        <td>Newer version messages (discarded)</td>
                        <td>{{settings.messages_newer}}</td>
                    </tr>
                    <tr>
                        <td>Attachment Space Used</td>
                        <td>{{human_readable_size(attachment_size)}}</td>
                    </tr>
                </table>

                <table class="table" style="margin-left: auto; margin-right: auto; padding-top: 2em;">
                    <tr>
                        <td colspan=2 style="text-align: center; padding-bottom: 0.5em">
                            <h1 class="title themed bold">BitChan Environment</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>Python Version</td>
                        <td>{% if "version_python" in bc_env %}{{bc_env["version_python"]}}{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Tor Version</td>
                        <td>{{tor_version}}</td>
                    </tr>
                    <tr>
                        <td>i2pd Version</td>
                        <td>{{i2pd_version}}</td>
                    </tr>
                    <tr>
                        <td>Library: regex</td>
                        <td>{% if "version_regex" in bc_env %}{{bc_env["version_regex"]}}{% endif %}</td>
                    </tr>
                </table>

                {% if df %}
                <table class="table" style="margin-left: auto; margin-right: auto; padding-top: 2em;">
                    <tr>
                        <td colspan=2 style="text-align: center; padding-bottom: 0.5em;">
                            <h1 class="title themed bold">Command: df</h1>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family: monospace; white-space: pre;">{{df|safe}}</td>
                    </tr>
                </table>
                {% endif %}

                <table class="table" style="margin-left: auto; margin-right: auto; padding-top: 2em">
                    <tr>
                        <td colspan=3 style="text-align: center">
                            <h1 class="title themed bold">Post Upload Progress</h1>
                        </td>
                    </tr>
    {% if upload_progress %}
                    <tr>
                        <td>Uploading</td>
                        <td>Thread Subject</td>
                        <td>Progress</td>
                    </tr>
        {% for each_upload in upload_progress %}
                    <tr>
                        <td>
                            {{each_upload.uploading}}
                        </td>
                        <td>
                        {% if each_upload.subject|length > 50 %}
                            {{each_upload.subject[:35]}}...{{each_upload.subject[-15:]}}
                        {% else %}
                            {{each_upload.subject}}
                        {% endif %}
                        </td>
                        <td>
                            {{human_readable_size(each_upload.progress_size_bytes)}} /
                            {{human_readable_size(each_upload.total_size_bytes)}}
                            ({{"%.1f"|format(each_upload.progress_percent)}} %)
                        </td>
                    </tr>
        {% endfor %}
    {% else %}
                    <tr>
                        <td colspan=3 style="text-align: center">
                            No uploads to display
                        </td>
                    </tr>
    {% endif %}
                </table>

                <table class="table" style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <td colspan=2 style="text-align: center; padding-top: 2em; padding-bottom: 1em">
                            <h1 class="title themed bold">Bitmessage Status</h1>
                        </td>
                    </tr>
    {% for each_key, each_value in bm_status.items() %}
                    <tr>
                        <td>{{each_key}}</td>
                        <td>{{each_value}}</td>
                    </tr>
    {% endfor %}
                    <tr>
                        <td>Sync Complete</td>
                        <td>{{bm_sync_complete}}</td>
                    </tr>
                    <tr>
                        <td>messages.dat size</td>
                        <td>{{bm_messages_size}}</td>
                    </tr>
                    <tr>
                        <td>knownnodes.dat size</td>
                        <td>{{bm_knownnodes_size}}</td>
                    </tr>
                    <tr>
                        <td>keys.dat size</td>
                        <td>{{bm_keys_size}}</td>
                    </tr>
                </table>

                <table class="table" style="margin-left: auto; margin-right: auto; padding-bottom: 1em">
    {% for each_key, connection_set in bm_connections.items() %}
                    <tr>
                        <td colspan=4 style="text-align: center; padding-top: 0.5em;">
                            <h3 class="themed bold">{% if each_key == "inbound" %}Inbound{% elif each_key == "outbound" %}Outbound{% endif %} Connections</h3>
                        </td>
                    </tr>
                    {% if connection_set %}
                    <tr>
                        <td>Host</td>
                        <td>Port</td>
                        <td>User Agent</td>
                        <td>Fully Established</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan=4>No Connections</td>
                    </tr>
                    {% endif %}
        {% for each_conn in connection_set %}
                    <tr>
                        <td>{{each_conn["host"]}}</td>
                        <td>{{each_conn["port"]}}</td>
                        <td>{{each_conn["userAgent"]}}</td>
                        <td>{{each_conn["fullyEstablished"]}}</td>
                    </tr>
        {% endfor %}
    {% endfor %}
                </table>

                <table class="table themed" style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <td colspan=2 style="text-align: center; padding-top: 2em;">
                            <h1 class="title themed bold">Tor Status</h1>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2 style="text-align: center; padding-bottom: 0.5em;">Hidden Onion Services</td>
                    </tr>
                    <tr>
                        <td colspan=2 style="text-align: center; padding-bottom: 0.5em; word-break: break-word;">Bitmessage Address: {% if tor_enabled_bm %}<span class="replace-spoiler">{{tor_address_bm}}</span>{% else %}Disabled{% endif %}</td>
                    </tr>
                    <tr>
                        <td colspan=2 style="text-align: center; padding-bottom: 0.5em; word-break: break-word;">BitChan Address (Random): {% if tor_enabled_rand and tor_address_rand %}<a class="link replace-spoiler" href="http://{{tor_address_rand}}">http://{{tor_address_rand}}</a>{% else %}Disabled{% endif %}</td>
                    </tr>
                    <tr>
                        <td colspan=2 style="text-align: center; padding-bottom: 2em; word-break: break-word;">BitChan Address (Custom): {% if tor_enabled_cus and tor_address_cus %}<a class="link replace-spoiler" href="http://{{tor_address_cus}}">http://{{tor_address_cus}}</a>{% else %}Disabled{% endif %}</td>
                    </tr>
                    <tr>
                        <td colspan=2 style="text-align: center;">
                            <form method="post">
                                <input type="submit" name="tor_newnym" value="Request New Tor Identity"/>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2 style="text-align: center;">
                            <a class="link" target="_blank" href="https://check.torproject.org/">Check Browser IP Address at check.torproject.org</a>
                        </td>
                    </tr>
    {% for each_key, each_value in tor_status.items() %}
                    <tr>
                        <td>{{each_key}}</td>
                        <td>{{each_value}}</td>
                    </tr>
    {% endfor %}
    {% if tor_circuit_dict %}
                    <tr>
                        <td colspan="2">
                            <section>
                                <details>
                                    <summary>Tor Circuits</summary>
                                        <div>
                                            <table class="table themed" style="margin-left: auto; margin-right: auto;">
                {% for each_id in tor_circuit_dict %}
                                                <tr>
                                                    <td>Circuit {{each_id}} ({{tor_circuit_dict[each_id]["purpose"]}})</td>
                                                    <td>
                    {% for each_sub_circuit in tor_circuit_dict[each_id]["subcircuits"] %}
                                                        {{each_sub_circuit["div"]}}- {{each_sub_circuit["fingerprint"]}} ({{each_sub_circuit["nickname"]}}, {{each_sub_circuit["address"]}})
                                                        {%- if not loop.last %}<br/>{% endif %}
                    {% endfor %}
                                                    </td>
                                                </tr>
                {% endfor %}

                                            </table>
                                        </div>
                                </details>
                            </section>
                        </td>
                    </tr>
    {% endif %}
                </table>

            </div>
        </div>
    </div>

    {% include '/elements/display_boards.html' %}
    {% include '/elements/display_lists.html' %}
    <div style="padding-top: 1em"></div>
{% endblock %}
