{% extends "layout.html" %}

{% block title %}Status{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/jquery-ui-1.12.1.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui-1.12.1.theme.min.css">
    <script src="/static/js/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function() {
            $("#accordion-tor-circuits").show().accordion({
                collapsible: true,
                active: false
            });
        });
    </script>
    <style>
        .table th, td {
            text-align: left;
            padding: 0.3em;
        }
    </style>
{% endblock %}

{% block body %}
    {% include '/elements/banner.html' %}
    <br/>

    {% if status_msg["status_message"] %}
        {% include '/elements/status.html' %}
    {% endif %}

    <div class="container">
        <div class="themed" style="max-width: 800px;">
            <div style="width: 100%; padding-bottom: 2em;">
                <table class="table" style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <td colspan=2 style="text-align: center; padding-bottom: 1em">
                            <h1 class="title themed bold">BitChan Status</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>{{config.VERSION_BITCHAN}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>Running</td>
                    </tr>
                    <tr>
                        <td>Total messages processed</td>
                        <td>{{settings.messages_current + settings.messages_older + settings.messages_newer}}</td>
                    </tr>
                    <tr>
                        <td>Current version messages</td>
                        <td>{{settings.messages_current}}</td>
                    </tr>
                    <tr>
                        <td>Older version messages (discarded)</td>
                        <td>{{settings.messages_older}}</td>
                    </tr>
                    <tr>
                        <td>Newer version messages (discarded)</td>
                        <td>{{settings.messages_newer}}</td>
                    </tr>
                </table>

                <table class="table" style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <td colspan=3 style="text-align: center">
                            <h3>Post Upload Progress</h3>
                        </td>
                    </tr>
    {% if upload_progress %}
                    <tr>
                        <td>Uploading</td>
                        <td>Thread Subject</td>
                        <td>Progress</td>
                    </tr>
        {% for each_upload in upload_progress %}
                    <tr>
                        <td>
                            {{each_upload.uploading}}
                        </td>
                        <td>
                        {% if each_upload.subject|length > 50 %}
                            {{each_upload.subject[:35]}}...{{each_upload.subject[-15:]}}
                        {% else %}
                            {{each_upload.subject}}
                        {% endif %}
                        </td>
                        <td>
                            {{human_readable_size(each_upload.progress_size_bytes)}} /
                            {{human_readable_size(each_upload.total_size_bytes)}}
                            ({{"%.1f"|format(each_upload.progress_percent)}} %)
                        </td>
                    </tr>
        {% endfor %}
    {% else %}
                    <tr>
                        <td colspan=3 style="text-align: center">
                            No uploads to display
                        </td>
                    </tr>
    {% endif %}
                </table>

                <table class="table" style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <td colspan=2 style="text-align: center; padding-top: 2em; padding-bottom: 1em">
                            <h1 class="title themed bold">Bitmessage Status</h1>
                        </td>
                    </tr>
    {% for each_key, each_value in bm_status.items() %}
                    <tr>
                        <td>{{each_key}}</td>
                        <td>{{each_value}}</td>
                    </tr>
    {% endfor %}
                    <tr>
                        <td>Sync Complete</td>
                        <td>{{bitmessage.bm_sync_complete}}</td>
                    </tr>
                </table>

                <table class="table themed" style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <td colspan=2 style="text-align: center; padding-top: 2em; padding-bottom: 1em">
                            <h1 class="title themed bold">Tor Status</h1>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2 style="text-align: center;">
                            <form method="post">
                                <input type="submit" name="tor_newnym" value="Request New BitChan Tor Identity"/>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2 style="text-align: center;">
                            <a class="link" target="_blank" href="https://check.torproject.org/">Check Browser IP Address at check.torproject.org</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>{{tor_version}}</td>
                    </tr>
    {% for each_key, each_value in tor_status.items() %}
                    <tr>
                        <td>{{each_key}}</td>
                        <td>{{each_value}}</td>
                    </tr>
    {% endfor %}
    {% if tor_circuit_dict %}
                    <tr>
                        <td colspan="2">
                             <div id="accordion-tor-circuits">
                                <h3>Tor Circuits</h3>
                                <div>
                                    <table class="table themed" style="margin-left: auto; margin-right: auto;">
        {% for each_id in tor_circuit_dict %}
                                        <tr>
                                            <td>Circuit {{each_id}} ({{tor_circuit_dict[each_id]["purpose"]}})</td>
                                            <td>
            {% for each_sub_circuit in tor_circuit_dict[each_id]["subcircuits"] %}
                                                {{each_sub_circuit["div"]}}- {{each_sub_circuit["fingerprint"]}} ({{each_sub_circuit["nickname"]}}, {{each_sub_circuit["address"]}})
                                                {%- if not loop.last %}<br/>{% endif %}
            {% endfor %}
                                            </td>
                                        </tr>
        {% endfor %}

                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
    {% endif %}
                </table>

            </div>
        </div>
    </div>

    {% include '/elements/display_boards.html' %}
    {% include '/elements/display_lists.html' %}
    {% include '/elements/footer_links.html' %}
    <div style="padding-top: 1em"></div>
{% endblock %}
