{% extends "layout.html" %}

{%- set thread = board["current_thread"] -%}
{%- set is_private = board['current_chan'].access == "private" -%}

{%- set rules = chans_board_info[board['current_chan'].address]["rules"] -%}
{%- set require_identity_to_post = "require_identity_to_post" in rules and rules["require_identity_to_post"] -%}
{%- set disallow_attachments = "disallow_attachments" in rules and rules["disallow_attachments"] -%}

{%- set primary_addresses = chans_board_info[board['current_chan'].address]["primary_addresses"] -%}
{%- set secondary_addresses = chans_board_info[board['current_chan'].address]["secondary_addresses"] -%}
{%- set tertiary_addresses = chans_board_info[board['current_chan'].address]["tertiary_addresses"] -%}
{%- set restricted_addresses = chans_board_info[board['current_chan'].address]["restricted_addresses"] -%}

{%- set primary_access = [] -%}
{%- set secondary_access = [] -%}
{%- set tertiary_access = [] -%}
{%- set on_any_access_list = [] -%}
{% set is_admin = [] %}
{% set can_post = [] %}

{% for id_type in [identities, all_chans] %}
    {% for address in id_type if id_type[address]['enabled'] %}
        {% if address in primary_addresses %}
            {%- do primary_access.append(1) %}
        {% endif %}
        {% if address in secondary_addresses %}
            {%- do secondary_access.append(1) %}
        {% endif %}
        {% if address in tertiary_addresses %}
            {%- do tertiary_access.append(1) %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% if primary_access or secondary_access or tertiary_access %}
    {%- do on_any_access_list.append(1) %}
{% endif %}

{% if (settings.enable_kiosk_mode and logged_in and (has_permission("is_global_admin") or has_permission("is_board_list_admin"))) or not settings.enable_kiosk_mode %}
    {%- do is_admin.append(1) %}
{% endif %}

{% if not is_admin and (not is_private or (is_private and not on_any_access_list)) and board['current_chan'].read_only  %}
    {%- do can_post.append(1) %}
{% endif %}

{% block title %}
(Steg) {{board["current_thread"].subject|safe}} -
{{chans_board_info[board['current_chan'].address]["label"]|safe}} -
{% if is_private -%}
Private
{% else -%}
Public
{% endif %}
Board
 - {% endblock %}

{% block head %}

    {% include '/elements/js_post_paste_attachment.html' %}

    <script>
    {% include '/elements/js_reply_popup.html' %}
    </script>

    <style>
        .overlay {
          position: fixed;
          display: none;
          top: 20px;
          right: 20px;
          width: auto;
          height: auto;
          max-width: 50%;
        }

        @media screen and (max-width: 800px) {
          .overlay {
            position: fixed;
            display: none;
            top: 20px;
            right: 20px;
            width: auto;
            height: auto;
            max-width: 100%;
          }
        }

        .overlay:target {
          display: inline;
        }

        .popup_reply {
          margin: 0px auto;
          padding: 2px;
          border-radius: 5px;
          border: 2px solid #000000;
          width: 100%;
          position: -webkit-sticky;
          position: sticky;
        }

        .popup_reply .close {
          position: absolute;
          top: 0px;
          right: 5px;
          font-size: 30px;
          font-weight: bold;
          text-decoration: none;
          user-select: none;
          font-size: 1em;
        }
    </style>
{% endblock %}

{% block admin_css %}
    {% if board['current_chan'].allow_css %}
    <style>
    {% if board['current_chan'].address in command_options and
          "css" in command_options[board['current_chan'].address] -%}
        {{command_options[board['current_chan'].address]["css"]}}
    {%- endif %}
    </style>
    {% endif %}
{% endblock %}

{% block body %}
    {% if not can_post %}
    <div id="popup_reply" class="overlay" style="z-index: 2;">
        <div id="popup_content" class="themed popup_reply_bg popup_reply">
            <span class="themed">Replying to {{thread.subject|safe}}</span>

        {% if settings.enable_kiosk_mode and settings.kiosk_post_rate_limit %}
            (<span id="post-timer" class="themed" title="Time To Post: the number of seconds until you can post (updated every 20 seconds)">TTP: ... s</span>)
        {% endif %}

            <a class="close themed" href="#close">X</a>
            {% include '/elements/board/post_form_reply_popup.html' %}
        </div>
    </div>
    {% endif %}

    {% include '/elements/display_boards.html' %}
    {% include '/elements/display_lists.html' %}
    {% include '/elements/display_pages.html' %}
    {% include '/elements/banner.html' %}
    <br/>

    {% if status_msg["status_message"] %}
        {% include '/elements/status.html' %}
    {% endif %}

    <center>
        <span class="themed" style="font-size: 1.5em">
    {% if is_private %}
            Private
    {% else %}
            Public
    {% endif %}
            Board <span style="font-size: 0.7em">[<a class="link" title="Catalog" href="/overboard/{{board['current_chan'].address}}/1">Catalog</a> / <a class="link" title="Recent" href="/recent/{{board['current_chan'].address}}/1">Recent</a>]</span>
        </span>
    </center>
    <br/>

    {% include '/elements/title.html' %}

    {%- if board['current_chan'].address in command_options and
           "long_description_display" in command_options[board['current_chan'].address] -%}
    <div class="container">
        <div style="max-width: 800px;">
            <div class="themed" style="width: 100%; text-align: left;">
                {{command_options[board['current_chan'].address]["long_description_display"]|safe}}
            </div>
        </div>
    </div>
    {% endif %}

    {%- if board['current_chan'].read_only -%}
    <div style="padding-top: 1em">
        <center>
            <span class="title themed bold god-text" style="text-decoration: none;">Read-Only Mode</span>
        </center>
    </div>
    {%- endif -%}

    <div style="padding-top: 1em">
        <center>
            <a class="title themed bold" style="text-decoration: none;" href="/thread_steg/{{board['current_chan'].address}}/{{board['current_thread'].thread_hash}}">{{board["current_thread"].subject|safe}}</a>
        </center>
    </div>

    {% if thread_rules %}
    <div style="padding-top: 1em">
        <center>
            <span style="text-decoration: none; font-size: 14px;" class="themed">
                Rules:
        {% for each_rule in thread_rules if each_rule in config.DICT_THREAD_RULES %}
                <br/>{{config.DICT_THREAD_RULES[each_rule]}}
            {% if each_rule == "require_pow_to_reply" and "pow_method" in thread_rules["require_pow_to_reply"] and "pow_difficulty" in thread_rules["require_pow_to_reply"] and "pow_repetitions" in thread_rules["require_pow_to_reply"] %}
                (Method: {{thread_rules["require_pow_to_reply"]["pow_method"]}}, Min: Difficulty {{thread_rules["require_pow_to_reply"]["pow_difficulty"]}}/Repetitions {{thread_rules["require_pow_to_reply"]["pow_repetitions"]}})
            {% endif %}
        {% endfor%}
            </span>
        </center>
    </div>
    {% endif %}

    <div style="padding-top: 1em">
        <center>
            <span style="text-decoration: none; font-size: 18px;" class="themed">
    {% if not can_post -%}
            [</span><a class="link" style="text-decoration: none; font-size: 18px;" href="#popup_reply">Reply</a><span style="text-decoration: none; font-size: 18px;" class="themed">]
    {%- endif -%}
            [<a id="toggle_images" class="link" style="text-decoration: none; font-size: 18px;" href="">Toggle Images</a>]</span>
        </center>
    </div>

    <div style="padding-top: 1em">
        <center class="themed">
            <h1 class="themed bold">Steganography Thread</h1>
            Back to Non-Steg: <a class="link" href="/thread/{{board['current_chan'].address}}/{{board['current_thread'].thread_hash_short}}">Thread</a> / <a class="link" href="/thread/{{board['current_chan'].address}}/{{board['current_thread'].thread_hash_short}}?last=100">Last 100</a>
        </center>
    </div>

    {% set thread_options = get_thread_options(thread.thread_hash) %}

    {% if ((not is_private or (is_private and on_any_access_list)) and (not thread_options['lock_remote'] and not thread_options['lock_local'])) or primary_access %}
    {% else %}
    <center>
        <span class="themed">Insufficient permissions to post</span>
    </center>
    {% endif %}

    <hr/>

    {% set message_op = board["messages"].query
           .filter(board["messages"].thread_id == thread.id)
           .filter(board["messages"].message_sha256_hash == thread.op_sha256_hash)
           .first() %}

    {% if message_op %}
        {% set post = message_op %}
        {% set text = post.message %}
    {% endif %}

    {% if thread.hide %}

    <div class="thread" style="padding-bottom: 1em">
        {% include '/elements/board/thread_hidden.html' %}
    </div>

    {% else %}

    <div class="thread">
        {% if not message_op_steg and not message_replies_steg.count() %}
        <center><span class="god-text">[No steg found]</span></center>
        {% elif message_op_steg %}
            {% set post = message_op_steg %}
            {% set text = format_message_steg(message_op_steg.message_id) %}
            {% include '/elements/board/post_op.html' %}
        {% elif message_op %}
            {% set post = message_op %}
            {% set text = '<span class="god-text">[No steg in OP]</span>' %}
            {% include '/elements/board/post_op.html' %}
        {% else %}
            {% include '/elements/board/op_missing.html' %}
        {% endif %}

        {% for each_message in message_replies_steg %}
            {% set post = each_message %}
            {% set text = format_message_steg(each_message.message_id) %}
        <div class="post plaque" id="{{post.post_id}}">
            {% include '/elements/board/post_reply.html' %}
        </div>
        {% endfor %}
    </div>

    {% endif %}

    <div class="themed" style="clear: both; text-align: left; padding-left: 1.5em;">
        <div class="themed">
        {% if can_post -%}
            <a class="link" href="#popup_reply">Reply</a>
            /
        {%- endif %}
            <a class="link" title="Catalog" href="/overboard/{{board['current_chan'].address}}/1">Catalog</a>
            / <a class="link" title="Recent" href="/recent/{{board['current_chan'].address}}/1">Recent</a>
        </div>
    </div>
    <hr/>

    {% include '/elements/display_boards.html' %}
    {% include '/elements/display_lists.html' %}
    {% include '/elements/display_pages.html' %}
{% endblock %}
