{% if thread %}
    <tr>
      <td class="form themed bold"><label for="sage">Sage</label></td>
      <td colspan="2">
          <input type="checkbox" id="sage" name="sage" value="y"{% if "sage" in form_populate and form_populate["sage"] %} checked{% endif %}/>
      </td>
    </tr>
{% endif %}

{% set max_ttl = get_max_ttl() %}
{% set max_ttl_msg = "" %}
{% if settings.enable_kiosk_mode and settings.kiosk_ttl_option not in ["forced_28_days", "forced_102_hours" , "forced_custom"] %}
    {% set max_ttl_msg = ", max " + max_ttl|string %}
{% elif settings.enable_kiosk_mode and settings.kiosk_ttl_option in ["forced_28_days", "forced_102_hours" , "forced_custom"] %}
    {% set max_ttl_msg = ", static TTL" %}
{% endif %}
    <tr>
      <td class="form themed bold"><label for="ttl">TTL (seconds{{max_ttl_msg}})</label></td>
      <td>
          {% if settings.enable_kiosk_mode and settings.kiosk_ttl_option in ["forced_28_days", "forced_102_hours" , "forced_custom"] %}
          <input style="width: 100%; box-sizing: border-box;" type="number" id="ttl" name="ttl" value="{{max_ttl}}" disabled/>
          <input type="hidden" id="ttl" name="ttl" value="{{max_ttl}}"/>
          {% else %}
          <input style="width: 100%; box-sizing: border-box;" type="number" id="ttl" name="ttl" value="{% if 'ttl' in form_populate and form_populate['ttl'] %}{{form_populate['ttl']}}{% else %}{{max_ttl}}{% endif %}"/>
          {% endif %}
      </td>
    </tr>
    <tr>
        <td class="form themed bold">
            <label for="delete_password">Delete Password <span title="Max 512 characters. Use unique passwords for different posts and record them somewhere (see manual for more info).">&#9432;</span></label>
        </td>
        <td>
            <input class="form" style="width: 100%; box-sizing: border-box;" type="password" maxlength="512" id="delete_password" name="delete_password" value="{% if 'delete_password' in form_populate and form_populate['delete_password'] %}{{form_populate['delete_password']}}{% endif %}"/>
        </td>
    </tr>
    <tr>
        <td class="form themed bold">
            <label for="schedule_post_epoch">Schedule Post Epoch <span title="If epoch is in the future, the post will be scheduled to be posted after the epoch. If the format 'xxxxxx-yyyyyy' is used, the post will occur at a random time between the two epochs. Use an epoch converter.">&#9432;</span></label>
        </td>
        <td>
            <input class="form" style="width: 100%; box-sizing: border-box;" type="text" id="schedule_post_epoch" name="schedule_post_epoch" value="{% if 'schedule_post_epoch' in form_populate and form_populate['schedule_post_epoch'] %}{{form_populate['schedule_post_epoch']}}{% else %}{{time.time()|int}}{% endif %}"/>
        </td>
    </tr>
