<select name="from_address" style="width: 100%">
{% if board["current_chan"].access == "public" and not require_identity_to_post %}
    <option value="{{board['current_chan'].address}}">Anonymous (this chan)</option>
{% endif %}
{% for each_address in identities if identities[each_address]['enabled'] and
	                                 (
	                                  (board["current_chan"].access == "private" and
	                                  (each_address in primary_addresses or
	                                   each_address in secondary_addresses or
	                                   each_address in tertiary_addresses)
	                                 ) or
	                                 board["current_chan"].access == "public" and
	                                 each_address not in restricted_addresses) %}
	<option value="{{each_address}}"{% if "from_address" in form_populate and form_populate["from_address"] == each_address %} selected{% endif %}>Identity: {{each_address[:9]}}...{{each_address[-6:]}}{% if each_address in address_labels %} ({{address_labels[each_address]}}){% endif %}</option>
{% endfor %}
{% for each_address in all_chans if all_chans[each_address]['enabled'] and
							        (
	                                 (board["current_chan"].access == "private" and
	                                 (each_address in primary_addresses or
	                                  each_address in secondary_addresses or
	                                  each_address in tertiary_addresses)
	                                ) or
							        (board["current_chan"].access == "public" and
	                                 each_address != board['current_chan'].address and
	                                 each_address not in restricted_addresses)) %}
	<option value="{{each_address}}"{% if "from_address" in form_populate and form_populate["from_address"] == each_address %} selected{% endif %}>Chan: {{each_address[:9]}}...{{each_address[-6:]}}{% if each_address in address_labels %} ({{address_labels[each_address]}}){% endif %}</option>
{% endfor %}
</select>
