<textarea rows="7" maxlength="246250" class="form" style="width: 100%; box-sizing: border-box;" id="body{% if is_reply %}_reply{% endif %}" name="body">{% if "comment" in form_populate and form_populate["comment"] %}{{form_populate["comment"]}}{% endif %}</textarea>
<div id="accordion-formatting" style="display: none">
	<h3>Post Formatting</h3>
	<div>
		<div class="content" style="border: 1px solid #000; word-wrap: break-word;">
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '@@', '@@');">Bold</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '~~', '~~');">Italic</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '__', '__');">Underline</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '^s', '^s');">Shadow</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '++', '++');">Strike</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '``', '``');">Mark</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '^^', '^^');">Sup</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '%%', '%%');">Sub</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '[flash]', '[/flash]');">Flash</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '**', '**');">Spoiler</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '--', '--');">Small</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '==', '==');">Big</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '^r', '^r');">Red</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '^b', '^b');">Blue</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '^o', '^o');">Orange</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '^c', '^c');">Cyan</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '^p', '^p');">Purple</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '^t', '^t');">Brown</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '[candy]', '[/candy]');">Candy</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '[meme]', '[/meme]');">Meme</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '[autism]', '[/autism]');">Autism</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '[aa]', '[/aa]');">ASCII</button>
			<button type="button" onclick="javascript:lbc('body{% if is_reply %}_reply{% endif %}', '[identity]', '[/identity]');">Ident</button>
		</div>
	</div>
</div>
