<img class="opimg" src="/static/thread.png"/>
ORIGINAL POST UNAVAILABLE
<div tabindex="0" class="menu">
	<span class="link clickable">&#9654;</span>
	<table class="menu-content">
	{% if primary_access %}
	<tr class="menu-entry">
		<td style="white-space: nowrap;">
			<a class="link" href="/delete/{{thread.chan.address}}/0/{{thread.thread_hash}}/thread" onclick="return confirm('Confirm delete thread just for you.')">Delete Thread (For You)</a>
		</td>
	</tr>
	<tr class="menu-entry">
		<td style="white-space: nowrap;">
			<a class="link" href="/delete/{{thread.chan.address}}/0/{{thread.thread_hash}}/thread_all" onclick="return confirm('Confirm delete thread for everyone.')">Delete Thread (For Everyone)</a>
		</td>
	</tr>
	{% else %}
	<tr class="menu-entry">
		<td style="white-space: nowrap;">
			<a class="link" href="/delete/{{thread.chan.address}}/0/{{thread.thread_hash}}/thread">Delete Thread (For You)</a>
		</td>
	</tr>
	{% endif %}
	</table>
</div>
<div class="themed">
	<div>
		<blockquote class="post">
			Either it's beyond the post's time to live (TTL) and no longer available or you have yet to receive it from the network.
		</blockquote>
	</div>
</div>
