<div class="themed" style="display: block; vertical-align: top;" id="{{thread.thread_hash}}">
	<span style="overflow-wrap: break-word;" class="subject bold"><a class="link" href="/thread/{{thread.chan.address}}/{{thread.thread_hash_short}}">{{thread.subject|safe}}</a></span>
	<div tabindex="0" class="menu">
		<span class="link clickable">&#9654;</span>
		<table class="menu-content">
			{% include '/elements/board/post_header_options/sticky_thread_for_you.html' %}
			{% include '/elements/board/post_header_options/lock_thread_for_you.html' %}
			{% include '/elements/board/post_header_options/anchor_thread_for_you.html' %}
			{% include '/elements/board/post_header_options/delete_thread_for_you.html' %}
		{% if primary_access %}
			<tr class="menu-entry"><td></td></tr>
			{% include '/elements/board/post_header_options/sticky_thread_for_everyone.html' %}
			{% include '/elements/board/post_header_options/lock_thread_for_everyone.html' %}
			{% include '/elements/board/post_header_options/anchor_thread_for_everyone.html' %}
			{% include '/elements/board/post_header_options/delete_thread_for_everyone.html' %}
		{% endif %}
		</table>
	</div>
	<div style="display: block; padding-top: 0.3em">
		<div style="float: left; font-size: 0.8em; vertical-align: top; overflow: hidden; border: 1px solid #000; border-radius: 5px; padding: 0.2em; margin-bottom: 1em; margin-right: 1em">
            <img class="opimg" src="/static/thread.png"/>
        </div>
		<blockquote class="post">
			ORIGINAL POST UNAVAILABLE
			<br>Either the post has expired (beyond its TTL) and is no longer available or you have yet to receive it from the network.
		</blockquote>
	</div>
</div>