{% set is_board_view = board['current_thread'] == None %}

{% if is_op_post %}
	{% if steg_found %}
(<a class="link" href="/thread_steg/{{board['current_chan'].address}}/{{post.thread.thread_hash}}">STEG</a>)
	{% endif %}
<span style="overflow-wrap: break-word;" class="subject bold"><a class="link" href="/thread/{{thread.chan.address}}/{{thread.thread_hash}}">{{thread.subject|safe}}</a></span>
{% endif %}

{% if reply_steg %}
(<a class="link" href="/thread_steg/{{board['current_chan'].address}}/{{post.thread.thread_hash}}#{{post_id(post.message_id)}}">STEG</a>)
{% endif %}

<img style="position: relative; top: 3px; width: 15px; height: 15px" src="/icon/{{post.address_from}}">

<span class="poster bold" style="
{%- if post.address_from == config.BITCHAN_DEVELOPER_ADDRESS -%}
font-family: 'Lucida Console', Monaco, monospace; color: purple; background-color: white;
{%- elif post.address_from in primary_addresses -%}
font-family: 'Lucida Console', Monaco, monospace; color: red; background-color: white;
{%- elif post.address_from in secondary_addresses -%}
font-family: 'Lucida Console', Monaco, monospace; color: orange; background-color: white;
{%- elif post.address_from in identities -%}
font-family: 'Lucida Console', Monaco, monospace; color: #047841; background-color: white;
{%- endif -%}
">{{get_user_name(post.address_from, board['current_chan'].address)}}</span>

{% set can_send_message = [] %}
{% set can_add_address_book = [] %}
{% set can_ban_from_board = [] %}
{% set can_block = [] %}

{% if post.address_from not in all_chans and
	  post.address_from not in identities %}
	{%- do can_send_message.append(1) %}
{% endif %}

{% if post.address_from not in all_chans and
	  post.address_from not in identities and
	  post.address_from not in address_book %}
	{%- do can_add_address_book.append(1) %}
{% endif %}

{% if post.address_from != board['current_chan'].address %}
	{%- do can_block.append(1) %}

	{% if primary_access or secondary_access %}
		{%- do can_ban_from_board.append(1) %}
	{% endif %}
{% endif %}

{% if post.address_from != board['current_chan'].address %}
<div tabindex="0" class="menu">
	<span class="link clickable">&#9654;</span>
	<table class="menu-content">
		<tr class="menu-entry">
			<td style="white-space: nowrap;">
				{{post.address_from}} <button type="button" class="btn" title="Copy to Clipboard" onclick="CopyToClipboard('{{post.address_from}}')">&#128203;</button>
			</td>
		</tr>

		{% if can_send_message %}
		<tr class="menu-entry">
			<td style="white-space: nowrap;">
				<a class="link" href="/compose/0/{{post.address_from}}">Send Message</a>
			</td>
		</tr>
		{% endif %}

		{% if can_add_address_book %}
		<tr class="menu-entry">
			<td style="white-space: nowrap;">
				<a class="link" href="/address_book_add/{{post.address_from}}">Add to Address Book</a>
			</td>
		</tr>
		{% endif %}

		{% if can_ban_from_board %}
		<tr class="menu-entry">
			<td style="white-space: nowrap;">
				<a class="link" href="/admin_board_ban_address/{{post.thread.chan.address}}/{{post.address_from}}">Ban from Board (For Everyone)</a>
			</td>
		</tr>
		{% endif %}

		{% if can_block %}
		<tr class="menu-entry">
			<td style="white-space: nowrap;">
				<a class="link" href="/block_address/{{post.thread.chan.address}}/{{post.address_from}}/global">Block from all Boards (For You)</a>
			</td>
		</tr>
		<tr class="menu-entry">
			<td style="white-space: nowrap;">
				<a class="link" href="/block_address/{{post.thread.chan.address}}/{{post.address_from}}/single_board">Block from this Board (For You)</a>
			</td>
		</tr>
		{% endif %}
	</table>
</div>
{% endif %}

{% if post.nation and post.nation in nations %}
	<img style="position: relative; top: 3px;"
		 {%- if nations and post.nation in nations -%}
		 	title="{{nations[post.nation]}}"
		 {% endif %}src="/static/nations/{{post.nation}}">
{% elif post.nation_base64 and post.nation_name %}
	<img style="position: relative; top: 3px; width: 25; height: 15" title="{{post.nation_name}}" src="/custom_flag_by_post_id/{{post.message_id}}">
{% endif %}

{% if post.timestamp_sent %}
	{% if post.expires_time %}
		<span title="TTL Expires {{timestamp_to_date(post.expires_time)}}">{{timestamp_to_date(post.timestamp_sent)}}</span>
	{% else %}
		{{timestamp_to_date(post.timestamp_sent)}}
	{% endif %}
{% endif %}

{% if is_board_view %}
	<a class="link" href="/thread/{{post.thread.chan.address}}/{{post.thread.thread_hash}}#{{post_id(post.message_id)}}">{{post_id(post.message_id)}}</a>
{% else %}
	<a class="link" href="#reply" onclick="javascript:document.getElementById('body_reply').value += '>>{{post_id(post.message_id)}}\n';">{{post_id(post.message_id)}}</a>
{% endif %}

{% if is_board_view and is_op_post %}
	[<a class="link" href="/thread/{{post.thread.chan.address}}/{{post.thread.thread_hash}}">Reply</a>]
{% endif %}

<div tabindex="0" class="menu">
	<span class="link clickable">&#9654;</span>
	<table class="menu-content">
	{% if is_op_post %}
		{% if primary_access %}
		<tr class="menu-entry">
			<td style="white-space: nowrap;">
				<a class="link" href="/delete/{{post.thread.chan.address}}/{{post.message_id}}/{{post.thread.thread_hash}}/thread">Delete Thread (For You)</a>
			</td>
		</tr>
		<tr class="menu-entry">
			<td style="white-space: nowrap;">
				<a class="link" href="/delete/{{post.thread.chan.address}}/{{post.message_id}}/{{post.thread.thread_hash}}/thread_all">Delete Thread (For Everyone)</a>
			</td>
		</tr>
		{% else %}
		<tr class="menu-entry">
			<td style="white-space: nowrap;">
				<a class="link" href="/delete/{{post.thread.chan.address}}/{{post.message_id}}/{{post.thread.thread_hash}}/thread">Delete Thread (For You)</a>
			</td>
		</tr>
		{% endif %}
	{% endif %}
	{% if primary_access %}
		<tr class="menu-entry">
			<td style="white-space: nowrap;">
				<a class="link" href="/delete/{{post.thread.chan.address}}/{{post.message_id}}/{{post.thread.thread_hash}}/post">Delete Post (For You)</a>
			</td>
		</tr>
		<tr class="menu-entry">
			<td style="white-space: nowrap;">
				<a class="link" href="/delete/{{post.thread.chan.address}}/{{post.message_id}}/{{post.thread.thread_hash}}/post_all">Delete Post (For Everyone)</a>
			</td>
		</tr>
		<tr class="menu-entry">
			<td style="white-space: nowrap;">
				<a class="link" href="/delete_with_comment/{{post.thread.chan.address}}/{{post.message_id}}/{{post.thread.thread_hash}}">Delete Post (For Everyone, with Comment)</a>
			</td>
		</tr>
	{% else %}
		<tr class="menu-entry">
			<td style="white-space: nowrap;">
				<a class="link" href="/delete/{{post.thread.chan.address}}/{{post.message_id}}/{{post.thread.thread_hash}}/post">Delete Post (For You)</a>
			</td>
		</tr>
	{% endif %}
	</table>
</div>

{% if not is_board_view %}
	{% for reply in board["nexus_thread"].get_post_replies(post_id(post.message_id)) %}
		<a class="reference link" href="#{{reply}}">&gt;&gt;{{reply}}</a>
	{% endfor %}
{% endif %}

<br/>
{%- if post.file_amount -%}
	{%- if post.file_amount == 1 -%}
		{{"(1 File"}}
	{%- else -%}
		{{"(%s Files" % post.file_amount}}
	{%- endif -%}

	{%- if post.file_size -%}
		{{", " + human_readable_size(post.file_size)}}
	{%- endif -%}

	{%- if post.file_url or (not post.file_url and post.file_size) -%}
		{%- if post.file_size -%}
			{{", "}}
		{%- else -%}
			{{"("}}
		{%- endif -%}
		{%- if post.file_url -%}
			<span title="{{post.file_url}}">{{urlparse(post.file_url).netloc}}</span>
			{%- set site_info = json.loads(post.file_upload_settings) -%}
            {%- if "domain" in site_info and
                  "type" in site_info and
                  "uri" in site_info and
                  "download_prefix" in site_info and
                  "response" in site_info and
                  "direct_dl_url" in site_info and
                  "extra_curl_options" in site_info and
                  "upload_word" in site_info -%}
			    {%- set this_upload_site = upload_sites.query.filter(and_(
                    upload_sites.domain == site_info["domain"],
                    upload_sites.type == site_info["type"],
                    upload_sites.uri == site_info["uri"],
                    upload_sites.download_prefix == site_info["download_prefix"],
                    upload_sites.response == site_info["response"],
                    upload_sites.direct_dl_url == site_info["direct_dl_url"],
                    upload_sites.extra_curl_options == site_info["extra_curl_options"],
                    upload_sites.upload_word == site_info["upload_word"])).first() -%}
                {%- if this_upload_site %}
                    (<a class="link" title="View/edit attachment upload site settings" href="/upload_site/edit/{{this_upload_site.id}}">v</a>)
                {%- else %}
                    (<a class="link" title="Add attachment upload site settings" href="/upload_site/add_msg_id/{{post.message_id}}">a</a>)
                {%- endif -%}
            {%- endif -%}
		{%- else -%}
			Bitmessage
		{%- endif -%}
	{%- endif -%}

	{%- if post.file_enc_cipher and post.file_enc_key_bytes -%}
		{%- if post.file_size or
			   (post.file_url or (not post.file_url and post.file_size)) -%}
			{{", "}}
		{%- else -%}
			{{"("}}
		{%- endif -%}
		{%- if post.file_enc_cipher == "NONE" -%}
		Unencrypted
		{%- else -%}
		{{post.file_enc_key_bytes * 8}}-bit {{post.file_enc_cipher}}
		{%- endif -%}
	{%- endif -%}

	{%- if post.file_size or
		   (post.file_url or (not post.file_url and post.file_size)) or
		   (post.file_enc_cipher and post.file_enc_key_bytes) -%}
		{{")"}}
	{%- endif %}
{%- endif -%}
