{% set is_op_post = False %}
{% set is_board_view = board['board_view'] %}
{% set file_order, attach, number_files = attachment_info(post.message_id) %}

<input type="hidden" id="type_{{post.message_id}}" name="type" value="reply"/>
<input type="hidden" id="num_files_{{post.message_id}}" name="num_files" value="{{number_files}}"/>

<div class="themed" style="display: block; vertical-align: top;">
    <div>
    {% include '/elements/board/post_header.html' %}
    {% include '/elements/board/post_files.html' %}
    </div>

    <div style="display: block; padding-top: 0.3em">

{% if post.hide %}

{% elif post.file_currently_downloading and post.file_progress %}
        <div style="float: left; font-size: 0.8em; vertical-align: top; overflow: hidden; border: 1px solid #000; border-radius: 5px; padding: 0.5em; margin-bottom: 1em; margin-right: 1em">
            {% include '/elements/board/post_filenames_only.html' %}
            Attachment Status: {{post.file_progress}}. <br/>Please wait.
        </div>
{% elif not post.file_currently_downloading and
    post.file_progress and
    post.file_progress != "Attachment processing successful" %}
        <div style="float: left; font-size: 0.8em; vertical-align: top; overflow: hidden; border: 1px solid #000; border-radius: 5px; padding: 0.5em; margin-bottom: 1em; margin-right: 1em">
            {% include '/elements/board/post_filenames_only.html' %}
            Issue processing attachment(s): {{post.file_progress}}
            <form method="post" enctype="multipart/form-data" autocomplete="off">
                <input name="message_id" value="{{post.message_id}}" type="hidden">
                <input type="submit" name="start_download" value="Allow Download"/>
            </form>
        </div>
{% elif post.file_do_not_download %}
        <div style="float: left; font-size: 0.8em; vertical-align: top; overflow: hidden; border: 1px solid #000; border-radius: 5px; padding: 0.5em; margin-bottom: 1em; margin-right: 1em">
            {% include '/elements/board/post_filenames_only.html' %}
            Attachment(s) too large to auto-download<br/>
            <form style="padding-top: 0.5em" method="post" enctype="multipart/form-data" autocomplete="off">
                <input name="message_id" value="{{post.message_id}}" type="hidden">
                <input type="submit" name="start_download" value="Allow Download"/>
            </form>
        </div>
{% elif post.file_sha256_hash and not post.file_sha256_hashes_match %}
        <div style="float: left; font-size: 0.8em; vertical-align: top; overflow: hidden; border: 1px solid #000; border-radius: 5px; padding: 0.5em; margin-bottom: 1em; margin-right: 1em">
            {% include '/elements/board/post_filenames_only.html' %}
            Attachment(s) discarded (SHA256 hashes don't match, likely an issue downloading)<br/>
            <form method="post" enctype="multipart/form-data" autocomplete="off">
                <input name="message_id" value="{{post.message_id}}" type="hidden">
                <input type="submit" name="start_download" value="Download Again"/>
            </form>
        </div>
{% else %}
    {% for file_name in file_order if file_name and file_name in attach %}
        <div style="float: left; font-size: 0.8em; vertical-align: top; border: 0px solid #000; border-radius: 5px; padding: 0.2em; margin-bottom: 1em; margin-right: 1em">
            <div tabindex="0" class="menu">
                <span class="link clickable">▶</span>
                <table class="menu-content">
                    <tbody>
                        <tr class="menu-entry">
                            <td style="white-space: nowrap;">
                                <a class="link" href="/attachment_options/{{board['current_chan'].address}}/{{post.message_id}}/1/{{quote(file_name)}}">Attachment Options</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        {% set file_attributes = [] %}

        {%- if attach[file_name]["size"] -%}
            {{file_attributes.append(human_readable_size(attach[file_name]["size"])) or ""}}
        {%- endif -%}

        {%- if attach[file_name]["width"] and attach[file_name]["height"] -%}
            {{file_attributes.append("%dx%d" % (attach[file_name]["width"], attach[file_name]["height"])) or ""}}
        {%- endif -%}

        {%- if "exif" in attach[file_name] -%}
            {%- set exif_str = '<span style="font-size: 0.8em;" title="' + attach[file_name]['exif']|join('&#10;') + '">EXIF</span>' -%}
            {{file_attributes.append(exif_str|safe) or ""}}
        {%- endif -%}

        {%- if file_attributes -%}
            ({{file_attributes|join(', ')}})<br>
        {%- endif -%}

            <a class="link" title="{{file_name|safe}}" href="/files/file/{{post.message_id}}/{{quote(file_name)}}">
        {%- if file_name|safe|length > 25 -%}
            {{(file_name|safe)[:19]}}...{{(file_name|safe)[-3:]}}
        {%- else -%}
            {{file_name|safe}}
        {%- endif -%}
            </a> (<a class="link" href="/dl/{{post.message_id}}/{{quote(file_name)}}">dl</a>)<br/>

        {% if attach[file_name]["extension"] in config.FILE_EXTENSIONS_IMAGE or
              attach[file_name]["extension"] in config.FILE_EXTENSIONS_VIDEO %}
            <input type="hidden" id="width_{{post.message_id}}_{{loop.index}}" name="width" value="{{attach[file_name]['width']}}"/>
            <input type="hidden" id="height_{{post.message_id}}_{{loop.index}}" name="height" value="{{attach[file_name]['height']}}"/>
        {% endif %}

        {% if not post.file_currently_downloading and
              not post.file_do_not_download and
              (post.file_decoded or ((post.file_url or post.file_torrent_file_hash) and post.file_download_successful)) and
              (attach[file_name]["extension"] in config.FILE_EXTENSIONS_IMAGE +
                                                 config.FILE_EXTENSIONS_VIDEO +
                                                 config.FILE_EXTENSIONS_AUDIO) %}

            {% if attach[file_name]["extension"] in config.FILE_EXTENSIONS_IMAGE %}
            <input type="hidden" id="spoiler_{{post.message_id}}_{{loop.index}}" name="spoiler" value="{% if attach[file_name]['spoiler'] %}1{% else %}0{% endif %}"/>
            <input type="hidden" id="src_thumb_{{post.message_id}}_{{loop.index}}" name="src_thumb" value="/files/thumb/{{post.message_id}}/{{quote(file_name)}}"/>

            {%- if 'height' in attach[file_name] and 'width' in attach[file_name] -%}
                {%- if attach[file_name]['height'] < attach[file_name]['width'] -%}
            <input type="hidden" id="thumb_width_{{post.message_id}}_{{loop.index}}" name="thumb_width" value="130"/>
            <input type="hidden" id="thumb_height_{{post.message_id}}_{{loop.index}}" name="thumb_height" value="{{(attach[file_name]['height'] / attach[file_name]['width'] * 130)|round|int}}"/>
                {%- else -%}
            <input type="hidden" id="thumb_width_{{post.message_id}}_{{loop.index}}" name="thumb_width" value="{{(attach[file_name]['width'] / attach[file_name]['height'] * 130)|round|int}}"/>
            <input type="hidden" id="thumb_height_{{post.message_id}}_{{loop.index}}" name="thumb_height" value="130"/>
                {%- endif -%}
            {%- else -%}
            <input type="hidden" id="thumb_width_{{post.message_id}}_{{loop.index}}" name="thumb_width" value=""/>
            <input type="hidden" id="thumb_height_{{post.message_id}}_{{loop.index}}" name="thumb_height" value=""/>
            {%- endif -%}

            <input type="hidden" id="filename_{{post.message_id}}_{{loop.index}}" name="filename" value="{{quote(file_name)}}"/>
            <img loading="lazy" id="img_{{post.message_id}}_{{loop.index}}" style="

            {%- if 'height' in attach[file_name] and 'width' in attach[file_name] -%}
                {%- if attach[file_name]['height'] < attach[file_name]['width'] -%}
                    height: {{(attach[file_name]['height'] / attach[file_name]['width'] * 130)|round|int}}px; width: 130px;
                {%- else -%}
                    height: 130px; width: {{(attach[file_name]['width'] / attach[file_name]['height'] * 130)|round|int}}px;
                {%- endif -%}
            {%- else -%}
                max-height: 130px; max-width: 130px;
            {%- endif -%}

            border-radius: 2px" class="postimg pic clickable" src="/files/thumb/{{post.message_id}}/{{quote(file_name)}}"{% if attach[file_name]['spoiler'] %} title="Spoiler"{% endif %}>
            {% elif attach[file_name]["extension"] in config.FILE_EXTENSIONS_AUDIO %}
            <div id="audio_{{post.message_id}}_{{loop.index}}" class="video" style="border-radius: 5px; margin: 3px 3px 2px 2px; max-width: 450px;">
                <audio preload="metadata" class="video-horiz volume-75" controls>
                  <source src="/files/file/{{post.message_id}}/{{quote(file_name)}}">
                  Your browser does not support the audio tag.
                </audio>
            </div>
            {% elif attach[file_name]["extension"] in config.FILE_EXTENSIONS_VIDEO %}
                {% set thumb_width, thumb_height = calc_resize(attach[file_name]['width'], attach[file_name]['height'], 150, 150) %}
            <input type="hidden" id="thumb_width_{{post.message_id}}_{{loop.index}}" name="thumb_width" value="{{thumb_width}}px"/>
            <input type="hidden" id="thumb_height_{{post.message_id}}_{{loop.index}}" name="thumb_height" value="{{thumb_height}}px"/>
            <div id="vid_{{post.message_id}}_{{loop.index}}" class="video" style="border: 0px solid #000; border-radius: 5px; margin: 3px 3px 10px 2px; {% if thumb_width %}width: {{thumb_width}}px{% else %}max-width: 250px{% endif %}; {% if thumb_height %}height: {{thumb_height}}px{% else %}max-height: 250px{% endif %};;">
                Click Expand<br/>
                <video class="{% if attach[file_name]['height'] >= attach[file_name]['width'] %}video-vert{% else %}video-horiz{% endif %} volume-75" style="max-width: {% if attach[file_name]['width'] %}{{attach[file_name]['width']}}{% else %}250{% endif %}px; max-height: {% if attach[file_name]['height'] %}{{attach[file_name]['height']}}{% else %}250{% endif %}px;" controls preload="none" poster="/files/thumb_video/{{post.message_id}}/{{quote(file_name)}}">
                    <source src="/files/file/{{post.message_id}}/{{quote(file_name)}}">
                    Your browser does not support the video tag.
                </video>
            </div>
            {% endif %}
        {% elif attach[file_name]["extension"] %}
            <div class="container_file" style="margin: 3px 3px 1px 2px">
                <a class="link" href="/files/file/{{post.message_id}}/{{quote(file_name)}}">
                    <img style="height: 130px" src="/static/file_blank.png">
                    <div class="centered_file">{{attach[file_name]["extension"]|upper}}</div>
                </a>
            </div>
        {% endif %}
        </div>
    {% endfor %}
{% endif %}

{% if post.game_message_extra %}
<section style="padding: 1em 0em">
    <details>
        <summary>Additional Information</summary>
        <div style="padding: 0.5em">
            {{post.game_message_extra|safe}}
        </div>
    </details>
</section>
{% endif %}

{% if post.game_image_file and post.game_image_name and post.game_image_extension and post.game_image_extension in config.FILE_EXTENSIONS_IMAGE %}
<div>
    {% if post.game_image_extension == "svg" %}
    {{post.game_image_file|safe}}
    {% endif %}
</div>
{% endif %}

{% if post.delete_comment %}
        {{post.delete_comment|safe}}
{% elif post.hide %}
        <span class="god-text">[moderated: hidden]</span>
{% else %}
        <input type="hidden" id="truncate_{{post.message_id}}" name="truncate" value="{% if need_truncating %}1{% else %}0{% endif %}"/>
        <br id="newline_{{post.message_id}}" style="
            {%- if number_files > 2 or (not is_board_view and need_truncating) %}
                display: block;
            {%- else -%}
                display: none;
            {%- endif -%}
        clear: both" />

        <blockquote class="post block-reply" style="
            {%- if not is_board_view and need_truncating -%}
                overflow-y: auto; max-height: {{config.THREAD_MAX_HEIGHT_EM}}em;
            {%- endif -%}
        ">{{format_body(post.message_id, text, False, is_board_view)|safe}}</blockquote>
{% endif %}
    </div>
</div>
