{% set isoppost = True %}

    <input type="hidden" id="type_{{post.message_id}}" name="type" value="op"/>

{% if post.file_extension in config.FILE_EXTENSIONS_IMAGE or
      post.file_extension in config.FILE_EXTENSIONS_VIDEO %}
    <input type="hidden" id="width_{{post.message_id}}" name="width" value="{{post.media_width}}"/>
    <input type="hidden" id="height_{{post.message_id}}" name="height" value="{{post.media_height}}"/>
{% endif %}

{% if not post.file_currently_downloading and
      not post.file_do_not_download and
      (post.file_decoded or (post.file_url and post.file_download_successful)) and
      (post.file_extension in config.FILE_EXTENSIONS_IMAGE or
       post.file_extension in config.FILE_EXTENSIONS_VIDEO) %}

    {% if post.file_extension in config.FILE_EXTENSIONS_IMAGE %}
    <input type="hidden" id="src_thumb_{{post.message_id}}" name="src_thumb" value="{% if post.image_spoiler %}/static/spoiler.png{% else %}/files/thumb/{{post.message_id}}/{{post.file_filename}}{% endif %}"/>
	<input type="hidden" id="filename_{{post.message_id}}" name="filename" value="{{post.file_filename}}"/>
    <img id="{{post.message_id}}" class="opimg pic" src="{% if post.image_spoiler %}/static/spoiler.png{% else %}/files/thumb/{{post.message_id}}/{{post.file_filename}}{% endif %}">
    {% elif post.file_extension in config.FILE_EXTENSIONS_AUDIO %}
    <input type="hidden" id="type_{{post.message_id}}" name="type" value="reply"/>
    <div id="{{post.message_id}}" class="video" style="float: left; margin: 1px 10px 10px 10px; max-width: 450px;">
        <audio class="video-insert volume-75" controls>
          <source src="/files/file/{{post.message_id}}/{{post.file_filename}}" type="audio/{{post.file_extension}}">
          Your browser does not support the audio tag.
        </audio>
    </div>
    {% elif post.file_extension in config.FILE_EXTENSIONS_VIDEO %}
    <div id="{{post.message_id}}" class="video" style="border: 1px solid #000; float: left; margin: 1px 10px 10px 10px; max-width: 250px;">
        <video class="video-insert volume-75" controls>
          <source src="/files/file/{{post.message_id}}/{{post.file_filename}}" type="video/{{post.file_extension}}">
          Your browser does not support the video tag.
        </video>
        <center>Click Enlarge/Shrink</center>
    </div>
    {% endif %}
{% elif post.file_extension %}
    <div>
      <a class="newtrailers forward" href="/files/file/{{post.message_id}}/{{post.file_filename}}">
          {{post.file_extension|upper}}
      </a>
    </div>
{% else %}
	<img class="opimg" src="/static/thread.png"/>
{% endif %}
<div class="themed" style="" id="{{post_id(post.message_id)}}">
    <div id="header_{{post.message_id}}">
        {% include '/elements/board/post_header.html' %}
    </div>
    <div>
{% if post.file_currently_downloading %}
        Download status: {{post.file_progress}}. Please wait.
{% elif post.file_do_not_download %}
        File too large to auto-download<br/>
        <form method="post" enctype="multipart/form-data" autocomplete="off">
            <input name="message_id" value="{{post.message_id}}" type="hidden">
            <input type="submit" name="start_download" value="Allow Download"/>
        </form><br/>
{% elif post.file_md5_hash and not post.file_md5_hashes_match %}
        File discarded (MD5 hashes don't match, likely an issue downloading)<br/>
        <form method="post" enctype="multipart/form-data" autocomplete="off">
            <input name="message_id" value="{{post.message_id}}" type="hidden">
            <input type="submit" name="start_download" value="Download Again"/>
        </form><br/>
{% endif %}
        <blockquote class="post">
        {% include '/elements/board/post.html' %}
        </blockquote>
    </div>
</div>
