{% set thread = board["current_thread"] %}
{% set chan = board['current_chan'] %}

<div>
	<form method="post" enctype="multipart/form-data" autocomplete="off">
		<input name="chan" value="{{chan}}" type="hidden">
		<table class="form themed bold" style="table-layout: fixed; max-width: 600px;">
			<tbody>
				<tr>
					<td class="form themed bold">From</td>
					<td colspan="2">
					  <select name="from_address" style="width: 100%">
						{% for each_address in from_list %}
							<option value="{{each_address}}">{{from_list[each_address]}}</option>
						{% endfor %}
						</select>
				    </td>
				</tr>
				<tr>
					<td class="form themed bold">Thread Default From</td>
					<td colspan="2"><input type="checkbox" id="default_from_address" name="default_from_address" value="y"{% if thread.default_from_address or ("default_from_address" in form_populate and form_populate["default_from_address"]) %} checked{% endif %}/></td>
				</tr>
				<tr>
					<td class="form themed bold">Flag</td>
					<td colspan="2">
						{% include '/elements/board/nation_select.html' %}
				    </td>
				</tr>
				<tr>
					<td class="form themed bold">Subject</td>
					<td colspan="2">
						<span class="subject bold">{{thread.subject|safe}}</span>
						<input style="display:none;" name="subject" value="{{thread.subject}}" />
						<input type="hidden" name="board_id" value="{{board['current_chan'].address}}"/>
						<input type="hidden" name="thread_id" value="{{thread.thread_hash}}"/>
						<input type="hidden" name="op_sha256_hash" value="{{thread.op_sha256_hash}}"/>
						<input type="hidden" name="is_op" value="no"/>
					</td>
				</tr>
				<tr>
					<td class="form themed bold">Comment</td>
					<td colspan="2"><textarea rows="7" maxlength="246250" class="form" name="body">{% if "comment" in form_populate and form_populate["comment"] %}{{form_populate["comment"]}}{% endif %}</textarea></td>
				</tr>
				<tr>
					<td class="form themed bold">Steg Comment<br/>(JPG only)</td>
					<td colspan="2"><textarea rows="7" maxlength="246250" class="form" name="steg_message">{% if "steg_comment" in form_populate and form_populate["steg_comment"] %}{{form_populate["steg_comment"]}}{% endif %}</textarea></td>
				</tr>
				<tr>
				  <td colspan="3">
					{% include '/elements/board/form_post_options.html' %}
				  </td>
				</tr>
				<tr>
					<td class="form themed bold">Image/File</td>
					<td colspan="2">
						1 <button type="button" class="btn" title="Remove File" onclick="ClearFile('file1')">&#8856;</button> <input id="file1" name="file1" type="file"/>
						<br/>2 <button type="button" class="btn" title="Remove File" onclick="ClearFile('file2')">&#8856;</button> <input id="file2" name="file2" type="file"/>
						<br/>3 <button type="button" class="btn" title="Remove File" onclick="ClearFile('file3')">&#8856;</button> <input id="file3" name="file3" type="file"/>
						<br/>4 <button type="button" class="btn" title="Remove File" onclick="ClearFile('file4')">&#8856;</button> <input id="file4" name="file4" type="file"/>
						{%- if "file1" in form_populate and form_populate["file1"] %}<br/><strong>PLEASE RESELECT FILE/IMAGE</strong>{% endif %}
					</td>
				</tr>
				<tr>
					<td class="form themed bold">Image to Insert Steg</td>
					<td>
						<select name="image_steg_insert" style="width: 100%">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="form themed bold">Image Spoiler</td>
					<td colspan="2"><input type="checkbox" id="image_spoiler" name="image_spoiler" value="y"{% if "image_spoiler" in form_populate and form_populate["image_spoiler"] %} checked{% endif %}/></td>
				</tr>
				<tr>
					<td class="form themed bold">Strip EXIF<br/><span style="font-size: 0.7em">JPG/PNG only</span></td>
					<td colspan="2"><input type="checkbox" id="strip_exif" name="strip_exif" value="y"{% if "strip_exif" in form_populate and not form_populate["strip_exif"] %}{% else %} checked{% endif %}/></td>
				</tr>
			    <tr>
				    <td class="form themed bold">Upload Method</td>
					<td colspan="2">
					  <select name="upload">
					    <option value="bitmessage"{% if "upload" in form_populate and form_populate["upload"] == "bitmessage" %} selected{% endif %}>Bitmessage (most secure, ~250KB)</option>
					  {% for each_server in upload_sites.query.all() %}
					    <option value="{{each_server.domain}}"{% if "upload" in form_populate and form_populate["upload"] == each_server.domain %} selected{% endif %}>{{each_server.form_name}}</option>
					  {% endfor %}
					  </select>
				    </td>
			    </tr>
				<tr>
					<td class="form themed bold">Upload Encryption<br/><span style="font-size: 0.7em">Non-Bitmessage uploads only</span></td>
					<td>
					  <select name="upload_cipher_and_key">
					  {% for each_cipher in config.UPLOAD_ENCRYPTION_CIPHERS %}
					    <option value="{{each_cipher[0]}}">{{each_cipher[1]}}</option>
					  {% endfor %}
				      </select>
				    </td>
					<td>
						<input class="postbutton" type="submit" name="submit_post" value="Post"/>
					</td>
			    </tr>
			</tbody>
		</table>
	</form>
</div>
