{% set isboardview = board['current_thread'] == None %}

{% set max_lines = 12 %}
{% set max_chars = max_lines * 175 %}
{% if not text %}
    {% set text = "" %}
{% endif %}

<p class="post">
{% set groups = format_body(text).split("<br/>") %}
{% set part1 = "<br/>".join(groups[:max_lines]) %}

{{part1|safe}}

{% if groups[max_lines:]|length > 0 and isboardview %}
	<br>
	<span class="expand">
	<br/>
		Comment truncated.
		<a href="/thread/{{board['current_chan'].address}}/{{post.thread.thread_hash}}#{{post_id(post.message_id)}}" class="link">Click here</a>
		to view the full post.
	</span>
{% else %}
	<br>
	{{"<br/>".join(groups[max_lines:])|safe}}
{% endif %}
</p>
