
Owner Addresses:<br/>
{% if primary_addresses %}
    {% for each_address in primary_addresses -%}
        {%- if each_address in chans_board_info or
               each_address in chans_list_info or
               each_address in identities -%}
<span style="color: green; font-family: monospace">{{each_address[:9]}}...{{each_address[-6:]}}{% if each_address in address_labels %} ({{address_labels[each_address]}}){% endif %}</span>
        {%- else -%}
<span style="font-family: monospace">{{each_address}}{% if each_address in address_labels %} ({{address_labels[each_address]}}){% endif %}</span>
        {%- endif -%}
        {%- if not loop.last %}, {% endif -%}
    {%- endfor -%}
{% else %}
None
{% endif %}
<br/>

Admin Addresses:<br/>
{% if secondary_addresses %}
    {% for each_address in secondary_addresses -%}
        {%- if each_address in chans_board_info or
               each_address in chans_list_info or
               each_address in identities -%}
<span style="color: green; font-family: monospace">{{each_address[:9]}}...{{each_address[-6:]}}{% if each_address in address_labels %} ({{address_labels[each_address]}}){% endif %}</span>
        {%- else -%}
<span style="font-family: monospace">{{each_address}}{% if each_address in address_labels %} ({{address_labels[each_address]}}){% endif %}</span>
        {%- endif -%}
        {%- if not loop.last %}, {% endif -%}
    {%- endfor -%}
{% else %}
None
{% endif %}
<br/>

User Addresses:<br/>
{% if tertiary_addresses %}
    {% for each_address in tertiary_addresses -%}
        {%- if each_address in chans_board_info or
               each_address in chans_list_info or
               each_address in identities -%}
<span style="color: green; font-family: monospace">{{each_address[:9]}}...{{each_address[-6:]}}{% if each_address in address_labels %} ({{address_labels[each_address]}}){% endif %}</span>
        {%- else -%}
<span style="font-family: monospace">{{each_address}}{% if each_address in address_labels %} ({{address_labels[each_address]}}){% endif %}</span>
        {%- endif -%}
        {%- if not loop.last %}, {% endif -%}
    {%- endfor -%}
{% else %}
None
{% endif %}
<br/>

Restricted Addresses:<br/>
{% if restricted_addresses %}
    {% for each_address in restricted_addresses -%}
        {%- if each_address in chans_board_info or
               each_address in chans_list_info or
               each_address in identities -%}
<span style="color: green; font-family: monospace">{{each_address[:9]}}...{{each_address[-6:]}}{% if each_address in address_labels %} ({{address_labels[each_address]}}){% endif %}</span>
        {%- else -%}
<span style="font-family: monospace">{{each_address}}{% if each_address in address_labels %} ({{address_labels[each_address]}}){% endif %}</span>
        {%- endif -%}
        {%- if not loop.last %}, {% endif -%}
    {%- endfor -%}
{% else %}
None
{% endif %}
<br/>
