{% set theme = themes[get_theme()] %}

.crosslink {
  text-shadow: none;
  white-space: normal;
}

a.reply-tooltip {
  outline: none;
}

a.reply-tooltip:hover {
  text-decoration: none;
}

a.reply-tooltip div {
  z-index: 10;
  display: none;
}

a.reply-tooltip:hover div {
  display: block;
  max-width: 95%;
}

.under-wavy {
  color: {{theme.link}};
  text-decoration-style: wavy;
}

.under-dash {
  color: {{theme.link}};
  text-decoration-style: dashed;
}

.under-double {
  color: {{theme.link}};
  text-decoration-style: double;
}

.under-solid {
  color: {{theme.link}};
  text-decoration: underline;
}

.reply-main {
  font-weight: normal;
  background: {{theme.postbg}};
  min-width: 400px;
  margin: 5px 0 0 5px;
  outline: 2px solid {{theme.reply_outline}};
  color: black;
  position: fixed;
  top: 0%;
  left: 0%;
  pointer-events: none;
  align-content: space-between;
  overflow: hidden;
}

.reply-attach {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 5px 5px 0 5px;
  justify-content: center;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}

.reply-header {
  width: 100%;
  margin: 5px;
  text-align: left;
}

.reply-subject {
    color: {{theme.linkhighlight}};
}

.reply-text {
  width: 100%;
  margin: 5px;
  text-align: left;
}

.reply-break {
  flex-basis: 100%;
  height: 0;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 3px 3px;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {background: #eee;}

.container_file {
  position: relative;
  text-align: center;
  color: white;
}

.centered_file {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forward:hover{
    text-decoration: none;
}

.video-horiz {
    width: 100% !important;
    height: auto !important;
}

.video-vert {
    width: auto !important;
    height: 100% !important;
}

.container {
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

.header-inline-block {
    display: inline-block;
    padding-left: 0.5em
}

.margin-6px {
    margin: 6px;
}

.heading-pad {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.heading-bold {
    font-size: 1.2em;
    font-weight: bold;
}

.heading-1 {
    font-size: 2.1em;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.heading-2 {
    font-size: 1.7em;
    font-weight: bold;
    padding-top: .7em;
    padding-bottom: 0.5em;
}

.heading-3 {
    font-size: 1.3em;
    font-weight: bold;
    padding-top: .7em;
    padding-bottom: 0.5em;
}

.heading-4 {
    font-size: 1.1em;
    font-weight: bold;
    padding-top: .7em;
    padding-bottom: 0.5em;
}

.center {
    text-align: center;
}

.head-center {
    text-align: center;
    width: 100%;
}

.input_hidden {
    display: none;
}

.content {
    background: {{theme.bgcolor}};
    margin: 0 0 1px 0;
}

input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
}

@keyframes colorfultext {
    to {background-position: 200% center;}
}

.animated {
    animation: colorfultext 3s linear infinite;
    background: radial-gradient(circle farthest-corner, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    color: #000;
}

.block-reply {
    min-width: 3em;
    word-break: break-word;
}

.replace-shadow {
    color: white;
    text-shadow: 2px 2px 4px {{theme.shadow}};
}

.replace-big {
    font-weight: bold;
    font-size: 15pt;
    color: #AF0A0F;
    text-transform: uppercase;
}

.replace-small {
    font-size: 8pt;
    color: #6A1dE2
}

.replace-blinking {
    animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {opacity: 0;}
}

.replace-spoiler {
    color: {{theme.spoiler}};
    background-color: {{theme.spoiler}};
}

.replace-spoiler:hover {
    color: {{theme.spoiler_hover_text}};
    background-color: {{theme.spoiler_hover_bg}};
}

.language-ascii-art {
    display: block;
    overflow: auto;
    padding: 1em;
    background: #282828;
    width: auto;
    z-index: auto;
    font-family: "Lucida Console", Monaco, monospace;
    color: #33FF00;
    text-shadow: 0 0 20px , 0 0 40px, 0 0 80px , 0 0 100px;
    white-space: pre;
    background-color: #282828;
}

.language-ascii-art a {
    color: #D3DBC2;
    font-family: "Lucida Console", Monaco, monospace;
}

.language-ascii-art a:hover {
    color: #E359B4;
}

.language-ascii-art-s {
    display: block;
    overflow: auto;
    padding: 1em;
    background: #282828;
    width: auto;
    z-index: auto;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.5em;
    color: #33FF00;
    text-shadow: 0 0 20px , 0 0 40px, 0 0 80px , 0 0 100px;
    white-space: pre;
    background-color: #282828;
}

.language-ascii-art-s a {
    font-size: inherit;
    color: #D3DBC2;
    font-family: "Lucida Console", Monaco, monospace;
}

.language-ascii-art-s a:hover {
    color: #E359B4;
}

.language-ascii-art-xs {
    display: block;
    overflow: auto;
    padding: 1em;
    background: #282828;
    width: auto;
    z-index: auto;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.2em;
    color: #33FF00;
    text-shadow: 0 0 20px , 0 0 40px, 0 0 80px , 0 0 100px;
    white-space: pre;
    background-color: #282828;
}

.language-ascii-art-xs a {
    font-size: inherit;
    color: #D3DBC2;
    font-family: "Lucida Console", Monaco, monospace;
}

.language-ascii-art-xs a:hover {
    color: #E359B4;
}

.code {
    overflow: auto;
    padding: .5em;
    background: {{theme.code_bg}};
    width: auto;
    z-index: auto;
    font-family: "Lucida Console", Monaco, monospace;
    color: {{theme.code_text}};
    white-space: pre;
    border: 1px solid #ddd;co
}

.code a {
    color: #db9f2c;
    font-family: monospace;
}

.code a:hover {
    color: #3fd5d0;
}

.god-text {
    font-size: 1.1em;
    width: auto;
    z-index: auto;
    font-family: "Lucida Console", Monaco, monospace;
    color: black;
    background-color: #C0C0C0;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: red;
}

.gpg-outer {
    border: 1px solid {{theme.gpg_outer}};
    word-break: break-word;
    display: inline-block;
    padding: .5em;
}

.gpg-detail {
    width: 40em;
    padding-top: 0.5em;
}

.gpg-inner {
    border: 1px solid {{theme.gpg_inner}};
    padding: 0.6em;
    font-family: monospace;
}

/*beginning of popup*/
.optionsoverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
}
.optionsoverlay:target {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .optionspopup {
    padding: 20px;
    background: {{theme.bgcolor}};
    border-radius: 5px;
    max-width: 400px;
    position: relative;
    border-style: solid;
    border-color: {{theme.options_border}};
  }
}

@media all and (min-width:600px) {
  .optionspopup {
    margin: 70px auto;
    padding: 20px;
    background: {{theme.bgcolor}};
    border-radius: 5px;
    max-width: 400px;
    position: relative;
    border-style: solid;
    border-color: {{theme.options_border}};
  }
}

.optionspopup h2 {
  margin-top: 0;
  color: {{theme.textcolor}};
}

.optionspopup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: {{theme.textcolor}};
}

.optionspopup .content {
  max-height: 30%;
  overflow: auto;
}
/* end of popup */

/* beginning of popup content */
/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px;
  border: 1px solid transparent;
  border-bottom: 0;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: {{theme.head_from}};
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: {{theme.posthighlight}};
}

.tabset > input:checked + label {
  border-color: {{theme.options_tab_border}};
  border-bottom: 1px solid {{theme.divborder}};
  margin-bottom: -1px;
}

.tab-panel {
  padding-top: 15px;
  border-top: 1px solid {{theme.options_tab_border}};
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.tabset {
  max-width: 65em;
}
/* end of popup content */