{% set theme = themes[settings.theme] %}

.crosslink {
  text-shadow: none;
  white-space: normal;
}

a.reply-tooltip {
  outline: none;
}

a.reply-tooltip:hover {
  text-decoration: none;
}

a.reply-tooltip div {
  z-index: 10;
  display: none;
}

a.reply-tooltip:hover div {
  display: flex;
}

.under-wavy {
  color: {{theme.link}};
  text-decoration-style: wavy;
}

.under-dash {
  color: {{theme.link}};
  text-decoration-style: dashed;
}

.under-double {
  color: {{theme.link}};
  text-decoration-style: double;
}

.under-solid {
  color: {{theme.link}};
  text-decoration: underline;
}

.reply-main {
  display: flex;
  font-weight: normal;
  background: {{theme.postbg}};
  max-width: 850px;
  margin: 5px 0 0 5px;
  outline: 2px solid black;
  color: black;
  position: fixed;
  top: 0%;
  left: 0%;
  pointer-events: none;
  flex-flow: row wrap;
  align-content: space-between;
  overflow: hidden;
  z-index: 999;
}

.reply-attach {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 5px 5px 0 5px;
  justify-content: center;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}

.reply-header {
  width: 100%;
  margin: 5px;
}

.reply-subject {
    color: {{theme.linkhighlight}};
}

.reply-text {
  width: 100%;
  margin: 5px;
  text-align: left;
}

.reply-break {
  flex-basis: 100%;
  height: 0;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 3px 3px;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {background: #eee;}

.container_file {
  position: relative;
  text-align: center;
  color: white;
}

.centered_file {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forward:hover{
    text-decoration: none;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    cursor: pointer;
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

#back2Top:hover {
    background-color: #DDF;
    color: #000;
}

#back2Bottom {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    cursor: pointer;
    transform: rotate(90deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

#back2Bottom:hover {
    background-color: #DDF;
    color: #000;
}

.video-insert {
    width: 100% !important;
    height: auto !important;
}

.container {
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

.header-inline-block {
    display: inline-block;
    padding-left: 0.5em
}

.margin-6px {
    margin: 6px;
}

.heading-pad {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.heading-bold {
    font-size: 1.2em;
    font-weight: bold;
}

.heading-1 {
    font-size: 2.1em;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.heading-2 {
    font-size: 1.7em;
    font-weight: bold;
    padding-top: .7em;
    padding-bottom: 0.5em;
}

.heading-3 {
    font-size: 1.3em;
    font-weight: bold;
    padding-top: .7em;
    padding-bottom: 0.5em;
}

.heading-4 {
    font-size: 1.1em;
    font-weight: bold;
    padding-top: .7em;
    padding-bottom: 0.5em;
}

.head-center {
    text-align: center;
    width: 100%;
}

.input_hidden {
    display: none;
}

.content {
    background: {{theme.bgcolor}};
    margin: 0 0 1px 0;
}

input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
}

@keyframes colorfultext {
    to {
        background-position: 200% center;
    }
}

.animated {
    animation: colorfultext 3s linear infinite;
    background: radial-gradient(circle farthest-corner, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    color: #000;
}

.block-reply {
    min-width: 3em;
}

.replace-shadow {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.replace-big {
    font-weight: bold;
    font-size: 15pt;
    color: #AF0A0F;
    text-transform: uppercase;
}

.replace-small {
    font-size: 8pt;
    color: #6A1dE2
}

.replace-blinking {
    animation: blinkingText .5s infinite;
}

@keyframes blinkingText {
    100% {
        color: transparent;
    }
    100% {
        color:  transparent;
    }
}

.replace-spoiler {
    color: black;
    background-color: black;
}

.replace-spoiler:hover {
    color: white;
}

.language-ascii-art {
    display: inline-block;
    padding: 1em;
    background: #282828;
    width: auto;
    z-index: auto;
    font-family: "Lucida Console", Monaco, monospace;
    color: #33FF00;
    text-shadow: 0 0 20px , 0 0 40px, 0 0 80px , 0 0 100px;
    white-space: pre;
    background-color: #282828;
}

.language-ascii-art-s {
    display: inline-block;
    padding: 1em;
    background: #282828;
    width: auto;
    z-index: auto;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.5em;
    color: #33FF00;
    text-shadow: 0 0 20px , 0 0 40px, 0 0 80px , 0 0 100px;
    white-space: pre;
    background-color: #282828;
}

.language-ascii-art-xs {
    display: inline-block;
    padding: 1em;
    background: #282828;
    width: auto;
    z-index: auto;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.2em;
    color: #33FF00;
    text-shadow: 0 0 20px , 0 0 40px, 0 0 80px , 0 0 100px;
    white-space: pre;
    background-color: #282828;
}

.god-text {
    font-size: 1.1em;
    width: auto;
    z-index: auto;
    font-family: "Lucida Console", Monaco, monospace;
    color: black;
    background-color: #C0C0C0;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: red;
}