{% set total_pages = (overboard_info["thread_count"] / per_page)|round(0, "ceil")|int %}

{% if search_count == 0 %}
    {% set pages = [] %}
{% else %}
    {% set pages = range(1, total_pages + 1) %}
{% endif %}

{% if pages|length > 1 %}
<center>
    <div class="pages plaque">
    {% if current_page > 1 %}
        {% if current_page > 2 %}
            <a class="link page-nav" href="/overboard/{{address}}/1">&lt;&lt;</a>&nbsp;&nbsp;
        {% endif %}
        <a class="link page-nav" href="/overboard/{{address}}/{{current_page - 1}}">&lt;</a>&nbsp;&nbsp;
    {% endif %}
    {% for page in pages %}
        {% if page == current_page %}<span class="page-nav" style="font-weight: bold">[{{page}}]</span>{% else %}<a class="link page-nav" href="/overboard/{{address}}/{{page}}">[{{page}}]</a>{% endif %}{% if not loop.last or current_page < pages|length %}&nbsp;&nbsp;{% endif %}
    {% endfor %}
    {% if current_page < pages|length %}
        <a class="link page-nav" href="/overboard/{{address}}/{{current_page + 1}}">&gt;</a>{% if current_page < total_pages - 1 %}&nbsp;&nbsp;{% endif %}
        {% if current_page < total_pages - 1 %}
            <a class="link page-nav" href="/overboard/{{address}}/{{total_pages}}">&gt;&gt;</a>
        {% endif %}
    {% endif %}
    </div>
</center>
{% endif %}
