{% set threadcount = board["threads"].count() %}

{% set total_pages = (threadcount / config.THREADS_PER_PAGE)|round(0, "ceil")|int %}

{% if threadcount == 0 or not 'current_page' in board %}
    {% set pages = [] %}
{% else %}
    {% set pages = range(1, total_pages + 1) %}
{% endif %}

{% if pages|length > 1 %}
<center>
    <div class="pages plaque">
    {% if board["current_page"] > 1 %}
        {% if board["current_page"] > 2 %}
            <a class="link page-nav" href="/board/{{board['current_chan'].address}}/1">&lt;&lt;</a>&nbsp;&nbsp;
        {% endif %}
        <a class="link page-nav" href="/board/{{board['current_chan'].address}}/{{board['current_page'] - 1}}">&lt;</a>&nbsp;&nbsp;
    {% endif %}
    {% for page in pages %}
        {% if page == board['current_page'] %}<span class="page-nav" style="font-weight: bold">[{{page}}]</span>{% else %}<a class="link page-nav" href="/board/{{board['current_chan'].address}}/{{page}}">[{{page}}]</a>{% endif %}{% if not loop.last or board["current_page"] < pages|length %}&nbsp;&nbsp;{% endif %}
    {% endfor %}
    {% if board["current_page"] < pages|length %}
        <a class="link page-nav" href="/board/{{board['current_chan'].address}}/{{board['current_page'] + 1}}">&gt;</a>{% if board["current_page"] < total_pages - 1 %}&nbsp;&nbsp;{% endif %}
        {% if board["current_page"] < total_pages - 1 %}
            <a class="link page-nav" href="/board/{{board['current_chan'].address}}/{{total_pages}}">&gt;&gt;</a>
        {% endif %}
    {% endif %}
    </div>
</center>
{% endif %}
