<div class="themed" style="padding-top: 0.7em">
    <center>
        [ <a class="bold link" href="/">Home</a> /
          <a class="bold link" href="/overboard/0/1">Overboard</a> /
          <a class="bold link" href="/recent/0/1">Recent</a> /
          <a class="bold link" href="/search/0/1">Search</a> /
        {% if not settings.enable_kiosk_mode or (settings.enable_kiosk_mode and logged_in and has_permission("is_global_admin")) -%}
          <a class="bold link" href="/join">Create or Join</a> /
          <a class="bold link" href="/identities">Identities</a> /
          <a class="bold link" href="/mailbox/0/0/0/0">Mailboxes</a> ({{unread_mail}}) /
          <a class="bold link" href="/address_book">Address Book</a> /
          <a class="bold link" href="/configure">Configure</a> /
          <a class="bold link" href="/status">Status</a> /
        {% endif -%}
        {% if not settings.enable_kiosk_mode or
              (settings.enable_kiosk_mode and settings.kiosk_only_admin_access_mod_log and logged_in and has_permission("is_global_admin")) or
              (settings.enable_kiosk_mode and not settings.kiosk_only_admin_access_mod_log) -%}
          <a class="bold link" href="/mod_log/0/1">Mod Log</a> /
        {% endif %}
          <a class="bold link" href="/help">Help</a> /
          <a class="bold link" href="/bug_report">Bug</a>
        {% if settings.enable_kiosk_mode and not logged_in -%}
          / <a class="bold link" href="/login">Log In</a>
        {% elif settings.enable_kiosk_mode and logged_in %}
          / <a class="bold link" href="/login_info">Login Info</a>
          / <a class="bold link" href="/logout">Log Out</a>
        {% endif %}
        ]
    </center>
</div>
