<div class="themed" style="padding-top: 0.7em">
    <center>
        [ <a class="bold link" href="/">Home</a> /
          <a class="bold link" href="/join">Create or Join</a> /
          <a class="bold link" href="/identities">Identities</a> /
          <a class="bold link" href="/mailbox/0/0/0/0">Mailboxes</a> ({{unread_mail}}) /
          <a class="bold link" href="/address_book">Address Book</a> /
          <a class="bold link" href="/configure">Configure</a> /
          <a class="bold link" href="/status">Status</a> /
          <a class="bold link" href="/help">Help</a> /
          <a class="bold link" href="/bug_report">Bug</a> ]
    </center>
</div>
