{% if url and url_text %}
<div style="padding-top: 2em; padding-bottom: 1em; overflow-wrap: break-word;">
    <center>
        <a class="title themed bold" href="{{url}}">{{replace_lt_gt(url_text)|safe}}</a>
    </center>
</div>
{% endif %}

{%- if 'status_title' in status_msg and status_msg['status_title'] == "Success_Silent" %}
{% else %}
<div class="intro bold themed
    {%- if 'status_title' in status_msg and replace_lt_gt(status_msg['status_title']) == 'Error' %} error
    {%- elif 'status_title' in status_msg and replace_lt_gt(status_msg['status_title']) == 'Success' %} success
    {%- endif %}" style="overflow-wrap: break-word;">
    <center><h1 class="bold" style="font-size: 20px; letter-spacing: -1px; margin-top: 0px;">{%- if 'status_title' in status_msg %}{{replace_lt_gt(status_msg['status_title'])|safe}}{% else %}NO TITLE{% endif %}</h1></center>
    {% if status_msg['status_message'] %}
    <br/>
    <center>
        {% for each_msg in status_msg['status_message'] %}
            {% if "no_escape" in status_msg and status_msg["no_escape"] %}
                {{each_msg|safe}}<br/>
            {% else %}
                {{replace_lt_gt(each_msg)|safe}}<br/>
            {% endif %}
        {% endfor %}
    </center>
    {% endif %}
</div>
{% endif %}