{% if url and url_text %}
<div style="padding-top: 2em; padding-bottom: 1em; overflow-wrap: break-word;">
    <center>
        <a class="title themed bold" href="{{url}}">{{replace_lt_gt(url_text)|safe}}</a>
    </center>
</div>
{% endif %}

<div class="intro bold themed" style="overflow-wrap: break-word;">
    <center><h1 class="error bold">{{replace_lt_gt(status_msg["status_title"])|safe}}</h1></center>
    {% if status_msg["status_message"] %}
    <br/>
    <center>
        {% for each_msg in status_msg["status_message"] %}
        {{replace_lt_gt(each_msg)|safe}}<br/>
        {% endfor %}
    </center>
    {% endif %}
</div>
