alembic==1.17.2
audioop-lts==0.2.2  # fix until new pydub release, broken version: pydub==0.25.1
beautifulsoup4==4.14.3
bleach==6.3.0
cachelib==0.13.0
captcha==0.7.1
chess==1.10.0
crudini==0.9.6
cryptography==42.0.8  # Required by pymysql
daemonize==2.5.0
feedgen==1.0.0
filelock==3.20.0
Flask==3.1.2
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
gunicorn==23.0.0
htmllistparse==0.6.1
imagehash==4.3.2
jsonrpclib==0.2.1
markupsafe==2.1.5
matplotlib==3.9.0
msgpack==1.1.2
numpy==2.0.0
opencv-python==4.12.0.88
pandas==2.3.3
piexif==1.1.3  # utils/stegano dependency
Pillow==12.0.0
pillow-avif-plugin==1.5.2
pycryptodome==3.20.0
pycurl==7.45.3
pydub==0.25.1
pymysql==1.1.2  # Required by Flask-SQLAlchemy
pyro5==5.15
python-gnupg==0.5.5
qbittorrent-api==2025.5.0
requests[socks]==2.32.5
requests-toolbelt==1.0.0
setuptools==80.9.0
sortedcontainers==2.4.0
sqlalchemy==2.0.45
stem==1.8.2
torf==4.3.0
user_agent==0.1.14
wget==3.2
wtforms==3.2.1
zipstream-ng==1.9.0
